.main-nav {
    padding: 10px 0;
}

.top-bar-information li {
    font-size: 16px;
    font-weight: 400;
    padding-left: 0;
    letter-spacing: 0.1em;
}

.main-nav-custom {
    padding: 20px 0;
}

.main-navbar .navbar .navbar-nav .nav-item a {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-area {
    background: #f1fff7;
}

.main-navbar .navbar .navbar-nav .nav-item a:hover, .main-navbar .navbar .navbar-nav .nav-item a:focus, .main-navbar .navbar .navbar-nav .nav-item a.active {
    color: #ec1c24;
}

.main-navbar .navbar .navbar-nav .nav-item:hover a, .main-navbar .navbar .navbar-nav .nav-item.active a {
    color: #ec1c24;
}

.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a:hover, .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a:focus, .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
    color: #ec1c24;
}

.main-navbar .navbar .navbar-nav .nav-item a::before {
    background-color: #ec1c24;
}

.top-bar-area.bg-color {
    background-color: #009949;
}

.main-navbar .navbar .others-options .option-item .default-btn {
    padding: 12px 25px;
    background-color: #ec1c24;
}

.option-item{
    margin-left: 68px;
}

.cmd3{
    text-align: right;
}

    .cmd3 span {
        color: #ec1c24;
    }

    .cmd3 i {
        font-size: 50px;
    }


.contact-custom{
    float: left;
}

.main-banner-item {
    height: 395px;
    position: unset;
}

.section-title h2 {
    font-size: 45px;
    margin-bottom: 0;
    font-weight: 700;
}

p {
    font-size: 18px;
}

.section-title-left{
    text-align: left;
}

section-title-left span:before {
    font-size: 30px;
    color: #000;
    text-align: center;
    display: table;
    margin: 20px auto;
    position: relative;
}

#s1 .cmd6:nth-child(2) > div > span {
    
}


