.main-navbar .navbar .navbar-nav .nav-item a {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-area {
    background: #f4f5f4;
}

.main-navbar .navbar .navbar-nav .nav-item a:hover, .main-navbar .navbar .navbar-nav .nav-item a:focus, .main-navbar .navbar .navbar-nav .nav-item a.active {
    color: #ee0c0c;
}

.main-navbar .navbar .navbar-nav .nav-item:hover a, .main-navbar .navbar .navbar-nav .nav-item.active a {
    color: #ee0c0c;
}

.main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a:hover, .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a:focus, .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
    color: #ee0c0c;
}

.main-navbar .navbar .navbar-nav .nav-item a::before {
    background-color: #ee0c0c;
}

.main-navbar .navbar .others-options .option-item .default-btn {
    padding: 12px 25px;
    background-color: #ee0c0c;
}
