
@{
    ViewBag.Title = ViewBag.CategoryBlog.blog_category_name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-banner-area-two">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-banner-content-two">
                    <h2>@ViewBag.CategoryBlog.blog_category_name</h2>
                    <ul>
                        <li>
                            <a href="/">Trang chủ</a>
                        </li>
                        <li>@ViewBag.CategoryBlog.blog_category_name</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Start Reviews Area -->
<section class="reviews-area ptb-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="dashboard-profile">
                    <div class="profile-box">
                        <img src="~/Assets/images/PageDoiNguBacSi/doi-ngu-bac-si.jpg" alt="đội ngũ bác sĩ" />

                        <div class="profile-designation">
                            <h3>Đội ngũ bác sĩ</h3>
                            <p>Phòng khám Đa khoa Bách Giai</p>
                            <span>813 Giải Phóng - Hoàng Mai- Hà Nội</span>
                        </div>
                    </div>
                    <div class="hidden-xs hidden-sm">
                        <div class="profile-box">
                            <img src="~/Assets/images/Banner-benh-xa-hoi.png" alt="bệnh xã hội banner" />
                        </div>
                        <div class="profile-box">
                            <img src="~/Assets/images/Banner-cat-bao-quy-dau.png" alt="cắt bao quy đầu banner" />
                        </div>
                        <div class="profile-box">
                            <img src="~/Assets/images/Banner-xuat-tinh-som.png" alt="xuất tinh sớm banner" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-md-12">
                <div class="reviews-list" id="data_table">
                    @{Html.RenderAction("GetBlog", "Blog", new { page_num = ViewBag.page_num, seo_alias = ViewBag.CategoryBlogSeoAlias });}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Reviews Area -->
