@model IPagedList<Data.blog>
@using Data.Providers;
@using Data;
@using PagedList;
@using PagedList.Mvc;

@{
    var check_box_count = Model.Count();
    var current_datetime = System.DateTime.Now;
    string urlCMS = System.Configuration.ConfigurationManager.AppSettings["urlCMS"];
}
@if (check_box_count == 0)
{
    <div class="row center-div">
        <h3>Không có bài viết nào.</h3>
    </div>
}
else
{
    @foreach (var ns in list_nhan_su)
    {
        <div class="reviews-box">
            <div class="image-box">
                <img src="@urlCMS/@ns.mavatar" alt="@ns.mname">
            </div>

            <div class="reviews-content">
                <h3>@ns.mname</h3>
                <span>@ns.mposition</span>
                <p>@ns.msummary</p>
                <a href="javascript:void(0)" class="reply-btn">Đặt lịch tư vấn</a>
                <div class="rating">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                </div>
            </div>
        </div>
    }
}