.banner-slider .owl-item.active h1 {
    text-transform: capitalize;
}

.header-area .header-left ul li a i {
    color: #fff;
}

.features-section .feature-card i {
    color: #3c0c70;
    font-size: 35px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background: #f5ebff;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    margin-bottom: 30px;
}