
@{
    ViewBag.Title = "Tình hình vận chuyển";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- begin row -->
<div class="row">
    <div class="col-md-12 m-b-30">
        <!-- begin page title -->
        <div class="d-block d-sm-flex flex-nowrap align-items-center">
            <div class="page-title mb-2 mb-sm-0">
                <h1>Tổng quan vận chuyển</h1>
            </div>
            <div class="ml-auto d-flex align-items-center">
                <nav>
                    <ol class="breadcrumb p-0 m-b-0">
                        <li class="breadcrumb-item">
                            <a href="/Home/Index"><i class="ti ti-home"></i></a>
                        </li>
                        <li class="breadcrumb-item">
                            Vận chuyển
                        </li>
                        <li class="breadcrumb-item active text-primary" aria-current="page">Tổng quan vận chuyển</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- end page title -->
    </div>
</div>
<!-- end row -->

<div class="row">
    <div class="col-xl-3 col-sm-6">
        <div class="card card-statistics employees-contant px-2">
            <div class="card-body pb-5 pt-4">
                <div class="text-center">
                    <div class="text-right">
                        <h4><span class="badge badge-pill badge-info px-3 py-2">@ViewBag.ChuaTaoVanChuyen đơn hàng</span></h4>
                    </div>
                    <div class="pt-1 bg-img m-auto img_index_transport">
                        <img src="~/Assets/images/image_system/chua_tao_van_chuyen.png" class="img-fluid" />
                    </div>
                    <div class="mt-3 employees-contant-inner">
                        <h4 class="mb-1">Chưa vận chuyển</h4>
                        <h5 class="mb-0 text-muted">
                            <a>Những đơn hàng vẫn chưa được tạo vận chuyển.</a>
                        </h5>
                        <div class="mt-3 ">
                            <a href="javascript:void(0)" class="btn btn-primary">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6">
        <div class="card card-statistics employees-contant px-2">
            <div class="card-body pb-5 pt-4">
                <div class="text-center">
                    <div class="text-right">
                        <h4><span class="badge badge-pill badge-info px-3 py-2">@ViewBag.Qua24GioChuaLay đơn hàng</span></h4>
                    </div>
                    <div class="pt-1 bg-img m-auto img_index_transport">
                        <img src="~/Assets/images/image_system/qua_24_h_chua_lay.png" class="img-fluid" />
                    </div>
                    <div class="mt-3 employees-contant-inner">
                        <h4 class="mb-1">Quá 24 giờ chưa lấy</h4>
                        <h5 class="mb-0 text-muted">
                            <a>Những đơn hàng chưa được nhà vận chuyển đến lấy trong 24 giờ qua.</a>
                        </h5>
                        <div class="mt-3 ">
                            <a href="javascript:void(0)" class="btn btn-primary">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6">
        <div class="card card-statistics employees-contant px-2">
            <div class="card-body pb-5 pt-4">
                <div class="text-center">
                    <div class="text-right">
                        <h4><span class="badge badge-pill badge-info px-3 py-2">8 đơn hàng</span></h4>
                    </div>
                    <div class="pt-1 bg-img m-auto img_index_transport">
                        <img src="~/Assets/images/image_system/giao_khong_gap_khach.png" class="img-fluid" />
                    </div>
                    <div class="mt-3 employees-contant-inner">
                        <h4 class="mb-1">Không gặp khách hàng</h4>
                        <h5 class="mb-0 text-muted">
                            <a>Những đơn hàng đã được vận chuyển nhưng không gặp khách hàng.</a>
                        </h5>
                        <div class="mt-3 ">
                            <a href="javascript:void(0)" class="btn btn-primary">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6">
        <div class="card card-statistics employees-contant px-2">
            <div class="card-body pb-5 pt-4">
                <div class="text-center">
                    <div class="text-right">
                        <h4><span class="badge badge-pill badge-info px-3 py-2">3 đơn hàng</span></h4>
                    </div>
                    <div class="pt-1 bg-img m-auto img_index_transport">
                        <img src="~/Assets/images/image_system/cho_hoan_tra.png" class="img-fluid"/>
                    </div>
                    <div class="mt-3 employees-contant-inner">
                        <h4 class="mb-1">Chờ chuyển hoàn</h4>
                        <h5 class="mb-0 text-muted">
                            <a>Những đơn hàng có sản phẩm bị trả lại hoặc đổi sản phẩm khác.</a>
                        </h5>
                        <div class="mt-3 ">
                            <a href="javascript:void(0)" class="btn btn-primary">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-12 m-b-30">
        <!-- begin page title -->
        <div class="d-block d-sm-flex flex-nowrap align-items-center">
            <div class="page-title mb-2 mb-sm-0">
                <h1>Tình tình thu hộ</h1>
            </div>
        </div>
        <!-- end page title -->
    </div>
</div>

<div class="row">
    <div class="col-xl-6 col-sm-12">
        <div class="card card-statistics employees-contant px-2">
            <div class="card-body pb-5 pt-4">
                <div class="text-center">
                    <div class="text-right">
                        <h4><span class="badge badge-pill badge-info px-3 py-2">5 vận chuyển</span></h4>
                    </div>
                    <div class="pt-1 bg-img m-auto img_index_transport">
                        <img src="~/Assets/images/image_system/da_giao_chua_nhan.png" class="img-fluid" />
                    </div>
                    <div class="mt-3 employees-contant-inner">
                        <h4 class="mb-1">Đã giao - Chưa nhận</h4>
                        <h5 class="mb-0 text-muted">
                            <a>Những vận chuyển đã giao hàng nhưng chưa nhận được tiền COD.</a>
                        </h5>
                        <div class="mt-3 ">
                            <a href="javascript:void(0)" class="btn btn-primary">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-sm-12">
        <div class="card card-statistics employees-contant px-2">
            <div class="card-body pb-5 pt-4">
                <div class="text-center">
                    <div class="text-right">
                        <h4><span class="badge badge-pill badge-info px-3 py-2">5 vận chuyển</span></h4>
                    </div>
                    <div class="pt-1 bg-img m-auto img_index_transport">
                        <img src="~/Assets/images/image_system/da_doi_soat_chua_nhan.png" class="img-fluid" />
                    </div>
                    <div class="mt-3 employees-contant-inner">
                        <h4 class="mb-1">Đã đối soát - Chưa nhận</h4>
                        <h5 class="mb-0 text-muted">
                            <a>Những vận chuyển đã được đối soát mã nhưng chưa nhận được tiền COD.</a>
                        </h5>
                        <div class="mt-3 ">
                            <a href="javascript:void(0)" class="btn btn-primary">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        $('#shipping_service').addClass('active');
        $('#transport_status').addClass('active');

        $('form').trigger('reset');
    });
</script>