@*<div class="home-slides owl-carousel owl-theme">
    <div class="main-banner item-bg1">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="main-banner-content">
                        <span class="sub-title">Doctor’s for health</span>
                        <h1>Modern and Latest Technology Treatment</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna Quis ipsumpsum.</p>
                        <div class="btn-box">
                            <a href="#" class="btn btn-primary">Make Appointment <i class="flaticon-next"></i></a>
                            <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="video-btn popup-youtube">Watch Now <span><i class="flaticon-play-button"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-banner item-bg2">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="main-banner-content">
                        <span class="sub-title">Keeping Teeth Clean</span>
                        <h1>Klev Health, Keeping Care Close to Home</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna Quis ipsumpsum.</p>
                        <div class="btn-box">
                            <a href="#" class="btn btn-primary">Contact Us <i class="flaticon-next"></i></a>
                            <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="video-btn popup-youtube">Watch Now <span><i class="flaticon-play-button"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@


<div class="slider">
    <div class="swiper-container gallery-top">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <video src="../Assets/videos/video01.mp4" muted autoplay loop></video>
            </div>
            <div class="swiper-slide" data-background="../Assets/images/slide01.jpg"></div>
            <div class="swiper-slide" data-background="../Assets/images/slide02.jpg"></div>
        </div>
        <!-- end swiper-wrapper -->
        <div class="slide-progress">
            <span>01</span>
            <div class="swiper-pagination"></div>
            <span>03</span>
        </div>
    </div>
    <!-- end gallery-top -->
    <div class="swiper-container gallery-thumbs">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><span>DISCOVER</span> <a href="#">DISCOVER CASE</a> </div>
            <div class="swiper-slide"><span>EXCLUSION</span> <a href="#">DISCOVER CASE</a></div>
            <div class="swiper-slide"><span>EDITIONAL</span> <a href="#">DISCOVER CASE</a></div>
        </div>
        <!-- end swiper-wrapper -->
    </div>
    <!-- end gallery-thumbs -->
</div>
<!-- end slider -->

<section class="why-choose-us-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="why-choose-us-content bg-white">
                    <div class="content">
                        <span class="sub-title">Lý do khách hàng nên lựa chọn</span>
                        <h2>Thế mạnh của Lis Pharma</h2>
                        <p>Trải qua nhiều năm xây dựng và phát triển, Lis Pharma tự tin là 1 trong những vị trí dẫn đầu trong ngành nghiên cứu và sản xuất các sản phẩm về dược phẩm. Mang lại niềm tin, niềm hạnh phúc đến với khách hàng thân yêu</p>
                        <ul class="features-list">
                            <li>
                                <div>
                                    <i class="flaticon-doctor"></i>
                                    <span>VÌ SỨC KHỎE CỦA NGƯỜI VIỆT NAM</span>
                                    Nhiều dòng sản phẩm của Lis Pharma đang có mặt tại các nhà thuốc lớn và uy tín trên toàn quốc.
                                </div>
                            </li>
                            <li>
                                <div>
                                    <i class="flaticon-laboratory"></i>
                                    <span>20+ DÒNG SẢN PHẨM CHẤT LƯỢNG</span>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </div>
                            </li>
                            <li>
                                <div>
                                    <i class="flaticon-tooth-3"></i>
                                    <span>CÁC CHỨNG CHỈ Y DƯỢC UY TÍN</span>
                                    Với sứ mệnh kết nối Tây y và Đông y, Lis Pharma được cấp nhiều chứng chỉ uy tín trong ngành y dược.
                                </div>
                            </li>
                            <li>
                                <div>
                                    <i class="flaticon-baby-boy"></i>
                                    <span>HỆ THỐNG PHÂN PHỐI RỘNG KHẮP</span>
                                    Với hơn 100 nhà thuốc liên kết, Lis Pharma có hệ thống phân phối rộng khắp trên thị trường.
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="divider bg-white"></div>
                <div class="why-choose-us-slides owl-carousel owl-theme">
                    <div class="why-choose-us-image bg1">
                        <img src="../Assets/img/why-choose-img1.jpg" alt="image">
                    </div>
                    <div class="why-choose-us-image bg2">
                        <img src="../Assets/img/why-choose-img2.jpg" alt="image">
                    </div>
                    <div class="why-choose-us-image bg3">
                        <img src="../Assets/img/why-choose-img3.jpg" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-twentytwenty-image">
                    <div class="twentytwenty-container">
                        <img src="../Assets/img/about-img2.jpg" alt="image">
                        <img src="../Assets/img/about-img3.jpg" alt="image">
                    </div>
                    <div class="text">
                        <p><span>10</span> Years Experience</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <span class="sub-title">Who we are</span>
                    <h2>Experienced & Specialized Dental Surgeon</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                    <ul class="features-list">
                        <li><span><i class="fas fa-check"></i> Complete Crown</span></li>
                        <li><span><i class="fas fa-check"></i> Cosmetic Filling</span></li>
                        <li><span><i class="fas fa-check"></i> Dental Implants</span></li>
                        <li><span><i class="fas fa-check"></i> Dental Crown</span></li>
                        <li><span><i class="fas fa-check"></i> Dental X-Ray</span></li>
                        <li><span><i class="fas fa-check"></i> Root Canal</span></li>
                    </ul>
                    <div class="signature">
                        <div class="image">
                            <img src="../Assets/img/signature.png" alt="image">
                        </div>
                        <div class="content">
                            <h5>John Jefferson</h5>
                            <span>Chief medical officer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="funfacts-area ptb-100 bg-043d72">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">
                <div class="funfacts-content">
                    <span class="sub-title">Fun Facts</span>
                    <h2>Learn More About Our Success Stories</h2>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-6 col-sm-3">
                        <div class="single-funfacts">
                            <h3><span class="odometer" data-count="858">00</span><sup>+</sup></h3>
                            <p>Happy Clients</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-6 col-sm-3">
                        <div class="single-funfacts">
                            <h3><span class="odometer" data-count="55">00</span><sup>+</sup></h3>
                            <p>Experts Doctors</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-6 col-sm-3">
                        <div class="single-funfacts">
                            <h3><span class="odometer" data-count="800">00</span><sup>+</sup></h3>
                            <p>Quality Work</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-6 col-sm-3">
                        <div class="single-funfacts">
                            <h3><span class="odometer" data-count="15">00</span><sup>+</sup></h3>
                            <p>Award Winners</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="services-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">
                <div class="services-title-content">
                    <span class="sub-title">Services</span>
                    <h2>What We Offer for You to Our Patients to solve Cure</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum rices gravida.</p>
                    <ul class="features-list">
                        <li><i class="fas fa-check"></i> Scientific Skills For getting a better result</li>
                        <li><i class="fas fa-check"></i> Communication Skills to getting in touch</li>
                        <li><i class="fas fa-check"></i> A Career Overview opportunity Available</li>
                    </ul>
                    <a href="#" class="btn btn-primary">Learn More <i class="flaticon-next"></i></a>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="row m-0">
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="single-services-box">
                            <h3><i class="flaticon-dental-implant"></i> Dental Implants <br>Treatment</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tincididunt labore dolore magna aliquauis ipsum.</p>
                            <a href="#" class="read-more-btn">Read More <i class="flaticon-next"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="single-services-box">
                            <h3><i class="flaticon-tooth color-043d72"></i> Dental X-Ray <br>Treatment</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tincididunt labore dolore magna aliquauis ipsum.</p>
                            <a href="#" class="read-more-btn">Read More <i class="flaticon-next"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="single-services-box">
                            <h3><i class="flaticon-tooth-1 color-043d72"></i> Root Canal <br>Treatment</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tincididunt labore dolore magna aliquauis ipsum.</p>
                            <a href="#" class="read-more-btn">Read More <i class="flaticon-next"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="single-services-box">
                            <h3><i class="flaticon-tooth-2"></i> Dental Bridge <br>Treatment</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tincididunt labore dolore magna aliquauis ipsum.</p>
                            <a href="#" class="read-more-btn">Read More <i class="flaticon-next"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="why-choose-us-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="why-choose-us-content">
                    <div class="content">
                        <span class="sub-title">Why You Choose Us</span>
                        <h2>What we do why we are exceptional than others</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <ul class="features-list">
                            <li>
                                <div>
                                    <i class="flaticon-doctor"></i>
                                    <span>Professional Staff</span>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </div>
                            </li>
                            <li>
                                <div>
                                    <i class="flaticon-laboratory"></i>
                                    <span>Oral surgery</span>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </div>
                            </li>
                            <li>
                                <div>
                                    <i class="flaticon-tooth-3"></i>
                                    <span>Crowns lab</span>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </div>
                            </li>
                            <li>
                                <div>
                                    <i class="flaticon-baby-boy"></i>
                                    <span>Kids Dentist</span>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="divider"></div>
                <div class="why-choose-us-slides owl-carousel owl-theme">
                    <div class="why-choose-us-image bg1">
                        <img src="../Assets/img/why-choose-img1.jpg" alt="image">
                    </div>
                    <div class="why-choose-us-image bg2">
                        <img src="../Assets/img/why-choose-img2.jpg" alt="image">
                    </div>
                    <div class="why-choose-us-image bg3">
                        <img src="../Assets/img/why-choose-img3.jpg" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="doctor-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Our Doctors</span>
            <h2>Meet Our Qualified Doctors To Get Support</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="doctor-slides owl-carousel owl-theme">
            <div class="single-doctor-box">
                <div class="image">
                    <img src="../Assets/img/doctor-image/1.jpg" alt="image">
                </div>
                <div class="content">
                    <h3>Dr. Smith Jorge</h3>
                    <span>General Dentist</span>
                    <ul class="social">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="single-doctor-box">
                <div class="image">
                    <img src="../Assets/img/doctor-image/2.jpg" alt="image">
                </div>
                <div class="content">
                    <h3>Dr. Aston Alison</h3>
                    <span>Orthodontist</span>
                    <ul class="social">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="single-doctor-box">
                <div class="image">
                    <img src="../Assets/img/doctor-image/3.jpg" alt="image">
                </div>
                <div class="content">
                    <h3>Dr. Donny Jazz</h3>
                    <span>Periodontist</span>
                    <ul class="social">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="single-doctor-box">
                <div class="image">
                    <img src="../Assets/img/doctor-image/4.jpg" alt="image">
                </div>
                <div class="content">
                    <h3>Dr. Moris Johonson</h3>
                    <span>Endodontist</span>
                    <ul class="social">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="single-doctor-box">
                <div class="image">
                    <img src="../Assets/img/doctor-image/5.jpg" alt="image">
                </div>
                <div class="content">
                    <h3>Dr. Steven Lucy</h3>
                    <span>Pedodontist</span>
                    <ul class="social">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="cta-area ptb-100 jarallax" data-jarallax='{"speed": 0.3}'>
    <div class="container">
        <div class="cta-content">
            <div class="icon">
                <i class="flaticon-business-and-finance"></i>
            </div>
            <h2>Emergency Medical Care 24/7</h2>
            <p>With access to 24 hour emergency assistance, It’s so important you can continue to help others.</p>
            <a href="#" class="call-us"><i class="flaticon-phone-call"></i> 342-875-0564</a>
        </div>
    </div>
</section>


<section class="pricing-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Pricing</span>
            <h2>Cosmetic Composite White Fillings</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-pricing-box">
                    <div class="pricing-header bg1">
                        <h3>Basic</h3>
                    </div>
                    <ul class="pricing-features-list">
                        <li><i class="fas fa-check"></i> Complete Denture</li>
                        <li><i class="fas fa-check"></i> Cosmetic Filling</li>
                        <li><i class="fas fa-check"></i> Dental Implants</li>
                        <li><i class="fas fa-check"></i> Dental Crown and Bridge</li>
                        <li><i class="fas fa-check"></i> Dental X-Ray</li>
                    </ul>
                    <div class="price">
                        <sub>$</sub>179<sub>/mo</sub>
                    </div>
                    <div class="book-now-btn">
                        <a href="#" class="btn btn-primary">Choose Plan <i class="flaticon-next"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-pricing-box">
                    <div class="pricing-header bg2">
                        <h3>Professional</h3>
                    </div>
                    <ul class="pricing-features-list">
                        <li><i class="fas fa-check"></i> Complete Denture</li>
                        <li><i class="fas fa-check"></i> Cosmetic Filling</li>
                        <li><i class="fas fa-check"></i> Dental Implants</li>
                        <li><i class="fas fa-check"></i> Dental Crown and Bridge</li>
                        <li><i class="fas fa-check"></i> Dental X-Ray</li>
                    </ul>
                    <div class="price">
                        <sub>$</sub>295<sub>/mo</sub>
                    </div>
                    <div class="book-now-btn">
                        <a href="#" class="btn btn-primary">Choose Plan <i class="flaticon-next"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                <div class="single-pricing-box">
                    <div class="pricing-header bg3">
                        <h3>Premium</h3>
                    </div>
                    <ul class="pricing-features-list">
                        <li><i class="fas fa-check"></i> Complete Denture</li>
                        <li><i class="fas fa-check"></i> Cosmetic Filling</li>
                        <li><i class="fas fa-check"></i> Dental Implants</li>
                        <li><i class="fas fa-check"></i> Dental Crown and Bridge</li>
                        <li><i class="fas fa-check"></i> Dental X-Ray</li>
                    </ul>
                    <div class="price">
                        <sub>$</sub>139<sub>/mo</sub>
                    </div>
                    <div class="book-now-btn">
                        <a href="#" class="btn btn-primary">Choose Plan <i class="flaticon-next"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="feedback-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Feedback</span>
            <h2>What Customer Saying About us</h2>
        </div>
        <div class="feedback-slides owl-carousel owl-theme">
            <div class="single-feedback-item">
                <p>“While The Lovely Valley Teems With Vapour Around Me, And The Meridian Sun Strikes The Upper Surface Of The Impenetrable Foliage Of My Trees. A Wonderful Serenity Has Taken.”</p>
                <div class="client-info">
                    <h4>James Anderson</h4>
                    <span>Teeth Washing</span>
                </div>
            </div>
            <div class="single-feedback-item">
                <p>“While The Lovely Valley Teems With Vapour Around Me, And The Meridian Sun Strikes The Upper Surface Of The Impenetrable Foliage Of My Trees. A Wonderful Serenity Has Taken.”</p>
                <div class="client-info">
                    <h4>David Warner</h4>
                    <span>Teeth Washing</span>
                </div>
            </div>
            <div class="single-feedback-item">
                <p>“While The Lovely Valley Teems With Vapour Around Me, And The Meridian Sun Strikes The Upper Surface Of The Impenetrable Foliage Of My Trees. A Wonderful Serenity Has Taken.”</p>
                <div class="client-info">
                    <h4>Jos Butler</h4>
                    <span>Teeth Washing</span>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="partner-area">
    <div class="container">
        <div class="partner-slides owl-carousel owl-theme">
            <div class="single-partner-item">
                <a href="#">
                    <img src="../Assets/img/partner-image/1.png" alt="image">
                </a>
            </div>
            <div class="single-partner-item">
                <a href="#">
                    <img src="../Assets/img/partner-image/2.png" alt="image">
                </a>
            </div>
            <div class="single-partner-item">
                <a href="#">
                    <img src="../Assets/img/partner-image/3.png" alt="image">
                </a>
            </div>
            <div class="single-partner-item">
                <a href="#">
                    <img src="../Assets/img/partner-image/4.png" alt="image">
                </a>
            </div>
            <div class="single-partner-item">
                <a href="#">
                    <img src="../Assets/img/partner-image/5.png" alt="image">
                </a>
            </div>
        </div>
    </div>
</section>


<section class="blog-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Our Blog</span>
            <h2>Read Our Latest Articles</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a href="#"><img src="../Assets/img/blog-image/1.jpg" alt="image"></a>
                        <div class="date"><i class="far fa-calendar-alt"></i> Oct 14, 2019</div>
                    </div>
                    <div class="post-content">
                        <h3><a href="#">Can Sparkling Water Damage your Teeth like Soda Does?</a></h3>
                        <p>Luis ipsum suspendisse ultrices. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                        <a href="#" class="read-more-btn">Read More <i class="flaticon-next-1"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a href="#"><img src="../Assets/img/blog-image/2.jpg" alt="image"></a>
                        <div class="date"><i class="far fa-calendar-alt"></i> Oct 10, 2019</div>
                    </div>
                    <div class="post-content">
                        <h3><a href="#">Diabetes and Oral Health – The Not-so-sweet Connection</a></h3>
                        <p>Luis ipsum suspendisse ultrices. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                        <a href="#" class="read-more-btn">Read More <i class="flaticon-next-1"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a href="#"><img src="../Assets/img/blog-image/3.jpg" alt="image"></a>
                        <div class="date"><i class="far fa-calendar-alt"></i> Sep 13, 2019</div>
                    </div>
                    <div class="post-content">
                        <h3><a href="#">For Oral Health, Does Vaping Smoke the Competition?</a></h3>
                        <p>Luis ipsum suspendisse ultrices. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                        <a href="#" class="read-more-btn">Read More <i class="flaticon-next-1"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="blog-notes">
                    <p>Insights to help you do what you do better, faster and more profitably. <a href="#">Read Full Blog</a></p>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="subscribe-area">
    <div class="container">
        <div class="subscribe-inner">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12">
                    <div class="subscribe-content">
                        <h2>Join Our Newsletter</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12">
                    <div class="subscribe-form">
                        <form class="newsletter-form" data-toggle="validator">
                            <input type="email" class="input-newsletter" placeholder="Enter your email address" name="EMAIL" required autocomplete="off">
                            <button type="submit">Subscribe Now <i class="flaticon-next"></i></button>
                            <div id="validator-newsletter" class="form-result"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>