
@{
    ViewBag.Title = "PageDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var page_parent = new page();
    if (Model.page_parent_id > 0)
    {
        page_parent = new PageProvider().getById((int)Model.page_parent_id);
    }
}

<h2>PageDetail</h2>

