
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Title -->
<div class="page-title parallax parallax1 flat_strech">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title">Our Shop</h1>
                    <div class="breadcrumbs">
                        <ul>
                            <li> <a href="#">Home </a></li>
                            <li><a href="#">Shop</a></li>
                        </ul>
                    </div>
                </div><!-- /.page-title-captions -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>

<section class="flat-row products shop-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section style2 ">
                    <h1 class="title">Food</h1>
                </div>
                <form class="flat-shop-ordering" method="get">
                    <select name="orderby" class="orderby">
                        <option value="menu_order" selected="selected">Sort by date</option>
                        <option value="popularity">Sort by popularity</option>
                        <option value="rating">Sort by average rating</option>
                        <option value="date">Sort by newness</option>
                        <option value="price">Sort by price: low to high</option>
                        <option value="price-desc">Sort by price: high to low</option>
                    </select>
                </form>
            </div><!--col-md-12-->
        </div><!--row-->

        <div class="row">
            <div class="col-sm-3 col-xs-6">
                <div class="product effect1">
                    <div class="box-wrap">
                        <div class="box-image">
                            <a href="#"><img src="images/imagebox/2.jpg" alt="images"></a>
                        </div>
                        <div class="box-content">
                            <h6>ITALIAN SOURCE MUSHROOM</h6>
                            <ul>
                                <li>$19.9</li>
                                <li>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-xs-6">
                <div class="product effect1">
                    <div class="box-wrap">
                        <div class="box-image">
                            <a href="#"><img src="images/imagebox/3.jpg" alt="images"></a>
                        </div>
                        <div class="box-content">
                            <h6>CRAB WITH CURRY SOURCES</h6>
                            <ul>
                                <li>$19.9</li>
                                <li>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-xs-6">
                <div class="product effect1">
                    <div class="box-wrap">
                        <div class="box-image">
                            <a href="#"><img src="images/imagebox/4.jpg" alt="images"></a>
                        </div>
                        <div class="box-content">
                            <h6>PORK WITH ITALIAN SALSA</h6>
                            <ul>
                                <li>$19.9</li>
                                <li>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-xs-6">
                <div class="product effect1">
                    <div class="box-wrap">
                        <div class="box-image">
                            <a href="#"><img src="images/shop/8.jpg" alt="images"></a>
                        </div>
                        <div class="box-content">
                            <h6>PORK WITH ITALIAN SALSA</h6>
                            <ul>
                                <li>$19.9</li>
                                <li>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="product effect1">
                    <div class="box-wrap">
                        <div class="box-image">
                            <a href="#"><img src="images/shop/9.jpg" alt="images"></a>
                        </div>
                        <div class="box-content">
                            <h6>ITALIAN SOURCE MUSHROOM</h6>
                            <ul>
                                <li>$19.9</li>
                                <li>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-xs-6">
                <div class="product effect1">
                    <div class="box-wrap">
                        <div class="box-image">
                            <a href="#"><img src="images/shop/10.jpg" alt="images"></a>
                        </div>
                        <div class="box-content">
                            <h6>CRAB WITH CURRY SOURCES</h6>
                            <ul>
                                <li>$19.9</li>
                                <li>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-xs-6">
                <div class="product effect1">
                    <div class="box-wrap">
                        <div class="box-image">
                            <a href="#"><img src="images/shop/11.jpg" alt="images"></a>
                        </div>
                        <div class="box-content">
                            <h6>PORK WITH ITALIAN SALSA</h6>
                            <ul>
                                <li>$19.9</li>
                                <li>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-xs-6">
                <div class="product effect1">
                    <div class="box-wrap">
                        <div class="box-image">
                            <a href="#"><img src="images/shop/12.jpg" alt="images"></a>
                        </div>
                        <div class="box-content">
                            <h6>PORK WITH ITALIAN SALSA</h6>
                            <ul>
                                <li>$19.9</li>
                                <li>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-xs-6">
                <div class="product effect1">
                    <div class="box-wrap">
                        <div class="box-image">
                            <a href="#"><img src="images/shop/13.jpg" alt="images"></a>
                        </div>
                        <div class="box-content">
                            <h6>ITALIAN SOURCE MUSHROOM</h6>
                            <ul>
                                <li>$19.9</li>
                                <li>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-xs-6">
                <div class="product effect1">
                    <div class="box-wrap">
                        <div class="box-image">
                            <a href="#"><img src="images/shop/14.jpg" alt="images"></a>
                        </div>
                        <div class="box-content">
                            <h6>CRAB WITH CURRY SOURCES</h6>
                            <ul>
                                <li>$19.9</li>
                                <li>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-xs-6">
                <div class="product effect1">
                    <div class="box-wrap">
                        <div class="box-image">
                            <a href="#"><img src="images/shop/15.jpg" alt="images"></a>
                        </div>
                        <div class="box-content">
                            <h6>PORK WITH ITALIAN SALSA</h6>
                            <ul>
                                <li>$19.9</li>
                                <li>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-xs-6">
                <div class="product effect1">
                    <div class="box-wrap">
                        <div class="box-image">
                            <a href="#"><img src="images/shop/16.jpg" alt="images"></a>
                        </div>
                        <div class="box-content">
                            <h6>PORK WITH ITALIAN SALSA</h6>
                            <ul>
                                <li>$19.9</li>
                                <li>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                    <i class="fa fa-heart"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <nav class="navigation  paging-navigation pager-numeric">
                <div class="pagination loop-pagination">
                    <span class="page-numbers current">1</span>
                    <a class="page-numbers" href="#">2</a>
                    <a class="page-numbers" href="#">3</a>
                    <a class="next page-numbers" href="#">Next</a>
                </div>
            </nav>


        </div><!--row-->
    </div><!--container -->
</section>