
@{
    ViewBag.Title = "Đông trùng hạ thảo Bio Việt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner Section -->
<section class="banner-section banner-two">
    <div class="banner-carousel owl-theme owl-carousel">
        <!-- Slide Item -->
        <div class="slide-item">
            <div class="image-layer" style="background-image: url(../Assets/images/main-slider/4.jpg);"></div>
            <div class="auto-container">
                <div class="content-box">
                    <div class="content clearfix">
                        @*<div class="inner">
                            <div class="subtitle">Luôn tỉnh táo mỗi ngày</div>
                            <h1>Đông trùng hạ thảo Bio Việt</h1>
                            <div class="link-box clearfix">
                                <a href="about.html" class="theme-btn btn-style-one"><span class="btn-title">Xem Thêm <i class="arrow flaticon-play-button-1"></i></span></a>
                                <a href="contact.html" class="theme-btn btn-style-three"><span class="btn-title">Liên Hệ <i class="arrow flaticon-play-button-1"></i></span></a>
                            </div>

                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Banner Section -->
<!--Areas Section-->
<section class="areas-section">
    <div class="auto-container">
        <div class="inner-container">
            <div class="row clearfix">
                <!--Area Block-->
                <div class="area-block col-lg-4 col-md-12 col-sm-12">
                    <div class="inner">
                        <div class="content">
                            <div class="icon"><span class="flaticon-flower-shop"></span></div>
                            <h5><a href="#">Commercial Area</a></h5>
                            <div class="sub-text">Land local open spaces</div>
                        </div>
                        <div class="link-box"><a href="#" class="theme-btn"><span class="flaticon-plus-1"></span></a></div>
                    </div>
                </div>
                <!--Area Block-->
                <div class="area-block col-lg-4 col-md-12 col-sm-12">
                    <div class="inner">
                        <div class="content">
                            <div class="icon"><span class="flaticon-house-1"></span></div>
                            <h5><a href="#">Residential Area</a></h5>
                            <div class="sub-text">Land surrounding a home</div>
                        </div>
                        <div class="link-box"><a href="#" class="theme-btn"><span class="flaticon-plus-1"></span></a></div>
                    </div>
                </div>
                <!--Area Block-->
                <div class="area-block col-lg-4 col-md-12 col-sm-12">
                    <div class="inner">
                        <div class="content">
                            <div class="icon"><span class="flaticon-park-3"></span></div>
                            <h5><a href="#">Public Area</a></h5>
                            <div class="sub-text">Land open to the Public</div>
                        </div>
                        <div class="link-box"><a href="#" class="theme-btn"><span class="flaticon-plus-1"></span></a></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!--About Two-->
<section class="about-two">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Text Column-->
            <div class="text-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner">
                    <div class="sec-title">
                        <div class="title-icon"><span class="icon"><img src="../Assets/images/icons/leaf-two.png" alt="" title=""></span></div>
                        <div class="subtitle">Về chúng tôi</div>
                        <h2>Đồng trùng hạ thảo <span>Bio Việt</span></h2>
                    </div>
                    <div class="text">
                        <p class="bigger-text">Việt Nam "rừng vàng, biển bạc" là một trong những điều kiện để Y học cổ truyền Việt phát triển từ rất sớm.</p>
                        <p>Ngay từ thời của thiền sư Tuệ Tĩnh đã sử dụng thảo dược để chữa bệnh, cứu người, lấy tiêu chí trong chữa bệnh là "Nam dược trị Nam nhân" - Thuốc của người Việt, chữa bệnh cho người Việt.</p>
                    </div>
                    <div class="insured">
                        <div class="icon"><span class="flaticon-insurance"></span></div>
                        <h5>Được nghiên cứu và sản xuất tại Việt Nam</h5>
                        <div class="text">Trăn trở trước những giá trị tuyệt vời của y học cổ truyền đang bị “đe dọa”, Bio Việt đã được thành lập gồm các bác sĩ tận tâm với người bệnh, chuyên môn cao và hết lòng với y học cổ truyền.</div>
                    </div>
                    <div class="lower-box clearfix">
                        <div class="link-box">
                            <a href="about.html" class="theme-btn btn-style-three alternate"><span class="btn-title">Xem Chi Tiết <i class="arrow flaticon-play-button-1"></i></span></a>
                        </div>
                        <div class="iso">
                            <div class="iso-icon"><span class="icon"><img src="../Assets/images/icons/iso-icon.png" alt=""></span></div>
                            <div class="txt">Chứng chỉ của chúng tôi</div>
                            <div class="number">ISO 9001:2015</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Image Column-->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner">
                    <div class="image-box">
                        <figure class="image"><img src="../Assets/images/resource/anim-image-3.png" alt="" title=""></figure>

                        <a href="https://www.youtube.com/watch?v=CB_rXABU8DI" class="vid-link lightbox-image">
                            <span class="image"><img src="../Assets/images/resource/vid-thumb-1.jpg" alt="" title=""></span>
                            <span class="icon flaticon-play-button-1"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Facts Section-->
<section class="facts-two">
    <div class="outer-container">
        <div class="row clearfix">
            <!--Title Column-->
            <div class="fact-block col-lg-3 col-md-6 col-sm-12">
                <div class="inner">
                    <div class="icon-box"><span class="flaticon-gardener"></span></div>
                    <div class="fact-count"><div class="count-box"><span class="count-text" data-stop="14" data-speed="2000">0</span><span class="title">Sản Phẩm</span></div></div>
                    <div class="sub-text">Đã Được Sản Xuất</div>
                </div>
            </div>

            <!--Title Column-->
            <div class="fact-block col-lg-3 col-md-6 col-sm-12">
                <div class="inner">
                    <div class="icon-box"><span class="flaticon-park"></span></div>
                    <div class="fact-count"><div class="count-box"><span class="count-text" data-stop="35" data-speed="2000">0</span><span class="title">Dự Án</span></div></div>
                    <div class="sub-text">Đã Nghiên Cứu</div>
                </div>
            </div>

            <!--Title Column-->
            <div class="fact-block col-lg-3 col-md-6 col-sm-12">
                <div class="inner">
                    <div class="icon-box"><span class="flaticon-medal"></span></div>
                    <div class="fact-count"><div class="count-box"><span class="count-text" data-stop="23" data-speed="2000">0</span>+<span class="title">Đề Tài</span></div></div>
                    <div class="sub-text">Nghiên Cứu Khoa Học</div>
                </div>
            </div>

            <!--Title Column-->
            <div class="fact-block col-lg-3 col-md-6 col-sm-12">
                <div class="inner">
                    <div class="icon-box"><span class="flaticon-customer-review-1"></span></div>
                    <div class="fact-count"><div class="count-box"><span class="count-text" data-stop="50" data-speed="2000">0</span>+<span class="title">Đối Tác</span></div></div>
                    <div class="sub-text">Đăng Ký Phân Phối</div>
                </div>
            </div>

        </div>

    </div>
</section>

<!--Main Services Section-->
<section class="main-services">
    <div class="auto-container">
        <div class="title-box">
            <div class="row clearfix">
                <div class="left-col col-xl-6 col-lg-12 col-md-12">
                    <div class="sec-title alternate">
                        <div class="title-icon"><span class="icon"><img src="../Assets/images/icons/leaf-four.png" alt="" title=""></span></div>
                        <div class="subtitle">Nghiên cứu và sản xuất</div>
                        <h2>Sản phẩm của Bio Việt</h2>
                    </div>
                </div>
                <div class="right-col col-xl-6 col-lg-12 col-md-12">
                    <div class="text">Sau hơn 3 năm nghiên cứu và phát triển. Chúng tôi đã tiến hành thử nghiệm và đưa ra sản xuất với quy mô lớn.</div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <!--Service block-->
            <div class="service-block col-lg-3 col-md-4 col-sm-12">
                <div class="inner-box">
                    <div class="upper">
                        <div class="image-box">
                            <img src="../Assets/images/resource/featured-image-9.jpg" alt="" title="">
                        </div>
                        <div class="hvr-icon"><span class="flaticon-hedge"></span></div>
                    </div>
                    <div class="lower">
                        <div class="icon-right"><span class="flaticon-hedge"></span></div>
                        <h5><a href="spring-service.html">Quả Đông trùng hạ thảo</a></h5>
                        <div class="text">
                            <p>Loại sản phẩm: Thực phẩm</p>
                            <p>Đặc điểm: dạng quả thể khô</p>
                            <p>Bao gói: Đóng hộp</p>
                            <p>Dung tích: 10g</p>
                        </div>
                        <div class="more-link"><a href="spring-service.html">Xem Chi Tiết <i class="icon fa fa-caret-right"></i></a></div>
                    </div>
                </div>
            </div>

            <!--Service block-->
            <div class="service-block col-lg-3 col-md-4col-sm-12">
                <div class="inner-box">
                    <div class="upper">
                        <div class="image-box">
                            <img src="../Assets/images/resource/featured-image-9.jpg" alt="" title="">
                        </div>
                        <div class="hvr-icon"><span class="flaticon-hedge"></span></div>
                    </div>
                    <div class="lower">
                        <div class="icon-right"><span class="flaticon-hedge"></span></div>
                        <h5><a href="spring-service.html">Quả Đông trùng hạ thảo</a></h5>
                        <div class="text">
                            <p>Loại sản phẩm: Thực phẩm</p>
                            <p>Đặc điểm: dạng quả thể khô</p>
                            <p>Bao gói: Đóng hộp</p>
                            <p>Dung tích: 10g</p>
                        </div>
                        <div class="more-link"><a href="spring-service.html">Xem Chi Tiết <i class="icon fa fa-caret-right"></i></a></div>
                    </div>
                </div>
            </div>

            <!--Service block-->
            <div class="service-block col-lg-3 col-md-4 col-sm-12">
                <div class="inner-box">
                    <div class="upper">
                        <div class="image-box">
                            <img src="../Assets/images/resource/featured-image-9.jpg" alt="" title="">
                        </div>
                        <div class="hvr-icon"><span class="flaticon-hedge"></span></div>
                    </div>
                    <div class="lower">
                        <div class="icon-right"><span class="flaticon-hedge"></span></div>
                        <h5><a href="spring-service.html">Quả Đông trùng hạ thảo</a></h5>
                        <div class="text">
                            <p>Loại sản phẩm: Thực phẩm</p>
                            <p>Đặc điểm: dạng quả thể khô</p>
                            <p>Bao gói: Đóng hộp</p>
                            <p>Dung tích: 10g</p>
                        </div>
                        <div class="more-link"><a href="spring-service.html">Xem Chi Tiết <i class="icon fa fa-caret-right"></i></a></div>
                    </div>
                </div>
            </div>

            <!--Service block-->
            <div class="service-block col-lg-3 col-md-4 col-sm-12">
                <div class="inner-box">
                    <div class="upper">
                        <div class="image-box">
                            <img src="../Assets/images/resource/featured-image-9.jpg" alt="" title="">
                        </div>
                        <div class="hvr-icon"><span class="flaticon-hedge"></span></div>
                    </div>
                    <div class="lower">
                        <div class="icon-right"><span class="flaticon-hedge"></span></div>
                        <h5><a href="spring-service.html">Quả Đông trùng hạ thảo</a></h5>
                        <div class="text">
                            <p>Loại sản phẩm: Thực phẩm</p>
                            <p>Đặc điểm: dạng quả thể khô</p>
                            <p>Bao gói: Đóng hộp</p>
                            <p>Dung tích: 10g</p>
                        </div>
                        <div class="more-link"><a href="spring-service.html">Xem Chi Tiết <i class="icon fa fa-caret-right"></i></a></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!--Why Us Section-->
<section class="why-us-two">
    <div class="outer-container">
        <div class="row clearfix">
            <!--Left Column-->
            <div class="left-col col-lg-6 col-md-12 col-sm-12">
                <div class="image-layer" style="background-image: url(../Assets/images/background/why-us-bg.jpg);"></div>
                <div class="inner clearfix">
                    <div class="content-box">
                        <div class="rating">
                            <div class="stars"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></div>
                            <div class="count">4.9</div>
                            <div class="rate-text">Customer <br>Rating</div>
                        </div>
                        <div class="floated-text">
                            <div class="floated-inner">
                                <span class="txt">Since 2008</span>
                            </div>
                        </div>
                        <div class="pattern"></div>
                        <div class="content">
                            <div class="sec-title">
                                <div class="title-icon"><span class="icon"><img src="../Assets/images/icons/leaf-five.png" alt="" title=""></span></div>
                                <div class="subtitle">Why Choose Us</div>
                                <h2>Experts Choice</h2>
                            </div>
                            <div class="text">It is a long established fact that a reader will distracted by the readable content.</div>
                            <ul>
                                <li>Clean, Branded Vehicles</li>
                                <li>Professional, Uniformed Personnel</li>
                                <li>Timely Response Guarantee</li>
                                <li>Reliable Equipment Maintained Daily</li>
                            </ul>
                            <div class="link-box"><a href="#" class="theme-btn btn-style-four"><span class="btn-title">How We Work <i class="arrow flaticon-play-button-1"></i></span></a></div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Right Column-->
            <div class="right-col col-lg-6 col-md-12 col-sm-12">
                <div class="pattern-layer"></div>

                <div class="inner clearfix">
                    <div class="row clearfix">
                        <!--Why Block-->
                        <div class="why-block-two col-lg-6 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <div class="icon-box"><span class="flaticon-null"></span></div>
                                <h5>Experienced</h5>
                                <div class="text">Good knowledge becaazuse you  done something many times.</div>
                                <div class="link-box"><a href="#"><span class="flaticon-right-1"></span></a></div>
                            </div>
                        </div>

                        <!--Why Block-->
                        <div class="why-block-two col-lg-6 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <div class="icon-box"><span class="flaticon-insurance"></span></div>
                                <h5>Fully Insured</h5>
                                <div class="text">All customers claims are managed by the insurance providers.</div>
                                <div class="link-box"><a href="#"><span class="flaticon-right-1"></span></a></div>
                            </div>
                        </div>

                        <!--Why Block-->
                        <div class="why-block-two col-lg-6 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <div class="icon-box"><span class="flaticon-dog-2"></span></div>
                                <h5>Pet & Kid Safe</h5>
                                <div class="text">Pet animals for kids can range  you make an informed choice.</div>
                                <div class="link-box"><a href="#"><span class="flaticon-right-1"></span></a></div>
                            </div>
                        </div>

                        <!--Why Block-->
                        <div class="why-block-two col-lg-6 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <div class="icon-box"><span class="flaticon-gardener-1"></span></div>
                                <h5>Professional Staff</h5>
                                <div class="text">Indignation dislike worked who that our therefore holds.</div>
                                <div class="link-box"><a href="#"><span class="flaticon-right-1"></span></a></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

<!--Projects Section-->
<section class="projects-two">
    <div class="auto-container">
        <div class="upper-box clearfix">
            <div class="sec-title">
                <div class="title-icon"><span class="icon"><img src="../Assets/images/icons/leaf-two.png" alt="" title=""></span></div>
                <div class="subtitle">Our Projects</div>
                <h2>Latest From Projects</h2>
            </div>
            <div class="link-box">
                <a href="#" class="theme-btn btn-style-four"><span class="btn-title">View More <i class="arrow flaticon-play-button-1"></i></span></a>
            </div>
        </div>

        <div class="masonry-box">
            <div class="row masonry-container clearfix">
                <!--Project Block-->
                <div class="project-block-two masonry-item col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <img src="../Assets/images/gallery/1.jpg" alt="" title="">
                        </div>
                        <div class="hover-box">
                            <div class="hvr-content">
                                <div class="cat"><a href="#">Garden Care</a></div>
                                <h5><a href="project-single.html">Communual Garden</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Project Block-->
                <div class="project-block-two masonry-item column-width col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <img src="../Assets/images/gallery/2.jpg" alt="" title="">
                        </div>
                        <div class="hover-box">
                            <div class="hvr-content">
                                <div class="cat"><a href="#">Landscape</a></div>
                                <h5><a href="project-single.html">Outdoor Living</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Project Block-->
                <div class="project-block-two masonry-item column-width col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <img src="../Assets/images/gallery/3.jpg" alt="" title="">
                        </div>
                        <div class="hover-box">
                            <div class="hvr-content">
                                <div class="cat"><a href="#">Garden Care</a></div>
                                <h5><a href="project-single.html">Outdoor Living</a></h5>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Project Block-->
                <div class="project-block-two masonry-item column-width col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <img src="../Assets/images/gallery/4.jpg" alt="" title="">
                        </div>
                        <div class="hover-box">
                            <div class="hvr-content">
                                <div class="cat"><a href="#">Landscape</a></div>
                                <h5><a href="project-single.html">Outdoor Living</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Project Block-->
                <div class="project-block-two masonry-item column-width col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <img src="../Assets/images/gallery/6.jpg" alt="" title="">
                        </div>
                        <div class="hover-box">
                            <div class="hvr-content">
                                <div class="cat"><a href="#">Garden Care</a></div>
                                <h5><a href="project-single.html">Outdoor Living</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Project Block-->
                <div class="project-block-two masonry-item column-width col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <img src="../Assets/images/gallery/7.jpg" alt="" title="">
                        </div>
                        <div class="hover-box">
                            <div class="hvr-content">
                                <div class="cat"><a href="#">Garden Care</a></div>
                                <h5><a href="project-single.html">Outdoor Living</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Project Block-->
                <div class="project-block-two masonry-item column-width col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <img src="../Assets/images/gallery/5.jpg" alt="" title="">
                        </div>
                        <div class="hover-box">
                            <div class="hvr-content">
                                <div class="cat"><a href="#">Garden Care</a></div>
                                <h5><a href="project-single.html">Outdoor Living</a></h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<!--Work Process Section-->
<section class="work-process-two">
    <div class="auto-container">
        <div class="title-box">
            <div class="row clearfix">
                <div class="left-col col-xl-6 col-lg-12 col-md-12">
                    <div class="sec-title alternate">
                        <div class="title-icon"><span class="icon"><img src="../Assets/images/icons/leaf-four.png" alt="" title=""></span></div>
                        <div class="subtitle">How It Works</div>
                        <h2>Working Process</h2>
                    </div>
                </div>
                <div class="right-col col-xl-6 col-lg-12 col-md-12">
                    <div class="text">How to pursue pleasure rationally encounter consequences that painful again is there anyone who loves.</div>
                </div>
            </div>
        </div>

        <div class="process">
            <div class="row clearfix">
                <!--Process Block-->
                <div class="process-block-two col-xl-3 col-lg-6 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <div class="icon">
                                <span class="flaticon-consulting"></span>
                            </div>
                            <div class="count"><span class="number">01</span></div>
                        </div>
                        <h5>Talk with expert</h5>
                        <div class="text">Which of us every undertakes physical exercise.</div>
                    </div>
                </div>

                <!--Process Block-->
                <div class="process-block-two col-xl-3 col-lg-6 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <div class="icon">
                                <span class="flaticon-blueprint"></span>
                            </div>
                            <div class="count"><span class="number">02</span></div>
                        </div>
                        <h5>Design proposal</h5>
                        <div class="text">Expound that actual teachings of the great explorer.</div>
                    </div>
                </div>

                <!--Process Block-->
                <div class="process-block-two col-xl-3 col-lg-6 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <div class="icon">
                                <span class="flaticon-gardener-2"></span>
                            </div>
                            <div class="count"><span class="number">03</span></div>
                        </div>
                        <h5>Start planting</h5>
                        <div class="text">Any right to find fault with man choose to enjoy.</div>
                    </div>
                </div>

                <!--Process Block-->
                <div class="process-block-two col-xl-3 col-lg-6 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <div class="icon">
                                <span class="flaticon-trees"></span>
                            </div>
                            <div class="count"><span class="number">04</span></div>
                        </div>
                        <h5>Party With Family</h5>
                        <div class="text">Avoid a pain that produces no resultant pleasure.</div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

<!--Testimonials Section-->
<section class="testimonials-two">
    <div class="pattern-layer"></div>
    <div class="auto-container">

        <div class="row clearfix">
            <!--Column-->
            <div class="carousel-col col-lg-6 col-md-12 col-sm-12">
                <div class="sec-title">
                    <div class="title-icon"><span class="icon"><img src="../Assets/images/icons/leaf-two.png" alt="" title=""></span></div>
                    <div class="subtitle">Testimonials</div>
                    <h2>Customer Words</h2>
                </div>
                <div class="carousel-box">
                    <div class="testimonial-carousel-two owl-theme owl-carousel">

                        <!--Block-->
                        <div class="testi-block-two">
                            <div class="inner-box">
                                <div class="content">
                                    <div class="info">
                                        <div class="quote-icon"><span></span></div>
                                        <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></div>
                                        <h6 class="title">Thank you for an excellent job</h6>
                                    </div>
                                    <div class="text">Your crew did a great job following your drawing and left property immaculate. We were extremely happy with the finished job. The house looks 30 years younger. ”</div>
                                    <div class="author">
                                        <span class="name">Louie Daxon,</span>
                                        <span class="region">New Orleans, United States</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Block-->
                        <div class="testi-block-two">
                            <div class="inner-box">
                                <div class="content">
                                    <div class="info">
                                        <div class="quote-icon"><span></span></div>
                                        <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></div>
                                        <h6 class="title">Thank you for an excellent job</h6>
                                    </div>
                                    <div class="text">Your crew did a great job following your drawing and left property immaculate. We were extremely happy with the finished job. The house looks 30 years younger. ”</div>
                                    <div class="author">
                                        <span class="name">Luke Mattew,</span>
                                        <span class="region">San Antonio, United States</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Block-->
                        <div class="testi-block-two">
                            <div class="inner-box">
                                <div class="content">
                                    <div class="info">
                                        <div class="quote-icon"><span></span></div>
                                        <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></div>
                                        <h6 class="title">Thank you for an excellent job</h6>
                                    </div>
                                    <div class="text">Your crew did a great job following your drawing and left property immaculate. We were extremely happy with the finished job. The house looks 30 years younger. ”</div>
                                    <div class="author">
                                        <span class="name">Rory Blake,</span>
                                        <span class="region">Nottingham, United Kingdom</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Block-->
                        <div class="testi-block-two">
                            <div class="inner-box">
                                <div class="content">
                                    <div class="info">
                                        <div class="quote-icon"><span></span></div>
                                        <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></div>
                                        <h6 class="title">Thank you for an excellent job</h6>
                                    </div>
                                    <div class="text">Your crew did a great job following your drawing and left property immaculate. We were extremely happy with the finished job. The house looks 30 years younger. ”</div>
                                    <div class="author">
                                        <span class="name">Louie Daxon,</span>
                                        <span class="region">New Orleans, United States</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <!--Column-->
            <div class="thumbs-col col-lg-6 col-md-12 col-sm-12">
                <div class="inner">
                    <div class="image-thumb">
                        <div class="image"><img src="../Assets/images/resource/testi-thumb-4.jpg" alt="" title=""></div>
                        <div class="icon"><span class="fa fa-quote-left"></span></div>
                    </div>
                    <div class="image-thumb">
                        <div class="image"><img src="../Assets/images/resource/testi-thumb-5.jpg" alt="" title=""></div>
                        <div class="icon"><span class="fa fa-quote-left"></span></div>
                    </div>
                    <div class="image-thumb">
                        <div class="image"><img src="../Assets/images/resource/testi-thumb-6.jpg" alt="" title=""></div>
                        <div class="icon"><span class="fa fa-quote-left"></span></div>
                    </div>
                    <div class="image-thumb">
                        <div class="image"><img src="../Assets/images/resource/testi-thumb-7.jpg" alt="" title=""></div>
                        <div class="icon"><span class="fa fa-quote-left"></span></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!--Call to Action-->
<section class="call-to-two">
    <div class="image-layer" style="background-image: url(../Assets/images/background/call-to-bg.jpg);"></div>
    <div class="auto-container">
        <div class="row clearfix">
            <div class="title-col col-xl-7 col-lg-6 col-md-12">
                <div class="inner">
                    <h4>In Need of  Gardening & Landscaping <br>Maintenence Service?</h4>
                </div>
            </div>
            <div class="links-col col-xl-5 col-lg-6 col-md-12">
                <div class="inner clearfix">
                    <ul class="clearfix">
                        <li><a href="#" class="theme-btn btn-style-four"><span class="btn-title">Commercial <i class="arrow flaticon-play-button-1"></i></span></a></li>
                        <li><a href="#" class="theme-btn btn-style-five"><span class="btn-title">Residential <i class="arrow flaticon-play-button-1"></i></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Awards Section-->
<section class="awards-section">
    <div class="bottom-image"><img src="../Assets/images/resource/anim-image-4.png" alt="" title=""></div>
    <div class="auto-container">
        <div class="row clearfix">
            <!--Left Column-->
            <div class="left-col">
                <div class="image-layer" style="background-image: url(../Assets/images/background/awards-bg.jpg);"></div>
                <div class="bg-icon"><img src="../Assets/images/icons/awards-bg-icon.png" alt="" title=""></div>
                <div class="inner clearfix">
                    <div class="content-box">
                        <div class="content">
                            <div class="title-box">
                                <div class="icon-box"><span class="icon flaticon-guarantee-3"></span></div>
                                <div class="subtitle">Awards & Recognition</div>
                                <h4>Most Awards Won <br>By a Company in <br>USA - <span class="theme_color">Pruners&CO</span></h4>
                            </div>
                            <div class="text">It is a long established fact that a reader will distracted by the readable content.</div>
                            <div class="link-box"><a href="#" class="theme-btn btn-style-three"><span class="btn-title">All Our Awards <i class="arrow flaticon-play-button-1"></i></span></a></div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Right Column-->
            <div class="right-col">

                <div class="inner clearfix">
                    <div class="carousel-box">
                        <div class="awards-carousel owl-theme owl-carousel">

                            <!--Award Block-->
                            <div class="award-block">
                                <div class="inner-box">
                                    <div class="icon-box"><span class="award-date">Awards <br>2017</span></div>
                                    <div class="date">wyn’s 2017</div>
                                    <h6>Customer Choice <br>of The Year</h6>
                                    <div class="link-box">
                                        <a href="../Assets/images/gallery/7.jpg" class="has-tooltip lightbox-image" title="Award Images"><span class="fa fa-image"></span><span class="t-tip-box"><span class="t-t-text">Award Images</span></span></a>
                                    </div>
                                </div>
                            </div>

                            <!--Award Block-->
                            <div class="award-block">
                                <div class="inner-box">
                                    <div class="icon-box"><span class="award-date">Awards <br>2014</span></div>
                                    <div class="date">asla 2014</div>
                                    <h6>Residential Design <br>Awards</h6>
                                    <div class="link-box">
                                        <a href="../Assets/images/gallery/7.jpg" class="has-tooltip lightbox-image" title="Award Images"><span class="fa fa-image"></span><span class="t-tip-box"><span class="t-t-text">Award Images</span></span></a>
                                    </div>
                                </div>
                            </div>

                            <!--Award Block-->
                            <div class="award-block">
                                <div class="inner-box">
                                    <div class="icon-box"><span class="award-date">Awards <br>2010</span></div>
                                    <div class="date">wyn’s 2010</div>
                                    <h6>Public Parks and <br>Open Space</h6>
                                    <div class="link-box">
                                        <a href="../Assets/images/gallery/7.jpg" class="has-tooltip lightbox-image" title="Award Images"><span class="fa fa-image"></span><span class="t-tip-box"><span class="t-t-text">Award Images</span></span></a>
                                    </div>
                                </div>
                            </div>

                            <!--Award Block-->
                            <div class="award-block">
                                <div class="inner-box">
                                    <div class="icon-box"><span class="award-date">Awards <br>2017</span></div>
                                    <div class="date">wyn’s 2017</div>
                                    <h6>Customer Choice <br>of The Year</h6>
                                    <div class="link-box">
                                        <a href="../Assets/images/gallery/7.jpg" class="has-tooltip lightbox-image" title="Award Images"><span class="fa fa-image"></span><span class="t-tip-box"><span class="t-t-text">Award Images</span></span></a>
                                    </div>
                                </div>
                            </div>

                            <!--Award Block-->
                            <div class="award-block">
                                <div class="inner-box">
                                    <div class="icon-box"><span class="award-date">Awards <br>2014</span></div>
                                    <div class="date">asla 2014</div>
                                    <h6>Residential Design <br>Awards</h6>
                                    <div class="link-box">
                                        <a href="../Assets/images/gallery/7.jpg" class="has-tooltip lightbox-image" title="Award Images"><span class="fa fa-image"></span><span class="t-tip-box"><span class="t-t-text">Award Images</span></span></a>
                                    </div>
                                </div>
                            </div>

                            <!--Award Block-->
                            <div class="award-block">
                                <div class="inner-box">
                                    <div class="icon-box"><span class="award-date">Awards <br>2010</span></div>
                                    <div class="date">wyn’s 2010</div>
                                    <h6>Public Parks and <br>Open Space</h6>
                                    <div class="link-box">
                                        <a href="../Assets/images/gallery/7.jpg" class="has-tooltip lightbox-image" title="Award Images"><span class="fa fa-image"></span><span class="t-tip-box"><span class="t-t-text">Award Images</span></span></a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

<!--Blog Section-->
<section class="blog-section">
    <div class="auto-container">
        <div class="title-box">
            <div class="row clearfix">
                <div class="left-col col-xl-6 col-lg-12 col-md-12">
                    <div class="sec-title alternate">
                        <div class="title-icon"><span class="icon"><img src="../Assets/images/icons/leaf-four.png" alt="" title=""></span></div>
                        <div class="subtitle">News & Updates</div>
                        <h2>Latest From Blog</h2>
                    </div>
                </div>
                <div class="right-col col-xl-6 col-lg-12 col-md-12">
                    <div class="text">How to pursue pleasure rationally encounter consequences that painful again is there anyone who loves.</div>
                </div>
            </div>
        </div>

        <div class="blog-posts">
            <div class="row clearfix">
                <!--News block-->
                <div class="news-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="upper">
                            <div class="image-box">
                                <img src="../Assets/images/resource/news-image-1.jpg" alt="" title="">
                            </div>
                            <div class="info clearfix">
                                <div class="cat"><a href="blog-single.html">Garden Tips</a></div>
                                <div class="date"><span class="icon far fa-calendar"></span> April 25, 2020</div>
                            </div>
                            <div class="hvr-link theme-btn"><a href="blog-single.html"><span class="flaticon-cross"></span></a></div>
                        </div>
                        <div class="lower">
                            <h5><a href="blog-single.html">Reduce Your Carbon Footprint with Gardening Robots</a></h5>
                            <div class="posted-by"><span class="icon far fa-user"></span> Edward Samuel</div>
                            <div class="more-link"><a href="blog-single.html"><span class="icon flaticon-right-arrow"></span></a></div>
                        </div>
                    </div>
                </div>

                <!--News block-->
                <div class="news-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="upper">
                            <div class="image-box">
                                <img src="../Assets/images/resource/news-image-2.jpg" alt="" title="">
                            </div>
                            <div class="info clearfix">
                                <div class="cat"><a href="blog-single.html">Discussion</a></div>
                                <div class="date"><span class="icon far fa-calendar"></span> April 10, 2020</div>
                            </div>
                            <div class="hvr-link theme-btn"><a href="blog-single.html"><span class="flaticon-cross"></span></a></div>
                        </div>
                        <div class="lower">
                            <h5><a href="blog-single.html">Landscaping Design - Industrial Buildings & Warehouses</a></h5>
                            <div class="posted-by"><span class="icon far fa-user"></span> Lika Joshua</div>
                            <div class="more-link"><a href="blog-single.html"><span class="icon flaticon-right-arrow"></span></a></div>
                        </div>
                    </div>
                </div>

                <!--News block-->
                <div class="news-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="upper">
                            <div class="image-box">
                                <img src="../Assets/images/resource/news-image-3.jpg" alt="" title="">
                            </div>
                            <div class="info clearfix">
                                <div class="cat"><a href="blog-single.html">Garden Tips</a></div>
                                <div class="date"><span class="icon far fa-calendar"></span> March 18, 2020</div>
                            </div>
                            <div class="hvr-link theme-btn"><a href="blog-single.html"><span class="flaticon-cross"></span></a></div>
                            <div class="video-link theme-btn"><a href="blog-single.html"><span class="flaticon-play-button-3"></span></a></div>
                        </div>
                        <div class="lower">
                            <h5><a href="blog-single.html">Three Ways Melting Snow Can Impact the Water</a></h5>
                            <div class="posted-by"><span class="icon far fa-user"></span> Edward Samuel</div>
                            <div class="more-link"><a href="blog-single.html"><span class="icon flaticon-right-arrow"></span></a></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

<!--Contact Section-->
<section class="contact-two">
    <div class="pattern-layer"></div>
    <div class="auto-container">
        <div class="row clearfix">
            <!--Map Column-->
            <div class="map-column col-xl-7 col-lg-12 col-md-12 col-sm-12">
                <div class="inner">
                    <div class="title">
                        <h2>Do You Need Our Landscaping Service? Make an Appointment.</h2>
                    </div>
                    <div class="map-outer">
                        <div class="map-box">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d77179.27405929092!2d144.96587780970705!3d-37.8497500129152!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d34379057b1%3A0xf0456760532d450!2sQueen%20Victoria%20Market!5e0!3m2!1sen!2s!4v1602054031836!5m2!1sen!2s" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        </div>
                        <div class="info-box">
                            <ul class="info clearfix">
                                <li>
                                    <span class="icon flaticon-internet"></span>
                                    <div class="text">53 Garden Street <br>Los Anegles 90029 USA</div>
                                </li>
                                <li>
                                    <span class="icon flaticon-message-1"></span>
                                    <div class="text"><a href="tel:(+5)6789012345">(+5) 678 90 12 345</a><br><a href="mailto:service@Prunersteam.com">service@Prunersteam.com</a></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Text Column-->
            <div class="form-column col-xl-5 col-lg-12 col-md-12 col-sm-12">
                <div class="inner">
                    <div class="form-outer">
                        <div class="title-box"><h4>Make an Appointment</h4></div>
                        <div class="form-box">
                            <div class="text">Fill out the form below and then Set a Day and Time that works best for you!.</div>
                            <!--Appointment-->
                            <div class="default-form">
                                <form method="post" action="http://t.commonsupport.com/pruners/contact.html">
                                    <div class="form-group">
                                        <div class="field-inner">
                                            <input type="text" name="name" value="" placeholder="Your Name *" required>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                            <div class="field-inner">
                                                <input type="text" name="phone" value="" placeholder="Phone *" required>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                            <div class="field-inner">
                                                <input type="email" name="email" value="" placeholder="Email *" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="field-inner">
                                            <select class="custom-select-box" name="service">
                                                <option>Choose Service</option>
                                                <option>Spring Cleanup</option>
                                                <option>Plants Planting</option>
                                                <option>Water Fountain</option>
                                                <option>Hard Scaping</option>
                                                <option>Garden Care</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="field-inner">
                                            <select class="custom-select-box" name="service">
                                                <option>Property Type</option>
                                                <option>Commercial</option>
                                                <option>Residential</option>
                                                <option>Industries</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="field-inner">
                                            <button type="submit" class="theme-btn btn-style-four alternate"><span class="btn-title">Time Schedule <i class="arrow flaticon-play-button-1"></i></span></button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

