@model IPagedList<Data.blog>
@using Data.Providers;
@using Data;
@using PagedList;
@using PagedList.Mvc;

@{
                /**/

                var check_box_count = Model.Count();
                var current_datetime = System.DateTime.Now;
                string urlCMS = System.Configuration.ConfigurationManager.AppSettings["urlCMS"];
}
@if (check_box_count == 0)
{
    <div class="center-div">
        <h3>Không có bài viết nào.</h3>
    </div>
}
else
{
    foreach (var blog in Model)
    {
        <article class="post">
            <div class="header-post">
                <h2 class="title-post"><a href="#">WHITE WINE CHEESECAKE & drink</a></h2>
                <p class="time-post">On 13 Nov 2015 <a href="#">3 comments</a></p>
            </div><!-- /.header-post -->

            <div class="feature-post">
                <a href="blog-single.html"><img src="images/blog/b2.jpg" alt="image"></a>
            </div><!-- /.feature-post -->

            <div class="content-post">
                <p>
                    Roin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, consequat<br />
                    ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi<br />
                    accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat<br />
                    consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent conubia noa, inceptos himenaeos. Mauris in erat justo.Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed  neque elit.<br />
                    Sed ut imperdiet nisi. Proin condimentum.
                </p>

                <div class="readmore">
                    <a href="blog-single.html">Continue reading...</a>
                </div>

                <div class="meta-post clearfix">
                    <div class="by-author">
                        <a href="#">By Nigella Los  </a>
                    </div>

                    <div class="social-links">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    </div>

                    <div class="leave-comment">
                        <a href="#">Leave a Comment  </a>
                    </div>
                </div>
            </div><!-- /.content-post -->
        </article>
    }
}