:root {
    --brandColorDark: #186936;
    --brandColorLight: #82bc41;
}

body {
    overflow-x: hidden;
}

.content-inner {
    padding-top: 50px;
    padding-bottom: 30px;
}

p {
    font-size: 17px;
    font-weight: 400;
}

.logo-header {
    width: 150px;
    height: 68px;
}

.top-bar {
    border-bottom: none;
}

.header-nav .nav > li > a {
    padding: 25px 15px;
    font-size: 18px;
}

.section-head h2.title {
    font-size: 38px;
    line-height: 1.4;
    font-weight: 700;
    text-transform: uppercase;
}

.site-filters.style-1, .blockquote.style-3, nav .pagination .page-item .page-link, .widget_archive ul li a span, .bgl-primary, .site-filters.style-3 .filters li a, .icon-bx-wraper.style-5 .icon-bx, .icon-bx-wraper.style-3.left > [class*="icon-bx-"]:after, .dlab-social-icon.primary-light li a {
    background-color: rgba(108, 255, 15, 0.1);
}

    .widget .widget-title, .site-filters.style-1 .filters li a, .widget_archive ul li a span, nav .pagination .page-item .page-link, .pricingtable-wrapper.style-3 .pricingtable-bx small, .dlab-accordion .card-header .dlab-title a.collapsed, .testimonial-name, .site-filters.style-2 .filters li a, .toggle-switch .custom-control-input:checked ~ .custom-control-label:after, .dlab-blog .post-tags a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .comments-area .comment-list > .comment .comment-body .comment-author .fn, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        color: #186936;
    }

.video-bx.style-3 img {
    width: 100%;
    height: 330px;
    object-fit: cover;
}

.shadow-primary, .video-bx.style-3 .popup-youtube, .site-filters.style-1 .filters li.active a, .site-filters.style-3 .filters li.active a {
    box-shadow: 0 2px 15px rgba(20, 239, 77, 0.3);
}

.gradient-sec {
    background: #82bc41;
}

/*.dlab-team.style-1 .dlab-media {
    margin-right: 0;
}

.dlab-team.style-1 .dlab-content {
    margin-left: 0;
    border-radius: 0;
    padding: 15px;
    display: block;
    align-items: center;
    text-align: center;
}

.dlab-team.style-1 .dlab-name {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}*/

.dlab-team.style-2 .dlab-name {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.dlab-media-custom a img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.dlab-team.style-2 .dlab-content {
    padding: 10px;
    text-align: center;
}

.content-inner-2 {
    padding-top: 60px;
}

.line-branding img{
    width: 25%;
}


.btn-light {
    background-color: var(--brandColorDark);
    color: #fff !important;
}

.btn-light:hover {
    background-color: var(--brandColorLight);
    color: #fff !important;
}

a.text-primary:hover, a.text-primary:focus {
    color: #fff !important;
}

.dlab-content-bx img{
    border-radius: 50%;
}

.dlab-content-bx.style-1 {
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0px 10px 4px rgba(31, 66, 135, 0.1);
    width: 250px;
    height: 250px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    margin: auto;
    transition: all 0.5s;
    padding: 15px;
}


/*WAVES CUSTOM*/
svg:not(:root) {
    overflow: hidden;
}

.waves {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 15vh;
    margin-bottom: -8px;
    min-height: 100px;
    max-height: 150px;
    z-index: 9999;
}

    .waves .content {
        position: relative;
        height: 20vh;
        text-align: center;
        background-color: white;
    }


/* Animation */
.parallax > use {
    -webkit-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

    .parallax > use:nth-child(1) {
        -webkit-animation-delay: -2s;
        animation-delay: -2s;
        -webkit-animation-duration: 7s;
        animation-duration: 7s;
    }

    .parallax > use:nth-child(2) {
        -webkit-animation-delay: -3s;
        animation-delay: -3s;
        -webkit-animation-duration: 10s;
        animation-duration: 10s;
    }

    .parallax > use:nth-child(3) {
        -webkit-animation-delay: -4s;
        animation-delay: -4s;
        -webkit-animation-duration: 13s;
        animation-duration: 13s;
    }

    .parallax > use:nth-child(4) {
        -webkit-animation-delay: -5s;
        animation-delay: -5s;
        -webkit-animation-duration: 20s;
        animation-duration: 20s;
    }


@media (min-width: 992px) {
    .navbar-expand-lg {
        background-color: rgba(255, 255, 255, 0.1);
    }
}


/* SLIDER */
.slider {
    width: 100%;
    margin-bottom: 100px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transform: scale(1.2);
    /*filter: blur(20px);*/
    transition-delay: 0.8s;
}

    .slider .swiper-container {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
    }

        .slider .swiper-container .swiper-slide {
            background-size: cover;
            background-position: center;
            overflow: hidden;
        }

            .slider .swiper-container .swiper-slide video {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                opacity: 0.6;
                width: 90%;
            }

    .slider .gallery-top {
        height: 100%;
        width: 100%;
        background: #186936;
    }

    .slider .gallery-thumbs {
        width: calc(100% - 240px);
        display: flex;
        flex-wrap: wrap;
        margin: 0 120px;
        padding-bottom: 30px;
        z-index: 9;
        position: absolute;
        bottom: 30%;
        right: 0;
        height: auto;
        color: #fff;
    }

        .slider .gallery-thumbs .swiper-slide {
            width: 90%;
            height: 100%;
            opacity: 0.4;
            text-align: center;
            filter: blur(3px);
        }

            .slider .gallery-thumbs .swiper-slide span {
                margin-left: 50%;
                transform: translateX(-50%);
                float: left;
                font-size: 3vw;
                line-height: 5vw;
                font-weight: 800;
            }

            .slider .gallery-thumbs .swiper-slide a {
                display: none;
                font-size: 13px;
                color: #fff;
                font-family: "Fjalla One", sans-serif;
                padding-bottom: 5px;
                position: relative;
            }

                .slider .gallery-thumbs .swiper-slide a:before {
                    content: "";
                    width: 20px;
                    height: 2px;
                    background: #fff;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    -webkit-transition: 0.25s ease-in-out;
                    -moz-transition: 0.25s ease-in-out;
                    -ms-transition: 0.25s ease-in-out;
                    -o-transition: 0.25s ease-in-out;
                    transition: 0.25s ease-in-out;
                }

                .slider .gallery-thumbs .swiper-slide a:hover {
                    text-decoration: none;
                }

                    .slider .gallery-thumbs .swiper-slide a:hover:before {
                        width: 100%;
                    }

        .slider .gallery-thumbs .swiper-slide-active {
            width: 100%;
            opacity: 1;
            transform: scale(1.4);
            filter: blur(0px);
        }

            .slider .gallery-thumbs .swiper-slide-active span {
                font-size: 4vw;
            }

            .slider .gallery-thumbs .swiper-slide-active a {
                display: inline-block;
            }

    .slider .swiper-button-prev {
        height: auto;
        position: absolute;
        left: auto;
        top: auto;
        right: 120px;
        bottom: 30px;
        font-family: "Fjalla One", sans-serif;
        color: #fff;
        background: none;
    }

    .slider .swiper-button-next {
        height: auto;
        position: absolute;
        left: auto;
        top: auto;
        right: 40px;
        bottom: 30px;
        font-family: "Fjalla One", sans-serif;
        color: #fff;
        background: none;
    }

    .slider .slide-progress {
        width: 220px;
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        left: 50%;
        bottom: 30px;
        margin-left: -110px;
        z-index: 3;
        text-align: center;
    }

        .slider .slide-progress span {
            display: inline-block;
            color: #fff;
            font-family: "Fjalla One", sans-serif;
            font-size: 14px;
        }

        .slider .slide-progress .swiper-pagination {
            width: 160px;
            height: 2px;
            margin: auto 10px;
            display: inline-block;
            position: static;
            background: rgba(255, 255, 255, 0.3);
        }

            .slider .slide-progress .swiper-pagination .swiper-pagination-progressbar-fill {
                background: #fff;
            }

/* VIDEO HERO */
.video-hero {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

    .video-hero .video-bg {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
        background: #222327;
    }

        .video-hero .video-bg video {
            min-width: 100%;
            min-height: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            opacity: 0.6;
        }

    .video-hero .inner {
        width: 100%;
        display: block;
        text-align: center;
        position: relative;
        z-index: 2;
    }

        .video-hero .inner span {
            width: 100%;
            float: left;
            font-size: 8vw;
            line-height: 5vw;
            font-weight: 800;
            color: #fff;
            margin-bottom: 30px;
        }

        .video-hero .inner a {
            font-size: 19px;
            color: #fff;
            font-family: "Fjalla One", sans-serif;
            padding-bottom: 5px;
            position: relative;
            border-bottom: 2px solid #fff;
            padding-bottom: 4px;
        }

            .video-hero .inner a:hover {
                text-decoration: none;
                color: #75dab4;
            }

/* CAROUSEL HERO */
.carousel-hero {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

    .carousel-hero .carousel-slider {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }

        .carousel-hero .carousel-slider .swiper-slide {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin: 0;
            background-size: cover;
            background-position: center;
        }

            .carousel-hero .carousel-slider .swiper-slide.swiper-slide-active {
                box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
                z-index: 3;
            }

                .carousel-hero .carousel-slider .swiper-slide.swiper-slide-active .inner {
                    opacity: 1;
                }

                .carousel-hero .carousel-slider .swiper-slide.swiper-slide-active:after {
                    opacity: 0.4;
                }

            .carousel-hero .carousel-slider .swiper-slide:after {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background: #222327;
                opacity: 0.7;
            }

            .carousel-hero .carousel-slider .swiper-slide .inner {
                width: 100%;
                display: block;
                text-align: center;
                color: #fff;
                position: relative;
                z-index: 2;
                opacity: 0;
                -webkit-transition: 0.25s ease-in-out;
                -moz-transition: 0.25s ease-in-out;
                -ms-transition: 0.25s ease-in-out;
                -o-transition: 0.25s ease-in-out;
                transition: 0.25s ease-in-out;
            }

                .carousel-hero .carousel-slider .swiper-slide .inner h2 {
                    width: 100%;
                    float: left;
                    font-size: 4vw;
                    line-height: 5vw;
                    font-weight: 800;
                    color: #fff;
                    margin-bottom: 10px;
                }

                .carousel-hero .carousel-slider .swiper-slide .inner a {
                    font-size: 19px;
                    color: #fff;
                    font-family: "Fjalla One", sans-serif;
                    padding-bottom: 5px;
                    position: relative;
                    border-bottom: 2px solid #fff;
                    padding-bottom: 4px;
                }

                    .carousel-hero .carousel-slider .swiper-slide .inner a:hover {
                        text-decoration: none;
                        color: #75dab4;
                    }

    .carousel-hero .swiper-button-prev {
        height: auto;
        position: absolute;
        left: auto;
        top: auto;
        right: 120px;
        bottom: 30px;
        font-family: "Fjalla One", sans-serif;
        color: #fff;
        background: none;
    }

    .carousel-hero .swiper-button-next {
        height: auto;
        position: absolute;
        left: auto;
        top: auto;
        right: 40px;
        bottom: 30px;
        font-family: "Fjalla One", sans-serif;
        color: #fff;
        background: none;
    }

    .carousel-hero .slide-progress {
        width: 220px;
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        left: 50%;
        bottom: 30px;
        margin-left: -110px;
        z-index: 3;
        text-align: center;
    }

        .carousel-hero .slide-progress span {
            display: inline-block;
            color: #fff;
            font-family: "Fjalla One", sans-serif;
            font-size: 14px;
        }

        .carousel-hero .slide-progress .swiper-pagination {
            width: 160px;
            height: 2px;
            margin: auto 10px;
            display: inline-block;
            position: static;
            background: rgba(255, 255, 255, 0.3);
        }

            .carousel-hero .slide-progress .swiper-pagination .swiper-pagination-progressbar-fill {
                background: #fff;
            }

/* PAGE HEADER */
.page-header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background: #161619;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transform: scale(1.2);
    filter: blur(20px);
    transition-delay: 0.8s;
}

    .page-header .video-bg {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
    }

        .page-header .video-bg video {
            min-width: 100%;
            min-height: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            opacity: 0.2;
        }

    .page-header .inner {
        width: 100%;
        padding-left: 220px;
        position: relative;
        z-index: 2;
    }

        .page-header .inner h1 {
            color: #fff;
            font-weight: 800;
            font-size: 10vw;
            letter-spacing: -3px;
        }

        .page-header .inner p {
            margin: 0;
            color: #fff;
            font-size: 22px;
            font-weight: 300;
            letter-spacing: -0.5px;
        }

/* INTRO */
.intro {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 150px 0;
    color: #fff;
    background: #161619;
}

    .intro .col-lg-7 {
        padding-left: 10%;
    }

    .intro h6 {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 19px;
    }

        .intro h6:after {
            content: "";
            width: 70px;
            height: 1px;
            background: #fff;
            display: inline-block;
            margin-left: 15px;
            margin-bottom: 7px;
        }

    .intro b {
        font-size: 120px;
        line-height: 1;
        font-family: "Fjalla One", sans-serif;
        float: left;
        font-weight: 400;
        margin-right: 20px;
    }

    .intro h4 {
        font-weight: 600;
    }

    .intro p {
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 35px;
    }

    .intro small {
        display: block;
        opacity: 0.7;
        margin-bottom: 50px;
    }

    .intro a {
        color: #fff;
        font-size: 17px;
        border-bottom: 1px solid #75dab4;
        padding-bottom: 5px;
    }

        .intro a:hover {
            border-color: #fff;
        }

/* INTRO IMAGE */
.intro-image {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 150px;
    position: relative;
}

    .intro-image:before {
        content: "";
        width: 100%;
        height: 100px;
        background: #161619;
        position: absolute;
        left: 0;
        top: 0;
    }

    .intro-image.light:before {
        background: #fff;
    }

    .intro-image .office-slider {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        background: #222327;
        position: relative;
        overflow: hidden;
    }

    .intro-image figure {
        width: 100%;
        display: block;
        margin: 0;
        position: relative;
    }

        .intro-image figure img {
            width: 100%;
            opacity: 0.7;
        }

        .intro-image figure figcaption {
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 20px;
            line-height: 1;
        }

            .intro-image figure figcaption h6 {
                font-size: 13px;
                color: #fff;
                font-weight: 600;
            }

/* PROCESS */
.process {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 150px;
    color: #fff;
    text-align: center;
}

    .process .odometer {
        font-family: "Fjalla One", sans-serif;
        font-size: 5vw;
        line-height: 1;
    }

    .process .symbol {
        width: 100%;
        display: block;
        font-size: 12px;
    }

    .process small {
        width: 80%;
        display: block;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        padding-top: 30px;
        margin: 20px 10%;
        font-weight: 600;
    }
