@using Data;
@using Data.Providers;
@using VinaFocus.Models;
@{
    string urlCMS = System.Configuration.ConfigurationManager.AppSettings["urlCMS"];
    string urlSite = System.Configuration.ConfigurationManager.AppSettings["urlSite"];
    var logo_header = new StoreLogoProvider().getLogoHeader();

    ViewBag.Title = "Giỏ hàng | Vina Focus";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!-- breadcrumb -->
<div class="bg-gray-13 bg-md-transparent">
    <div class="container">
        <!-- breadcrumb -->
        <div class="my-md-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-3 flex-nowrap flex-xl-wrap overflow-auto overflow-xl-visble">
                    <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1"><a href="/">Trang chủ</a></li>
                    <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1 active" aria-current="page"><span> Giỏ hàng</span></li>
                </ol>
            </nav>
        </div>
        <!-- End breadcrumb -->
    </div>
</div>
<!-- End breadcrumb -->

<div class="container">
    <div class="mb-4">
        <h1 class="text-center">Cart</h1>
    </div>
    <div class="row">
        <div class="col-md-8 col-lg-8 col-12">
            <div class="mb-10 cart-table">
                <form class="mb-4" action="#" method="post">
                    <table class="table" cellspacing="0">
                        <thead>
                            <tr>
                                <th width="5%" class="product-remove">&nbsp;</th>
                                <th width="15%" class="product-thumbnail">&nbsp;</th>
                                <th width="30%" class="product-name">Sản phẩm</th>
                                <th width="15%" class="product-price">Giá</th>
                                <th width="20%" class="product-quantity w-lg-15">Số lượng</th>
                                <th width="15%" class="product-subtotal">Tạm tính</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="">
                                <td class="text-center">
                                    <a href="#" class="text-gray-32 font-size-26">×</a>
                                </td>
                                <td class="d-none d-md-table-cell">
                                    <a href="#"><img class="img-fluid max-width-100 p-1 border border-color-1" src="../../assets/img/300X300/img6.jpg" alt="Image Description"></a>
                                </td>

                                <td data-title="Product">
                                    <a href="#" class="text-gray-90">Ultra Wireless S50 Headphones S50 with Bluetooth</a>
                                </td>

                                <td data-title="Price">
                                    <span class="">$1,100.00</span>
                                </td>

                                <td data-title="Quantity">
                                    <span class="sr-only">Quantity</span>
                                    <!-- Quantity -->
                                    <div class="border rounded-pill py-1 width-122 px-3 border-color-1">
                                        <div class="js-quantity row align-items-center">
                                            <div class="col">
                                                <input class="js-result form-control h-auto border-0 rounded p-0 shadow-none" type="text" value="1">
                                            </div>
                                            <div class="col-auto pr-1">
                                                <a class="js-minus btn btn-icon btn-xs btn-outline-secondary rounded-circle border-0" href="javascript:;">
                                                    <small class="fas fa-minus btn-icon__inner"></small>
                                                </a>
                                                <a class="js-plus btn btn-icon btn-xs btn-outline-secondary rounded-circle border-0" href="javascript:;">
                                                    <small class="fas fa-plus btn-icon__inner"></small>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Quantity -->
                                </td>

                                <td data-title="Total">
                                    <span class="">$1,100.00</span>
                                </td>
                            </tr>
                            
                            
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-12">
            <div class="mb-8 cart-total">
                <div class="border-bottom border-color-1 mb-3">
                    <h3 class="d-inline-block section-title mb-0 pb-2 font-size-26">Cart totals</h3>
                </div>
                <table class="table mb-3 mb-md-0">
                    <tbody>
                        <tr class="cart-subtotal">
                            <th>Subtotal</th>
                            <td data-title="Subtotal"><span class="amount">$1,785.00</span></td>
                        </tr>
                        <tr class="shipping">
                            <th>Shipping</th>
                            <td data-title="Shipping">
                                Flat Rate: <span class="amount">$300.00</span>
                                <div class="mt-1">
                                    <a class="font-size-12 text-gray-90 text-decoration-on underline-on-hover font-weight-bold mb-3 d-inline-block" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        Calculate Shipping
                                    </a>
                                    <div class="collapse mb-3" id="collapseExample">
                                        <div class="form-group mb-4">
                                            <select class="js-select selectpicker dropdown-select right-dropdown-0-all w-100"
                                                    data-style="bg-white font-weight-normal border border-color-1 text-gray-20">
                                                <option value="">Select a country…</option>

                                            </select>
                                        </div>
                                        <div class="form-group mb-4">
                                            <select class="js-select selectpicker dropdown-select right-dropdown-0-all w-100"
                                                    data-style="bg-white font-weight-normal border border-color-1 text-gray-20"></select>
                                        </div>
                                        <input class="form-control mb-4" type="text" placeholder="Postcode / ZIP">
                                        <button type="button" class="btn btn-soft-secondary mb-3 mb-md-0 font-weight-normal px-5 px-md-4 px-lg-5 w-100 w-md-auto">Update Totals</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="order-total">
                            <th>Total</th>
                            <td data-title="Total"><strong><span class="amount">$2,085.00</span></strong></td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary-dark-w ml-md-2 px-5 px-md-4 px-lg-5 w-100 w-md-auto d-md-none">Proceed to checkout</button>
                <div class="d-md-flex">
                    <button type="button" class="btn btn-soft-secondary mb-3 mb-md-0 font-weight-normal px-5 px-md-4 px-lg-5 w-100 w-md-auto">Update cart</button>
                    <a href="../shop/checkout.html" class="btn btn-primary-dark-w ml-md-2 px-5 px-md-4 px-lg-5 w-100 w-md-auto d-none d-md-inline-block">Proceed to checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        loadCart();
    });

    function loadCart() {
        if (Cookies.get("VINAFOCUS_CART") == null || Cookies.get("VINAFOCUS_CART") == undefined || $.parseJSON(Cookies.get("VINAFOCUS_CART")).length == 0) {
            $('.show_when_cart_empty').css({ display: 'block' });
            $('#data_table').empty();
        } else {
            var list_product_variation_in_cart = $.parseJSON(Cookies.get("VINAFOCUS_CART"));
            var list_in_cart = [];
            $.each(list_product_variation_in_cart, function (index, value) {
                var obj = {};
                obj.id = value.id;
                obj.quantity = value.quantity;
                list_in_cart.push(obj);
            });
            $.ajax({
                type: "POST",
                url: "/Cart/GetAllInCart",
                data: {
                    list_in_cart: list_in_cart,
                },
                context: document.body,
                dataType: "html",
                success: function (data) {
                    $("#data_table").html(data);
                },
                error: function (xhr) {
                    console.log('Error')
                }
            });
        }
        getNumOfItemInCart();
    }
</script>