@model IPagedList<Data.product>
@using Data.Providers;
@using Data;
@using PagedList;
@using PagedList.Mvc;
@{
    var check_box_count = Model.Count();
    var current_datetime = System.DateTime.Now;

    string urlCMS = System.Configuration.ConfigurationManager.AppSettings["urlCMS"];

}

@if (check_box_count == 0)
{
    <div style="text-align: center">
        <h4 style="margin:auto; margin-bottom: 30px">Không tìm thấy sản phẩm nào.</h4>
    </div>
}
else
{
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-lg-3 col-md-3 col-6">
                <div class="dlab-team style-2 m-b10">
                    <div>
                        <a href="/@product.seo_alias">
                            <img class="img-product" src="@urlCMS/@product.product_image" alt="@product.alt_image" />
                        </a>
                    </div>
                    <div class="dlab-content">
                        <div class="clearfix">
                            <h3 class="dlab-name"><a href="/@product.seo_alias">@product.product_name</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div><!-- /row -->
    <div style="text-align: center">
        <a style="font-size: 18px;">Hiển thị @check_box_count trong @ViewBag.NumberOfList sản phẩm</a>
        @Html.PagedListPager(Model, page_num => Url.Action("GetProductByCategory", new { page_num, seo_alias = ViewBag.CategorySeoAlias, select_order = ViewBag.SelectOrder}),
            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "data_table" }))
    </div>

    <script>
        $(document).ready(function () {
            $("img.lazyload").lazyload();
            $(".showNumeric").autoNumeric('init', { aSign: ' ₫', pSign: 's', mDec: '0', aSep: '.', aDec: ',' });
        });
    </script>
}

