@model IEnumerable<Data.product>
@using Data
@using Data.Providers
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Có " + ViewBag.NumberAllResult + " sản phẩm " + "" + ViewBag.SearchString + "";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string urlCMS = System.Configuration.ConfigurationManager.AppSettings["urlCMS"];
    string urlSite = System.Configuration.ConfigurationManager.AppSettings["urlSite"];
    var logo_header = new StoreLogoProvider().getLogoHeader();

    ViewBag.Keywords = "DINO STORE, ICON DENIM, RUNPOW, NOMOUS ESSENTIALS";
    ViewBag.Description = "Dino Store là chuỗi cửa hàng bán lẻ thời trang nam với xu hướng thời trang hiện đại luôn luôn cập nhật nhanh nhất những trend thời trang mới trên thế giới.";
    ViewBag.Canonical = urlSite + "/search/keyword=" + ViewBag.SearchString;
    ViewBag.Alternate = urlSite + "/search/keyword=" + ViewBag.SearchString;
    ViewBag.Url = urlSite + "/search/keyword=" + ViewBag.SearchString;
    ViewBag.Image = urlCMS + "/" + logo_header.image;
}

<!-- ======slider-area-start=========================================== -->
<div class="slider-area over-hidden">
    <div class="single-page page-height d-flex align-items-center" data-background="../Assets/images/shop/banner-shop-1.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12  col-lg-12  col-md-12  col-sm-12 col-12  d-flex align-items-center justify-content-center">
                    <div class="page-title text-center">
                        <h2 class="text-capitalize text-white mb-25 pt-35">Từ khóa tìm kiếm "@ViewBag.SearchString"</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center bg-transparent">
                                <li class="breadcrumb-item"><a class="secondary-color" href="/">Trang chủ</a></li>
                                <li class="breadcrumb-item active text-capitalize text-white" aria-current="page">Từ khóa tìm kiếm "@ViewBag.SearchString"</li>
                            </ol>
                        </nav>
                    </div><!-- /page title -->
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
        <!-- </div> -->
    </div><!-- /single-slider -->
</div>
<!-- slider-area-end=  -->