
@{
    ViewBag.Title = "Không tìm thấy trang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <div class="container center">
        <h4>Không tìm thấy trang.</h4>
    </div>
</section>

