:root {
    --colorDark: #0062bd;
    --colorLight: #2d1582;
}


.u-header__navbar--wide .u-header__nav-item:first-child .u-header__nav-link {
    padding-left: 0rem;
}

.btn-primary {
    color: #fff;
}

.bg-primary {
    background-image: linear-gradient(to right, #094eb6, #287ad1);
}

.text-primary {
    color: var(--colorDark) !important;
}

.btn-primary {
    background-color: var(--colorDark);
    border-color: var(--colorDark);
}

.nav-classic .nav-link {
    text-transform: capitalize;
}

.u-header__navbar--wide.navbar-expand-md .u-header__navbar-nav .nav-item + .nav-item .u-header__nav-link {
    border-left: 1px solid #39539f;
}

.section-title {
    font-weight: 700;
    text-transform: capitalize;
}

.nav-tab-pill .nav-link {
    font-weight: 700;
}

.row-newsletter {
    color: #fff;
}

.cart-nav {
    float: right;
}

.nav-sticky.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

#sidebarHeaderInvokerMenu {
    display: block;
}

.btn-primary[href]:hover, .btn-primary[href]:focus, .btn-primary[href]:active, .btn-primary[type]:hover, .btn-primary[type]:focus, .btn-primary[type]:active {
    box-shadow: 0 4px 11px #c8f1ff;
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--colorDark);
    border-color: var(--colorDark);
}

.u-header__sub-menu {
    width: 22%;
}

.hs-sub-menu, .hs-mega-menu {
    left: unset;
}

.u-header__navbar-nav .u-header__sub-menu-nav-link:not(.u-header__sub-menu-nav-link-toggle):hover {
    text-decoration: underline;
    color: #e5c100;
}

.u-header__mega-menu-wrapper img {
    height: 200px;
    width: 300px;
    object-fit: cover;
}

.u-header__sub-menu-title:hover {
    color: #e5c100;
}

.sidebar-navbar .dropdown-title {
    padding: 0.938rem 0.75rem;
    border-bottom: 1px solid #dddddd;
}

.sidebar-navbar.view-all .dropdown-toggle {
    padding: 0.5rem 0rem;
}

.sidebar-navbar .dropdown-item {
    padding: 0.5rem 1rem;
}

.prodcut-price ins {
    font-weight: 600;
    font-size: 0.9rem;
}

.prodcut-price del {
    margin-left: 5px;
    color: #a7a7a7;
    font-size: 0.850rem;
}

.font-size-12 {
    font-size: 0.64987rem;
}

.product-item__grid a img {
    width: 190px;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
}

.nav-tab-pill .nav-link {
    padding: 2px 10px;
}

.link-hover__brand {
    display: block;
    opacity: .5;
     -webkit-filter: unset; 
     filter: unset; 
}

.slick-slide img.img-slider {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.product-item__outer .product-item__inner {
    box-shadow: 0 20px 25px -5px rgba(0,0,0,.02), 0 10px 10px -5px rgba(0,0,0,.04);
    border-radius: 15px;
    /*margin-right: 10px;*/
    margin-top: 10px;
}

.center-div {
    text-align: center;
}

.slick-slide img {
    display: block;
    height: 120px;
    width: 100%;
    object-fit: cover;
}

article.card-home {
    padding: 10px;
}

    article.card-home a img {
        display: block;
        height: 350px;
        width: 100%;
        object-fit: cover;
        border-radius: 15px;
    }

.banner-custom a img {
    width: 100%;
    border-radius: 15px;
}



.cart-tong-tien {
    font-size: 20px;
    color: red;
}

.img-width-100 {
    width: 100%;
}

article h4 a {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 72px;
}

article p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

article img.img-article {
    height: 260px;
    width: 100%;
    border-radius: 15px;
}


article .img-article-small img {
    height: 75px;
    width: 75px;
    border-radius: 10px;
}

.color-white {
    color: #fff;
}

.bg-red {
    background: red;
}

.product-item__title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product-item__grid .text_category {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.u-header-topbar__nav-link i {
    font-size: 14px;
    color: #747474;
}

.list-inline-item i {
    font-size: 14px;
    color: #747474;
    margin-right: 5px;
}

.dropdown-item {
    padding: 5px 0 0px 20px;
}

.u-header-topbar__nav-item + .u-header-topbar__nav-item-border:not(.full-bg)::before, .u-header-topbar__nav-item + .u-header-topbar__nav-item-border-single:not(.full-bg) > div::before {
    color: #ebebeb;
}

h1 {
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}

.color-black {
    color: #333e48
}

.lh-2 {
    line-height: 2.0;
}

.nav-tab-pill .nav-link {
    font-size: 0.838rem;
}

.border-primary {
    border-color: var(--colorDark) !important;
}


/*===Vì sao chọn Vina Focus===*/
.rs-featured.style1 .featured-wrap {
    display: flex;
    padding-right: 15px;
    margin-top: 20px;
}

.pt-7 {
    padding-top: 7px;
}

.rs-featured.style1 .featured-wrap .icon-part img {
    width: 65px;
    max-width: 65px;
}

.rs-featured.style1 .featured-wrap .content-part {
    padding-left: 25px;
}

    .rs-featured.style1 .featured-wrap .content-part .title {
        margin-bottom: 12px;
    }








/*TRANSLATE*/
.skiptranslate {
    /*display:none;*/
}

.targetLanguage {
    color: #666;
}

div.skiptranslate.goog-te-gadget span {
    display: none !important;
}

@media screen and (max-width: 990px) {
    div.skiptranslate.goog-te-gadget * {
        color: #5872ab;
        margin-top: 1px;
        border-radius: 17px;
        height: 27px;
        right: 3px;
        top: 3px;
        float: right;
        position: absolute;
        z-index: 10;
        padding-left: 10px;
    }
}

.goog-te-gadget {
    font-family: arial;
    font-size: 0px;
    color: #fff;
    margin-left: -15px;
}

.navbar-collapse {
    padding: 0px;
}

div.skiptranslate.goog-te-gadget * {
    color: #5872ab;
    margin-top: 0px;
    border-radius: 0px;
    height: 30px;
    /* right: -42px; */
    top: -3px;
    float: right;
    position: absolute;
    z-index: 10;
    padding-left: 0px;
}

body {
    top: 0px !important;
}

.top-slideshow {
    max-height: 260px;
    overflow: hidden;
}

.language {
    margin-right: 15px;
    margin-top: 4px;
}

.goog-te-banner-frame {
    /*left: 0px;
    top: -40px;
    height: 39px;
    width: 100%;
    z-index: 10000001;
    position: fixed;
    border: none;
    border-bottom: 1px solid #6b90da;
    margin: 0;
    -moz-box-shadow: 0 0 8px 1px #999999;
    -webkit-box-shadow: 0 0 8px 1px #999999;
    box-shadow: 0 0 8px 1px #999999;
    _position: absolute;*/
    display: none;
}

/*.about-section::before {
    content: "";
    width: 70%;
    opacity: 0.18;
    height: 1000px;
    position: absolute;
    left: 50%;
    z-index: 0;
    top: 8%;
    background: url(../Assets/img/banner/img-side.jpg) top center no-repeat;
}*/

.u-header__navbar--wide.navbar-expand-md .u-header__navbar-nav .u-header__nav-link:hover {
    color: #e5c100;
}

@media (max-width: 1199.98px) {
    .bg-lg-down-black {
        background-color: red;
    }
}

@media (min-width: 768px){
    .u-header__navbar--wide.navbar-expand-md .u-header__navbar-nav .hs-mega-menu-opened .u-header__nav-link, .u-header__navbar--wide.navbar-expand-md .u-header__navbar-nav .hs-sub-menu-opened .u-header__nav-link {
        color: #e5c100;
        background-color: unset;
    }
}

@media (max-width: 768px) {
    .banner-dai{
        display: none;
    }

    .product-item__title {
        min-height: 29.5px;
    }

    .u-hamburger__inner, .u-hamburger__inner::before, .u-hamburger__inner::after {
        width: 1.4rem;
        height: 0.1rem;
        background-color: #fff;
        position: absolute;
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
        transition-duration: 0.3s;
        transition-timing-function: ease;
    }

    .prodcut-price ins {
        font-size: 0.8rem;
    }

    .prodcut-price del {
        font-size: 0.75rem;
    }

    .product-item__grid a img {
        height: 120px;
    }
}

@media (min-width: 768px) {
    .navbar-expand-md .mega-pages {
        padding: 1rem;
        margin-left: 0;
        margin-right: 0;
    }

        .navbar-expand-md .mega-pages a i {
            margin-top: 5px;
            float: right;
        }

        .navbar-expand-md .mega-pages a span:hover {
            color: #e5c100;
        }
}

@media (min-width: 1200px) {
    .u-header__navbar-brand, .u-header__navbar-brand > img {
        width: 12.375rem;
    }

    #sidebarHeaderInvokerMenu {
        display: none;
    }

    .product-item:hover .product-item__inner:not(.remove-prodcut-hover) {
        min-height: unset;
        position: unset;
        width: unset;
        box-shadow: 0px 0px 6px 0px rgba(1, 1, 1, 0.1);
    }
}
