.nav-arrows span {
    height: 50px;
    width: 50px;
}

.nav-arrows.arrow-vcentered span {
    position: absolute;
    top: calc(50% - 19px);
    left: 10px;
    z-index: 1;
    background-color: #cdcdcd;
}

    .nav-arrows.arrow-vcentered span.fa-chevron-right {
        left: auto;
        right: 10px;
        z-index: 1;
    }

.banner-1{
    height: 700px;
}

.block-navbar__top .badge {
    text-transform: uppercase;
    margin-left: 10px;
    font-size: 12px;
    padding: 5px 10px;
}

.block-navbar__top * {
    vertical-align: middle;
}

.badge-danger {
    background-color: #b51d2f;
}

.badge-danger {
    color: #fff;
    background-color: #dc3545;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

/*form Đăng ký*/
.footer .wrap-box-register.fix-screen {
    height: 0;
}

.footer .wrap-box-register {
    width: 360px;
    height: 105px;
    position: absolute;
    bottom: calc(100% + 10px);
    left: 10px;
    z-index: 999;
    overflow: hidden;
}