.nav-arrows span {
    height: 50px;
    width: 50px;
}

.nav-arrows.arrow-vcentered span {
    position: absolute;
    top: calc(50% - 19px);
    left: 10px;
    z-index: 1;
    background-color: #cdcdcd;
}

    .nav-arrows.arrow-vcentered span.fa-chevron-right {
        left: auto;
        right: 10px;
        z-index: 1;
    }

.banner-1 {
    height: 700px;
}

.block-navbar__top .badge {
    text-transform: uppercase;
    margin-left: 10px;
    font-size: 12px;
    padding: 5px 10px;
}

.block-navbar__top * {
    vertical-align: middle;
}

.badge-danger {
    background-color: #b51d2f;
}

.badge-danger {
    color: #fff;
    background-color: #dc3545;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

/*form Đăng ký*/


.footer .wrap-box-register {
    width: 360px;
    height: 105px;
    position: absolute;
    bottom: calc(100% + 10px);
    left: 10px;
    z-index: 999;
    overflow: hidden;
}

    .footer .wrap-box-register.fix-screen {
        height: 0;
    }

    .footer .wrap-box-register.show {
        height: 490px;
        -moz-transition: height 0.5s ease;
        -o-transition: height 0.5s ease;
        -webkit-transition: height 0.5s ease;
        transition: height 0.5s ease;
    }

        .footer .wrap-box-register.fix-screen .box-register {
            position: fixed;
            bottom: 0;
            left: 10px;
            -moz-transform: translateY(calc(100% - 43px));
            -o-transform: translateY(calc(100% - 43px));
            -ms-transform: translateY(calc(100% - 43px));
            -webkit-transform: translateY(calc(100% - 43px));
            transform: translateY(calc(100% - 43px));
        }

    .footer .wrap-box-register .box-register {
        -moz-transform: translateY(63px);
        -o-transform: translateY(63px);
        -ms-transform: translateY(63px);
        -webkit-transform: translateY(63px);
        transform: translateY(63px);
        border: 5px solid #fff;
        margin-left: 11px;
    }

.box-register {
    width: 334px;
    background: #b51d2f;
    color: #fff;
    padding: 0 10px 15px;
    z-index: 999;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    -spec-border-radius: 20px 20px 0 0;
    border-radius: 20px 20px 0 0;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
}

    .box-register .ic-monkey {
        position: absolute;
        bottom: 100%;
        left: 0;
    }

.ic-monkey {
    width: 63px;
    height: 54px;
    background: url(../images/icon/ic_monkey.png) no-repeat;
}

.box-register .title {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
    padding-top: 7px;
    cursor: pointer;
    font-family: "BalooPaaji";
    line-height: 1.55em;
}

    .box-register .title span {
        display: inline-block;
        -moz-transition: transform 0.5s ease;
        -o-transition: transform 0.5s ease;
        -webkit-transition: transform 0.5s ease;
        transition: transform 0.5s ease;
    }

    .box-register .title i {
        display: inline-block;
        font-size: 24px;
        line-height: 0;
    }
