.nav-arrows span {
    height: 50px;
    width: 50px;
}

.nav-arrows.arrow-vcentered span {
    position: absolute;
    top: calc(50% - 19px);
    left: 10px;
    z-index: 1;
    background-color: #cdcdcd;
}

    .nav-arrows.arrow-vcentered span.fa-chevron-right {
        left: auto;
        right: 10px;
        z-index: 1;
    }

.banner-1 {
    height: 700px;
}

.block-navbar__top .badge {
    text-transform: uppercase;
    margin-left: 10px;
    font-size: 12px;
    padding: 5px 10px;
}

.block-navbar__top * {
    vertical-align: middle;
}

.badge-danger {
    background-color: #b51d2f;
}

.badge-danger {
    color: #fff;
    background-color: #dc3545;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.form-control {
    height: 42px;
    padding: 0 15px;
    height: 36px !important;
    font-size: 12px;
    font-weight: 400;
    color: #b51d2f;
    background: #fff;
    border-color: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -spec-border-radius: 5px;
    border-radius: 5px;
}

.nice-select {
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    border-radius: 5px;
    border: solid 1px #e8e8e8;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-family: inherit;
    font-size: 12px;
    font-weight: normal;
    height: 42px;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: unset;
    /*overflow: hidden;*/
    width: 100%;
}

    .nice-select.open .list {
        opacity: 1;
        pointer-events: auto;
        -webkit-transform: scale(1) translateY(0);
        -ms-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
    }

    .nice-select .list {
        width: 100%;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
        box-sizing: border-box;
        margin-top: 4px;
        opacity: 0;
        overflow: hidden;
        padding: 0;
        pointer-events: none;
        position: absolute;
        top: 100%;
        left: 0;
        -webkit-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transform: scale(0.75) translateY(-21px);
        -ms-transform: scale(0.75) translateY(-21px);
        transform: scale(0.75) translateY(-21px);
        -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
        transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
        z-index: 9;
    }


/*tab-slider-feature*/
.tt-box {
    padding-bottom: 10px;
}

.tt-2 {
    font-size: 26px;
}

.tt-1, .tt-2, .tt-3 {
    font-size: 30px;
    line-height: 1.55em;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.3;
}

.tt-box span {
    display: inline-block;
    background: #fff;
    color: #009E1D;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -spec-border-radius: 10px;
    border-radius: 10px;
    padding: 8px 10px 5px;
}

.tab-slider-feature {
    background-color: #009E1D;
}


a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav {
    will-change: transform;
    width: 100%;
    z-index: 1;
    background: #1a1a1a;
    transform: translateY(-100%);
    transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
}

.nav--active {
    transform: translateY(0);
}

.nav__list {
    display: flex;
    width: 100%;
}

.nav__item {
    flex: 1;
    position: relative;
    transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
}

    .nav__item:hover {
        opacity: 0.75;
    }

.nav__thumb {
    display: block;
    height: 100px;
    background: #009E1D;
    transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
}

    .nav__thumb:before {
        content: attr(data-letter);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 70px;
        text-transform: uppercase;
        opacity: 0;
    }

.nav__label {
    font-family: 'Lexend Deca', Muli;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: #fff;
    width: 100%;
    font-weight: 700;
    text-align: center;
}

@media (max-width: 850px) {
    .nav__label {
        font-size: 14px;
    }
}

@media (max-width: 720px) {
    .nav__label {
        display: none;
    }

    .nav__thumb {
        height: 60px;
    }

        .nav__thumb:before {
            font-size: 24px;
            opacity: 0.7;
        }
}

.page {
    height: 100vh;
    will-change: transform;
    perspective: 400px;
    overflow: hidden;
    transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
}

.section.tab-slider-feature {
    will-change: transform;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #fff;
    transform: translateX(100%);
    transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}

.section--hidden {
    transform: translateX(-100%);
}

.section--active {
    transform: translateX(0) rotateY(0);
    z-index: 2;
}

.section__wrapper {
    width: 100%;
    max-width: 800px;
    padding: 0 8vw;
    position: relative;
}

.section__title {
    margin: 0 0 25px 0;
    font-size: 48px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 5px;
}

    .section__title:before {
        content: '';
        position: absolute;
        top: 5rem;
        left: 45%;
        margin: auto;
        width: 10%;
        height: 2px;
        background: #fff;
    }

@media (max-width: 720px) {
    .section__title {
        font-size: 28px;
    }

        .section__title:before {
            top: 3.25rem;
        }
}

.section p {
    margin: 0 0 25px 0;
    font-family: 'Georgia';
    font-size: 18px;
    color: #fff;
    opacity: 0.55;
}

@media (max-width: 720px) {
    .section p {
        font-size: 16px;
    }
}

.section p:last-child {
    margin-bottom: 0;
}

.color1 {
    background: #1b1f25;
}

.color2 {
    background: #e74c3c;
}

.color3 {
    background: #3498db;
}

.color4 {
    background: #9b59b6;
}

.color5 {
    background: #1bc885;
}

.color6 {
    background: #dfb816;
}

.logo {
    position: fixed;
    top: 100px;
    right: 20px;
    z-index: 2;
}

@media (max-width: 720px) {
    .logo {
        top: 110px;
        right: 50%;
        margin-right: -20px;
    }
}

.logo img {
    width: 45px;
    transform: rotate(0);
    transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
}

    .logo img:hover {
        transform: rotate(180deg) scale(1.1);
    }






/*form Đăng ký*/


.footer .wrap-box-register {
    width: 360px;
    height: 105px;
    position: absolute;
    bottom: calc(100% + 10px);
    left: 10px;
    z-index: 999;
    overflow: hidden;
}

    .footer .wrap-box-register.fix-screen {
        height: 0;
    }

    .footer .wrap-box-register.show {
        height: 490px;
        -moz-transition: height 0.5s ease;
        -o-transition: height 0.5s ease;
        -webkit-transition: height 0.5s ease;
        transition: height 0.5s ease;
    }

    .footer .wrap-box-register .box-register {
        -moz-transform: translateY(63px);
        -o-transform: translateY(63px);
        -ms-transform: translateY(63px);
        -webkit-transform: translateY(63px);
        transform: translateY(63px);
        border: 5px solid #fff;
        margin-left: 11px;
    }

    .footer .wrap-box-register.fix-screen .box-register {
        position: fixed;
        bottom: 0;
        left: 10px;
        -moz-transform: translateY(calc(100% - 43px));
        -o-transform: translateY(calc(100% - 43px));
        -ms-transform: translateY(calc(100% - 43px));
        -webkit-transform: translateY(calc(100% - 43px));
        transform: translateY(calc(100% - 43px));
    }

    .footer .wrap-box-register.show.fix-screen .box-register {
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }



.box-register {
    width: 334px;
    background: #b51d2f;
    color: #fff;
    padding: 0 10px 15px;
    z-index: 999;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    -spec-border-radius: 20px 20px 0 0;
    border-radius: 20px 20px 0 0;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
}

    .box-register .ic-monkey {
        position: absolute;
        bottom: 100%;
        left: 0;
    }

.ic-monkey {
    width: 63px;
    height: 54px;
    background: url(../images/icon/ic_monkey.png) no-repeat;
}

.box-register .title {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
    padding-top: 7px;
    cursor: pointer;
    line-height: 1.55em;
}

    .box-register .title span {
        display: inline-block;
        -moz-transition: transform 0.5s ease;
        -o-transition: transform 0.5s ease;
        -webkit-transition: transform 0.5s ease;
        transition: transform 0.5s ease;
    }

    .box-register .title i {
        display: inline-block;
        font-size: 24px;
        line-height: 0;
    }
