:root {
    --mainColor: #009E1D;
    --childColor: #1a395f;
    --gradientColor: linear-gradient(90deg, #00d1c0, #00d17a);
}

.nav-arrows span {
    height: 50px;
    width: 50px;
}

.nav-arrows.arrow-vcentered span {
    position: absolute;
    top: calc(50% - 19px);
    left: 10px;
    z-index: 1;
    background-color: #cdcdcd;
}

    .nav-arrows.arrow-vcentered span.fa-chevron-right {
        left: auto;
        right: 10px;
        z-index: 1;
    }

.banner-1 {
    height: 550px;
    width: 100%;
}

.block-navbar__top .badge {
    text-transform: uppercase;
    margin-left: 10px;
    font-size: 12px;
    padding: 5px 10px;
}

.block-navbar__top * {
    vertical-align: middle;
}

.badge-danger {
    background-color: var(--mainColor);
}

.badge-danger {
    color: #fff;
    background-color: #dc3545;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.form-control {
    height: 42px;
    padding: 0 15px;
    height: 36px !important;
    font-size: 12px;
    font-weight: 400;
    color: var(--mainColor);
    background: #fff;
    border-color: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -spec-border-radius: 5px;
    border-radius: 5px;
}

.nice-select {
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    border-radius: 5px;
    border: solid 1px #e8e8e8;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-family: inherit;
    font-size: 12px;
    font-weight: normal;
    height: 42px;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: unset;
    /*overflow: hidden;*/
    width: 100%;
}

    .nice-select.open .list {
        opacity: 1;
        pointer-events: auto;
        -webkit-transform: scale(1) translateY(0);
        -ms-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
    }

    .nice-select .list {
        width: 100%;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
        box-sizing: border-box;
        margin-top: 4px;
        opacity: 0;
        overflow: hidden;
        padding: 0;
        pointer-events: none;
        position: absolute;
        top: 100%;
        left: 0;
        -webkit-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transform: scale(0.75) translateY(-21px);
        -ms-transform: scale(0.75) translateY(-21px);
        transform: scale(0.75) translateY(-21px);
        -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
        transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
        z-index: 9;
    }


/*tab-slider-feature*/
.tab-slider-feature {
    background-color: var(--mainColor);
}

.tt-box {
    padding-bottom: 10px;
}

.tt-2 {
    font-size: 26px;
}

.tt-1, .tt-2, .tt-3 {
    font-size: 30px;
    line-height: 1.55em;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.3;
    text-align: center;
}

.tt-box span {
    display: inline-block;
    background: #fff;
    color: var(--mainColor);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -spec-border-radius: 10px;
    border-radius: 10px;
    padding: 8px 10px 5px;
    font-weight: 700;
}

.slick-initialized .swipe-tab-content {
    position: relative;
}


.slick-initialized .swipe-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background: none;
    border: 0;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    transition: all 0.5s;
    font-weight: 700;
}

    .slick-initialized .swipe-tab:hover {
        color: #fff;
    }

    .slick-initialized .swipe-tab.active-tab {
        /*border-bottom-color: #fff;*/
        color: #fff;
        font-weight: 700;
    }

        .slick-initialized .swipe-tab.active-tab:before {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            top: 75%;
            margin-left: 25px;
            border-style: solid;
            border-width: 20px 15px 0 15px;
            border-color: var(--mainColor) transparent transparent transparent;
            position: absolute;
            -moz-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            -moz-transition: 0.5s ease;
            -o-transition: 0.5s ease;
            -webkit-transition: 0.5s ease;
            transition: 0.5s ease;
            visibility: visible;
            opacity: 1;
        }

.main-container {
    padding: 35px;
    background: #f1f1f1;
    border-radius: 20px;
    margin-top: -25px;
}

.slick-prev.slick-arrow {
    position: absolute;
    top: calc(50% - 19px);
    left: 10px;
    z-index: 1;
    background-color: #cdcdcd;
}

.slick-next.slick-arrow {
    position: absolute;
    top: calc(50% - 19px);
    z-index: 1;
    background-color: #cdcdcd;
    left: auto;
    right: 10px;
}

/*======*/

.swipe-tab-content .item-only-img img {
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
}

.swipe-tab-content p {
    height: 275px;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    margin-top: 20px;
}


.btn {
    font-size: 15px;
    padding: 14px 30px;
    color: #ffffff;
    border-radius: 0px;
    border: 0;
    font-weight: 500;
    transition: .3s;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

    .btn.btn-lg {
        font-size: 14px;
        padding: 8px 25px;
    }

    .btn.btn-secondary {
        background-color: var(--mainColor) !important;
    }


/*form Đăng ký*/
.footer .wrap-box-register {
    width: 360px;
    height: 105px;
    position: absolute;
    bottom: calc(100% + 10px);
    left: 10px;
    z-index: 999;
    overflow: hidden;
}

    .footer .wrap-box-register.fix-screen {
        height: 0;
    }

    .footer .wrap-box-register.show {
        height: 490px;
        -moz-transition: height 0.5s ease;
        -o-transition: height 0.5s ease;
        -webkit-transition: height 0.5s ease;
        transition: height 0.5s ease;
    }

    .footer .wrap-box-register .box-register {
        -moz-transform: translateY(63px);
        -o-transform: translateY(63px);
        -ms-transform: translateY(63px);
        -webkit-transform: translateY(63px);
        transform: translateY(63px);
        border: 5px solid #fff;
        margin-left: 11px;
    }

    .footer .wrap-box-register.fix-screen .box-register {
        position: fixed;
        bottom: 0;
        left: 10px;
        -moz-transform: translateY(calc(100% - 43px));
        -o-transform: translateY(calc(100% - 43px));
        -ms-transform: translateY(calc(100% - 43px));
        -webkit-transform: translateY(calc(100% - 43px));
        transform: translateY(calc(100% - 43px));
    }

    .footer .wrap-box-register.show.fix-screen .box-register {
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }



.box-register {
    width: 334px;
    background: var(--mainColor);
    color: #fff;
    padding: 0 10px 15px;
    z-index: 999;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    -spec-border-radius: 20px 20px 0 0;
    border-radius: 20px 20px 0 0;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
}

    .box-register .ic-monkey {
        position: absolute;
        bottom: 100%;
        left: 0;
    }

.ic-monkey {
    width: 63px;
    height: 54px;
    background: url(../images/icon/ic_monkey.png) no-repeat;
}

.box-register .title {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
    padding-top: 7px;
    cursor: pointer;
    line-height: 1.55em;
}

    .box-register .title span {
        display: inline-block;
        -moz-transition: transform 0.5s ease;
        -o-transition: transform 0.5s ease;
        -webkit-transition: transform 0.5s ease;
        transition: transform 0.5s ease;
    }

    .box-register .title i {
        display: inline-block;
        font-size: 24px;
        line-height: 0;
    }


@media screen and (max-width: 767px) {
    .swipe-tab-content p {
        height: auto;
    }
}