
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Slider -->
@*<div class="banner-two gradient">
        <div class="container">
            <div class="banner-inner">
                <img class="img1 move-2" src="../Assets/images/main-slider/slider2/pic3.png" alt="">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-content text-white">
                            <h6 class="wow fadeInUp sub-title bgl-light text-white" data-wow-delay="0.5s">We are The Best</h6>
                            <h1 class="wow fadeInUp m-b20" data-wow-delay="1s">We Provide Best Websit Solution For You</h1>
                            <p class="wow fadeInUp m-b30" data-wow-delay="1.5s">Mauris in enim sollicitudin quam sollicitudin fermentum ut vitae massa. Donec venenatis accumsan nisi, sit amet maximus velit euismod sit amet. Vivamus et sem sed ipsum pretium lobortis non vitae sem.</p>
                            <a href="about-us-2.html" class="wow fadeInUp btn btn-light text-primary shadow rounded-xl" data-wow-delay="2s">Learn More</a>
                        </div>
                    </div>
                </div>
                <img class="img2 move-1" src="../Assets/images/pattern/pattern8.png" alt="">
                <img class="img3 move-2" src="../Assets/images/pattern/pattern9.png" alt="">
            </div>
        </div>
        <div class="dz-media">
            <img src="../Assets/images/main-slider/slider2/pic1.jpg" class="move-2" alt="">
        </div>
    </div>*@

<div class="slider">
    <div class="swiper-container gallery-top">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <video src="../Assets/videos/video01.mp4" muted autoplay loop></video>
            </div>
            <div class="swiper-slide" data-background="~/Assets/images/slide01.jpg"></div>
            <div class="swiper-slide" data-background="../Assets/images/slide02.jpg"></div>
        </div>
        <!-- end swiper-wrapper -->
        <div class="slide-progress">
            <span>01</span>
            <div class="swiper-pagination"></div>
            <span>03</span>
        </div>
    </div>
    <!-- end gallery-top -->
    <div class="swiper-container gallery-thumbs">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><span>DISCOVER</span> <a href="#">DISCOVER CASE</a> </div>
            <div class="swiper-slide"><span>EXCLUSION</span> <a href="#">DISCOVER CASE</a></div>
            <div class="swiper-slide"><span>EDITIONAL</span> <a href="#">DISCOVER CASE</a></div>
        </div>
        <!-- end swiper-wrapper -->
    </div>
    <!-- end gallery-thumbs -->
</div>
<!-- end slider -->
<!-- Service -->
<section class="content-inner-2" style="background-image: url(../Assets/images/background/bg2.png);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <div class="section-head style-2 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
                    <h6 class="sub-title text-primary">Lis Pharma</h6>
                    <div class="dlab-separator style-1"></div>
                    <h2 class="title m-t10">Vì sao bạn nên chọn chúng tôi?</h2>
                </div>
                <div class="icon-bx-wraper style-3 m-b30 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                    <div class="icon-bx-sm radius bgl-primary">
                        <a href="javascript:void(0);" class="icon-cell">
                            <i class="flaticon-office"></i>
                        </a>
                    </div>
                    <div class="wraper-effect"></div>
                    <div class="icon-content">
                        <h4 class="dlab-title m-b15">
                            VÌ SỨC KHỎE NGƯỜI VIỆT
                        </h4>
                        <p>Lis Pharma luôn cố gắng mang đến các sản phâm chất lượng, an toàn và điều trị bệnh tối ưu vì ức khỏe người Việt.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="icon-bx-wraper style-3 m-b30 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s">
                    <div class="icon-bx-sm radius bgl-primary">
                        <a href="javascript:void(0);" class="icon-cell">
                            <i class="flaticon-pie-charts"></i>
                        </a>
                    </div>
                    <div class="wraper-effect"></div>
                    <div class="icon-content">
                        <h4 class="dlab-title m-b15">
                            20+ DÒNG SẢN PHẨM CHẤT LƯỢNG
                        </h4>
                        <p>Nhiều dòng sản phẩm của Lis Pharma đang có mặt tại các nhà thuốc lớn và uy tín trên toàn quốc.</p>
                    </div>
                </div>
                <div class="icon-bx-wraper style-3 m-b30 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.8s">
                    <div class="icon-bx-sm radius bgl-primary">
                        <a href="javascript:void(0);" class="icon-cell">
                            <i class="flaticon-dollar"></i>
                        </a>
                    </div>
                    <div class="wraper-effect"></div>
                    <div class="icon-content">
                        <h4 class="dlab-title m-b15">
                            CÁC CHỨNG CHỈ Y DƯỢC UY TÍN
                        </h4>
                        <p>Với sứ mệnh kết nối Tây y và Đông y, Lis Pharma được cấp nhiều chứng chỉ uy tín trong ngành y dược.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="icon-bx-wraper style-3 m-b30 wow fadeInUp" data-wow-duration="2s" data-wow-delay="1.0s">
                    <div class="icon-bx-sm radius bgl-primary">
                        <a href="javascript:void(0);" class="icon-cell">
                            <i class="flaticon-line-graph"></i>
                        </a>
                    </div>
                    <div class="wraper-effect"></div>
                    <div class="icon-content">
                        <h4 class="dlab-title m-b15">
                            HỆ THỐNG PHÂN PHỐI RỘNG KHẮP
                        </h4>
                        <p>Với hơn 100 nhà thuốc liên kết, Lis Pharma có hệ thống phân phối rộng khắp trên thị trường.</p>
                    </div>
                </div>
                <div class="icon-bx-wraper style-3 m-b30 wow fadeInUp" data-wow-duration="2s" data-wow-delay="1.2s">
                    <div class="icon-bx-sm radius bgl-primary">
                        <a href="javascript:void(0);" class="icon-cell">
                            <i class="flaticon-help"></i>
                        </a>
                    </div>
                    <div class="wraper-effect"></div>
                    <div class="icon-content">
                        <h4 class="dlab-title m-b15">Growth Tracking</h4>
                        <p>Vestibulum a efficitur ex. Ut iaculis dapibus iaculis. Praesent lacus magna, rhoncus quis magna quis, pellentesque luctus leoam iaculis venenatis.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About us -->
<section class="content-inner about-wraper-1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 m-b30 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.2s">
                <div class="dz-media">
                    <img src="../Assets/images/about/pic1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 m-b30 wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.4s">
                <div class="section-head style-2">
                    <h6 class="sub-title text-primary">About Us</h6>
                    <div class="dlab-separator style-1"></div>
                    <h2 class="title m-b20">We Have Creative Team To Build Your Business Website Better</h2>
                    <p>Proin laoreet leo vel enim gravida, at porttitor metus ultricies. Cras eu velit enim. Vivamus blandit, dolor ut aliquet rutrum, ex elit mattis sapien, non molestie felis neque et nulla. Sed euismod turpis id nibh suscipit semper. Pellentesque dapibus risus arcu.</p>
                </div>
                <ul class="list-check primary m-b30">
                    <li>Suspendisse ullamcorper mollis orci in facilisis.</li>
                    <li>Etiam orci magna, accumsan varius enim volutpat.</li>
                    <li>Donec fringilla velit risus, in imperdiet turpis euismod quis.</li>
                    <li>Aliquam pulvinar diam tempor erat pellentesque, accumsan mauri.</li>
                </ul>
                <a href="about-us-2.html" class="btn btn-primary rounded-xl gradient">Learn More</a>
            </div>
        </div>
    </div>
</section>

<!-- Counters -->
<section class="counter-wraper-1" style="background-image: url(../Assets/images/background/bg8.png); background-size: contain; background-position: center; background-repeat: no-repeat;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 m-b30 wow zoomIn" data-wow-duration="2s" data-wow-delay="0.2s">
                <div class="dlab-content-bx style-1 text-center">
                    <div class="icon-content">
                        <h2 class="counter m-b0 text-primary">9875</h2>
                        <span class="title">Satisfied Clients</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 m-b30 wow zoomIn" data-wow-duration="2s" data-wow-delay="0.4s">
                <div class="dlab-content-bx style-1 text-center">
                    <div class="icon-content">
                        <h2 class="counter m-b0 text-primary">8765</h2>
                        <span class="title">Project Completed</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 m-b30 wow zoomIn" data-wow-duration="2s" data-wow-delay="0.6s">
                <div class="dlab-content-bx style-1 text-center">
                    <div class="icon-content">
                        <h2 class="counter m-b0 text-primary">7894</h2>
                        <span class="title">Project Lunched</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 m-b30 wow zoomIn" data-wow-duration="2s" data-wow-delay="0.8s">
                <div class="dlab-content-bx style-1 text-center">
                    <div class="icon-content">
                        <h2 class="counter m-b0 text-primary">65</h2>
                        <span class="title">Years Completed</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Services -->
<section class="content-inner-2" style="background-image: url(../Assets/images/background/bg2.png); background-size: contain; background-position: center; background-repeat: no-repeat;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.2s">
                <div class="section-head style-2 mb-4">
                    <h6 class="sub-title text-primary">Our Features</h6>
                    <div class="dlab-separator style-1"></div>
                    <h2 class="title m-t10">Behind The Story Of Slack Digital Agency</h2>
                </div>
                <p>Suspendisse potenti. Donec vel massa ut justo efficitur lacinia non ut felis. Etiam euismod, magna et efficitur ullamcorper, justo justo suscipit tellus, quis egestas lectus nulla ac velit. Morbi consequat vehicula tincidunt.</p>
                <p>Suspendisse purus nibh, lacinia ut rutrum eu, tincidunt eleifend ligula. Maecenas tristique est vitae erat semper pellentesque.</p>
                <p class="m-b30">Mauris sollicitudin tincidunt libero ac suscipit. Quisque ullamcorper consequat dui ut molestie.</p>
            </div>
            <div class="col-lg-7">
                <div class="icon-bx-wraper style-3 left m-r100 m-b30 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                    <div class="icon-bx-sm radius">
                        <a href="javascript:void(0);" class="icon-cell">
                            <i class="flaticon-idea"></i>
                        </a>
                    </div>
                    <div class="wraper-effect"></div>
                    <div class="icon-content">
                        <h4 class="dlab-title m-b15">Idea &amp; Analysis Gathering</h4>
                        <p>Maecenas laoreet efficitur sagittis. Aliquam eleifend nisl leo, sit amet consequat augue mattis varius. Suspendisse rhoncus nisl.</p>
                    </div>
                </div>
                <div class="icon-bx-wraper style-3 left m-l100 m-b30 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s">
                    <div class="icon-bx-sm radius">
                        <a href="javascript:void(0);" class="icon-cell">
                            <i class="flaticon-coding"></i>
                        </a>
                    </div>
                    <div class="wraper-effect"></div>
                    <div class="icon-content">
                        <h4 class="dlab-title m-b15">Design &amp; Developing</h4>
                        <p>Maecenas laoreet efficitur sagittis. Aliquam eleifend nisl leo, sit amet consequat augue mattis varius. Suspendisse rhoncus nisl.</p>
                    </div>
                </div>
                <div class="icon-bx-wraper style-3 left m-r100 m-b30 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.8s">
                    <div class="icon-bx-sm radius">
                        <a href="javascript:void(0);" class="icon-cell">
                            <i class="flaticon-rocket"></i>
                        </a>
                    </div>
                    <div class="wraper-effect"></div>
                    <div class="icon-content">
                        <h4 class="dlab-title m-b15">Testing &amp; Lunching</h4>
                        <p>Maecenas laoreet efficitur sagittis. Aliquam eleifend nisl leo, sit amet consequat augue mattis varius. Suspendisse rhoncus nisl.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Projects -->
<section class="content-inner-2">
    <div class="container">
        <div class="section-head style-2 text-center">
            <h6 class="sub-title text-primary">Our Portfolio</h6>
            <div class="dlab-separator style-1"></div>
            <h2 class="title m-t10">Take A Look At Our Latest Work</h2>
        </div>
        <div class="site-filters style-2 clearfix center m-b40">
            <ul class="filters" data-toggle="buttons">
                <li data-filter="" class="btn active">
                    <input type="radio">
                    <a href="javascript:void(0);">All</a>
                </li>
                <li data-filter="web_design" class="btn">
                    <input type="radio">
                    <a href="javascript:void(0);">Web Design</a>
                </li>
                <li data-filter="web_development" class="btn">
                    <input type="radio">
                    <a href="javascript:void(0);">Web Development</a>
                </li>
                <li data-filter="branding" class="btn">
                    <input type="radio">
                    <a href="javascript:void(0);">Branding</a>
                </li>
                <li data-filter="mobile_app" class="btn">
                    <input type="radio">
                    <a href="javascript:void(0);">Mobile App</a>
                </li>
                <li data-filter="seo" class="btn">
                    <input type="radio">
                    <a href="javascript:void(0);">SEO</a>
                </li>
            </ul>
        </div>
        <div class="clearfix">
            <ul id="masonry" class="row lightgallery" data-column-width="3">
                <li class="card-container col-lg-4 col-md-6 col-sm-6 web_design wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.1s">
                    <div class="dlab-box dlab-overlay-box style-2 m-b30">
                        <div class="dlab-media dlab-img-overlay1">
                            <img src="../Assets/images/projects/grid/pic1.jpg" alt="">
                        </div>
                        <div class="dlab-info">
                            <h5 class="title"><a href="javascript:void(0);">Software Landing Page Design</a></h5>
                            <p class="post-author">By <a href="javascript:void(0);">Jhone Doe</a></p>
                        </div>
                    </div>
                </li>
                <li class="card-container col-lg-4 col-md-6 col-sm-6 web_development wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
                    <div class="dlab-box dlab-overlay-box style-2 m-b30">
                        <div class="dlab-media dlab-img-overlay1">
                            <img src="../Assets/images/projects/grid/pic2.jpg" alt="">
                        </div>
                        <div class="dlab-info">
                            <h5 class="title"><a href="javascript:void(0);">Software Landing Page Design</a></h5>
                            <p class="post-author">By <a href="javascript:void(0);">Jhone Doe</a></p>
                        </div>
                    </div>
                </li>
                <li class="card-container col-lg-4 col-md-6 col-sm-6 branding wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s">
                    <div class="dlab-box dlab-overlay-box style-2 m-b30">
                        <div class="dlab-media dlab-img-overlay1">
                            <img src="../Assets/images/projects/grid/pic3.jpg" alt="">
                        </div>
                        <div class="dlab-info">
                            <h5 class="title"><a href="javascript:void(0);">Software Landing Page Design</a></h5>
                            <p class="post-author">By <a href="javascript:void(0);">Jhone Doe</a></p>
                        </div>
                    </div>
                </li>
                <li class="card-container col-lg-4 col-md-6 col-sm-6 mobile_app wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                    <div class="dlab-box dlab-overlay-box style-2 m-b30">
                        <div class="dlab-media dlab-img-overlay1">
                            <img src="../Assets/images/projects/grid/pic4.jpg" alt="">
                        </div>
                        <div class="dlab-info">
                            <h5 class="title"><a href="javascript:void(0);">Software Landing Page Design</a></h5>
                            <p class="post-author">By <a href="javascript:void(0);">Jhone Doe</a></p>
                        </div>
                    </div>
                </li>
                <li class="card-container col-lg-4 col-md-6 col-sm-6 seo wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.5s">
                    <div class="dlab-box dlab-overlay-box style-2 m-b30">
                        <div class="dlab-media dlab-img-overlay1">
                            <img src="../Assets/images/projects/grid/pic5.jpg" alt="">
                        </div>
                        <div class="dlab-info">
                            <h5 class="title"><a href="javascript:void(0);">Software Landing Page Design</a></h5>
                            <p class="post-author">By <a href="javascript:void(0);">Jhone Doe</a></p>
                        </div>
                    </div>
                </li>
                <li class="card-container col-lg-4 col-md-6 col-sm-6 web_development wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s">
                    <div class="dlab-box dlab-overlay-box style-2 m-b30">
                        <div class="dlab-media dlab-img-overlay1">
                            <img src="../Assets/images/projects/grid/pic6.jpg" alt="">
                        </div>
                        <div class="dlab-info">
                            <h5 class="title"><a href="javascript:void(0);">Software Landing Page Design</a></h5>
                            <p class="post-author">By <a href="javascript:void(0);">Jhone Doe</a></p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- Testimonials -->
<section class="content-inner-2 testimonial-wraper-1" style="background-image: url(../Assets/images/background/bg9.png); background-position: center;">
    <div class="container">
        <div class="section-head style-2 text-center">
            <h6 class="sub-title text-primary">Testimonial</h6>
            <div class="dlab-separator style-1"></div>
            <h2 class="title m-t10">See What Our Clients Say’s</h2>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="testimonials-carousel2 owl-carousel owl-theme owl-none owl-theme owl-dots-primary-full wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s">
                    <div class="item">
                        <div class="testimonial-3">
                            <div class="testimonial-pic">
                                <img src="../Assets/images/testimonials/pic1.jpg" alt="">
                            </div>
                            <div class="testimonial-text">
                                <p>Suspendisse potenti. Donec vel massa ut justo efficitur lacinia non ut felis. Etiam euismod, magna et efficitur ullamcorper, justo justo suscipit tellus, quis egestas lectus nulla ac velit. Morbi consequat vehicula tincidunt. Integer tincidunt faucibus volutpat. Morbi eget nisi at justo tristique interdum vitae quis arcu. Suspendisse purus nibh, lacinia ut rutrum eu, tincidunt eleifend ligula. Maecenas tristique est vitae erat semper pellentesque. </p>
                                <strong class="testimonial-name">Cak Dikin</strong>
                                <span class="testimonial-position text-primary">CEO & Founder </span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-3">
                            <div class="testimonial-pic">
                                <img src="../Assets/images/testimonials/pic3.jpg" alt="">
                            </div>
                            <div class="testimonial-text">
                                <p>Suspendisse potenti. Donec vel massa ut justo efficitur lacinia non ut felis. Etiam euismod, magna et efficitur ullamcorper, justo justo suscipit tellus, quis egestas lectus nulla ac velit. Morbi consequat vehicula tincidunt. Integer tincidunt faucibus volutpat. Morbi eget nisi at justo tristique interdum vitae quis arcu. Suspendisse purus nibh, lacinia ut rutrum eu, tincidunt eleifend ligula. Maecenas tristique est vitae erat semper pellentesque. </p>
                                <strong class="testimonial-name">Cak Dikin</strong>
                                <span class="testimonial-position text-primary">CEO & Founder </span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-3">
                            <div class="testimonial-pic">
                                <img src="../Assets/images/testimonials/pic3.jpg" alt="">
                            </div>
                            <div class="testimonial-text">
                                <p>Suspendisse potenti. Donec vel massa ut justo efficitur lacinia non ut felis. Etiam euismod, magna et efficitur ullamcorper, justo justo suscipit tellus, quis egestas lectus nulla ac velit. Morbi consequat vehicula tincidunt. Integer tincidunt faucibus volutpat. Morbi eget nisi at justo tristique interdum vitae quis arcu. Suspendisse purus nibh, lacinia ut rutrum eu, tincidunt eleifend ligula. Maecenas tristique est vitae erat semper pellentesque. </p>
                                <strong class="testimonial-name">Cak Dikin</strong>
                                <span class="testimonial-position text-primary">CEO & Founder </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Blog -->
<section class="content-inner-2">
    <div class="container">
        <div class="section-head style-2 text-center">
            <h6 class="sub-title text-primary">Our Blog</h6>
            <div class="dlab-separator style-1"></div>
            <h2 class="title m-t10">Latest News & Blog</h2>
        </div>
        <div class="blog-carousel1 owl-carousel owl-theme owl-btn-1 owl-btn-center-lr owl-dots-none owl-btn-primary">
            <div class="item wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
                <div class="dlab-blog style-1">
                    <div class="dlab-info">
                        <div class="dlab-meta">
                            <ul>
                                <li class="post-date"><i class="flaticon-clock m-r10"></i>7 March, 2020</li>
                                <li class="post-comment"><a href="javascript:void(0);"><i class="flaticon-speech-bubble"></i></a></li>
                                <li class="post-share">
                                    <i class="flaticon-share"></i>
                                    <ul>
                                        <li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
                                        <li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
                                        <li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <h5 class="dlab-title">
                            <a href="blog-details-2.html">Maecenas laoree efficitur sagittis aliquam eleifend nisl.</a>
                        </h5>
                        <p class="m-b0">Aenean pharetra velit , non ullamcorper quam dictum nec. Praesent vel rhoncus dolor, molestie maximus risus.</p>
                    </div>
                    <div class="dlab-media">
                        <a href="blog-details-2.html"><img src="../Assets/images/blog/default/thum1.jpg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="item wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                <div class="dlab-blog style-1">
                    <div class="dlab-info">
                        <div class="dlab-meta">
                            <ul>
                                <li class="post-date"><i class="flaticon-clock m-r10"></i>7 March, 2020</li>
                                <li class="post-comment"><a href="javascript:void(0);"><i class="flaticon-speech-bubble"></i></a></li>
                                <li class="post-share">
                                    <i class="flaticon-share"></i>
                                    <ul>
                                        <li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
                                        <li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
                                        <li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <h5 class="dlab-title">
                            <a href="blog-details-2.html">Quisque egestas iaculis felis eget placerat ut pulvinar mi.</a>
                        </h5>
                        <p class="m-b0">Aenean pharetra velit , non ullamcorper quam dictum nec. Praesent vel rhoncus dolor, molestie maximus risus.</p>
                    </div>
                    <div class="dlab-media">
                        <a href="blog-details-2.html"><img src="../Assets/images/blog/default/thum2.jpg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="item wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s">
                <div class="dlab-blog style-1">
                    <div class="dlab-info">
                        <div class="dlab-meta">
                            <ul>
                                <li class="post-date"><i class="flaticon-clock m-r10"></i>7 March, 2020</li>
                                <li class="post-comment"><a href="javascript:void(0);"><i class="flaticon-speech-bubble"></i></a></li>
                                <li class="post-share">
                                    <i class="flaticon-share"></i>
                                    <ul>
                                        <li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
                                        <li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
                                        <li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <h5 class="dlab-title">
                            <a href="blog-details-2.html">Fusce sem ligula, imperdiet sed nisi sit amet, euismod.</a>
                        </h5>
                        <p class="m-b0">Aenean pharetra velit , non ullamcorper quam dictum nec. Praesent vel rhoncus dolor, molestie maximus risus.</p>
                    </div>
                    <div class="dlab-media">
                        <a href="blog-details-2.html"><img src="../Assets/images/blog/default/thum3.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Clients Logo -->
<div class="content-inner-3">
    <div class="container">
        <div class="clients-carousel owl-none owl-carousel m-b30">
            <div class="item">
                <div class="clients-logo">
                    <img src="../Assets/images/logo/logo1.png" alt="">
                </div>
            </div>
            <div class="item">
                <div class="clients-logo">
                    <img src="../Assets/images/logo/logo2.png" alt="">
                </div>
            </div>
            <div class="item">
                <div class="clients-logo">
                    <img src="../Assets/images/logo/logo3.png" alt="">
                </div>
            </div>
            <div class="item">
                <div class="clients-logo">
                    <img src="../Assets/images/logo/logo4.png" alt="">
                </div>
            </div>
            <div class="item">
                <div class="clients-logo">
                    <img src="../Assets/images/logo/logo5.png" alt="">
                </div>
            </div>
            <div class="item">
                <div class="clients-logo">
                    <img src="../Assets/images/logo/logo6.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
