.title-section .title {
    font-weight: 700;
}

.wrap-content-story .content-story {
    margin-bottom: 15px;
}

.title-section .title {
    text-transform: uppercase;
}

.flat-imagebox .item {
    box-shadow: 0 5px 5px rgb(0 0 0 / 5%);
}

.flat-row.index-1 {
    margin-top: 50px;
}