
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <!-- Stylesheets -->
    <link href="../Assets/css/bootstrap.css" rel="stylesheet">
    <link href="../Assets/css/style.css" rel="stylesheet">
    <!-- Responsive File -->
    <link href="../Assets/css/responsive.css" rel="stylesheet">

    <link rel="shortcut icon" href="../Assets/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="../Assets/images/favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,500,700,800|Dancing+Script:400,700|Caveat:400,700|Roboto+Condensed:300,400,700|Quicksand:300,400,500,600,700,800|Montserrat:300,400,500,600,700,800|Playfair+Display:400,400i,700,900&amp;display=swap" rel="stylesheet">

    <!-- Responsive Settings -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="../Assets/js/respond.js"></script><![endif]-->
</head>

<body>

    <div class="page-wrapper">
        <!-- Main Header -->
        <header class="main-header header-style-two">
            <div class="header-top-two">
                <div class="auto-container">
                    <div class="inner clearfix">
                        <div class="top-left">
                            <div class="quote-link">Bio Việt <a href="/">Mang Hạnh Phúc Đến Mọi Nhà <span class="icon flaticon-play-button-1"></span></a></div>

                        </div>
                        <div class="top-right">
                            <div class="top-links">
                                <ul class="clearfix">
                                    <li><span class="icon flaticon-placeholder-3"></span>53 Garden Street LA, USA</li>
                                    <li><a href="mailto:service@pruners.com"><span class="icon flaticon-envelope-1"></span>service@pruners.com</a></li>
                                    <li><span class="icon flaticon-fast"></span>Mon-Fri: 9am to 7pm</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Upper -->
            <div class="header-upper-two">
                <div class="auto-container">
                    <div class="inner-container clearfix">
                        <!--Logo-->
                        <div class="logo-box">
                            <div class="logo"><a href="index.html" title="Pruners - Gardening and Landscaping HTML Template"><img src="../Assets/images/logo.png" alt="Pruners - Gardening and Landscaping HTML Template" title="Pruners - Gardening and Landscaping HTML Template"></a></div>
                        </div>

                        <div class="iso">
                            <div class="iso-icon"><span class="icon"><img src="../Assets/images/icons/iso-icon.png" alt=""></span></div>
                            <div class="number">ISO 9001:2015</div>
                            <div class="txt">Chứng Nhận An Toàn</div>
                        </div>

                        <div class="help clearfix">
                            <div class="info">
                                <div class="call-icon"><span class="flaticon-headphones-2"></span></div>
                                <div class="txt">Cần Tư Vấn?</div>
                                <div class="phone"><a href="tel:+56789012345">(+5) 678 90 12 345</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Header Upper-->
            <!--Header Lower-->
            <div class="header-lower">
                <div class="auto-container">
                    <div class="inner clearfix">
                        <div class="nav-outer clearfix">
                            <!--Mobile Navigation Toggler-->
                            <div class="mobile-nav-toggler"><span class="icon flaticon-menu-1"></span></div>

                            <!-- Main Menu -->
                            <nav class="main-menu navbar-expand-md navbar-light">
                                <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                    <ul class="navigation clearfix">
                                        <li><a href="/">Trang Chủ</a></li>
                                        <li><a href="about.html">Về chúng tôi</a></li>
                                        <li class="dropdown">
                                            <a href="services.html">Sản phẩm</a>
                                            <ul>
                                                <li><a href="services.html">All Services</a></li>
                                                <li><a href="spring-service.html">Spring Cleanup</a></li>
                                                <li><a href="landscape-service.html">Landscape Installation</a></li>
                                                <li><a href="garden-service.html">Garden Care</a></li>
                                                <li><a href="water-service.html">Water Fountain</a></li>
                                                <li><a href="hardscaping-service.html">Hardscaping</a></li>
                                                <li><a href="snow-removal-service.html">Snow & Ice Removal</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="gallery-grid-1.html">Dự án</a>
                                            <ul>
                                                <li class="dropdown">
                                                    <a href="gallery-grid-1.html">Grid View</a>
                                                    <ul>
                                                        <li><a href="gallery-grid-1.html">3 Columns</a></li>
                                                        <li><a href="gallery-grid-2.html">4 Columns</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="gallery-wide-1.html">Wide View</a>
                                                    <ul>
                                                        <li><a href="gallery-wide-1.html">4 Columns</a></li>
                                                        <li><a href="gallery-wide-2.html">5 Columns</a></li>
                                                        <li><a href="gallery-wide-3.html">Masonry</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="gallery-masonry.html">Masonry</a></li>
                                                <li><a href="project-single.html">Project Details</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="blog-grid-1.html">Blog</a>
                                        </li>
                                        <li><a href="contact.html">Liên hệ</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>

                        <div class="more-links clearfix">
                            <div class="social-links">
                                <ul class="clearfix">
                                    <li><a href="#"><span class="fab fa-facebook-f"></span><span class="t-tip-box"><span class="t-t-text">Facebook</span></span></a></li>
                                    <li><a href="#"><span class="fab fa-twitter"></span><span class="t-tip-box"><span class="t-t-text">Twitter</span></span></a></li>
                                    <li><a href="#"><span class="fab fa-linkedin"></span><span class="t-tip-box"><span class="t-t-text">Linkedin +</span></span></a></li>
                                    <li><a href="#"><span class="fab fa-youtube"></span><span class="t-tip-box"><span class="t-t-text">Youtube</span></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Header Lower-->
            <!-- Sticky Header  -->
            <div class="sticky-header">
                <div class="auto-container clearfix">
                    <!--Logo-->
                    <div class="logo pull-left">
                        <a href="index.html" title=""><img src="../Assets/images/sticky-logo.png" alt="" title=""></a>
                    </div>
                    <!--Right Col-->
                    <div class="pull-right clearfix">
                        <!-- Main Menu -->
                        <nav class="main-menu clearfix">
                            <!--Keep This Empty / Menu will come through Javascript-->
                        </nav><!-- Main Menu End-->
                        <!--Contact Btn-->
                        <div class="contact-link">
                            <a href="contact.html" class="theme-btn btn-style-three"><span class="btn-title">Nhận Tư Vấn <i class="arrow flaticon-play-button-1"></i></span></a>
                        </div>
                    </div>
                </div>
            </div><!-- End Sticky Menu -->
            <!-- Mobile Menu  -->
            <div class="mobile-menu">
                <div class="menu-backdrop"></div>
                <div class="close-btn"><span class="icon flaticon-letter-x"></span></div>

                <nav class="menu-box">
                    <div class="nav-logo"><a href="index.html"><img src="../Assets/images/nav-logo.png" alt="" title=""></a></div>
                    <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
                    <!--Social Links-->
                    <div class="social-links">
                        <ul class="clearfix">
                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                            <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                            <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                            <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                        </ul>
                    </div>
                </nav>
            </div><!-- End Mobile Menu -->
        </header>
        <!-- End Main Header -->
        @RenderBody()
        <!-- Main Footer -->
        <footer class="main-footer footer-two">

            <!--Upper Section-->
            <div class="upper-section">
                <div class="auto-container">

                    <!--Widgets-->
                    <div class="widgets-section">
                        <div class="row clearfix">

                            <!--Column-->
                            <div class="column col-xl-4 col-lg-6 col-md-12 col-sm-12">
                                <div class="footer-widget about">
                                    <div class="logo"><a href="#"><img src="../Assets/images/footer-logo-two.png" alt=""></a></div>
                                    <div class="text-box">
                                        <div class="text">It is a long established fact that a reader will be distracted by the readable content page looking at its normal distribution.</div>
                                        <div class="link"><a href="#" class="theme-btn">More About Us <i class="arrow flaticon-play-button-1"></i></a></div>
                                    </div>
                                    <div class="hours">
                                        <span class="icon flaticon-clock"></span>
                                        Opening Hrs: <br>Mon-Sat: 9am to 7pm
                                    </div>
                                </div>
                            </div>

                            <!--Column-->
                            <div class="column col-xl-4 col-lg-6 col-md-12 col-sm-12">
                                <div class="footer-widget links-widget">
                                    <div class="widget-title">
                                        <h4>Quick Links</h4>
                                    </div>
                                    <div class="widget-content">
                                        <div class="row clearfix">
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                                <ul class="links">
                                                    <li><a href="#">Company</a></li>
                                                    <li><a href="#">Projects</a></li>
                                                    <li><a href="#">Testimonials</a></li>
                                                    <li><a href="#">News </a></li>
                                                    <li><a href="#">Process</a></li>
                                                    <li><a href="#">Contact Us</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                                <ul class="links">
                                                    <li><a href="#">Services</a></li>
                                                    <li><a href="#">Awards</a></li>
                                                    <li><a href="#">Pricing Plan</a></li>
                                                    <li><a href="#">Faq’s</a></li>
                                                    <li><a href="#">Products</a></li>
                                                    <li><a href="#">Policies</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Column-->
                            <div class="column col-xl-4 col-lg-6 col-md-12 col-sm-12">
                                <div class="footer-widget newsletter-box">
                                    <div class="widget-title">
                                        <h4>Subscribe Us</h4>
                                    </div>
                                    <div class="subscribe-box">
                                        <div class="text">Subscribe to our Newsletter & Event right now to be updated.</div>
                                        <!--Newsletter-->
                                        <div class="newsletter">
                                            <form method="post" action="http://t.commonsupport.com/pruners/contact.html">
                                                <div class="form-group clearfix">
                                                    <input type="email" name="email" value="" placeholder="Email Address *" required>
                                                    <span class="alt-icon far fa-envelope"></span>
                                                    <button type="submit" class="theme-btn"><span class="flaticon-right-arrow-1"></span></button>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="follow">
                                            <ul class="clearfix">
                                                <li>Follow Us On:</li>
                                                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                                <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                                                <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="auto-container">
                    <div class="inner clearfix">
                        <div class="copyright">Copyright &copy; 2020 All Rights Reserved by <a href="#">Pruners.</a></div>
                        <div class="bottom-links">
                            <ul class="clearfix">
                                <li><a href="#">Terms of Service</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Sitemap</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </footer>

    </div>
    <!--End pagewrapper-->
    <!--Scroll to top-->
    <div class="scroll-to-top alternate scroll-to-target" data-target="html"><span class="flaticon-arrows"></span></div>

    <script src="../Assets/js/jquery.js"></script>
    <script src="../Assets/js/popper.min.js"></script>
    <script src="../Assets/js/bootstrap.min.js"></script>
    <script src="../Assets/js/jquery-ui.js"></script>
    <script src="../Assets/js/jquery.fancybox.js"></script>
    <script src="../Assets/js/owl.js"></script>
    <script src="../Assets/js/scrollbar.js"></script>
    <script src="../Assets/js/isotope.js"></script>
    <script src="../Assets/js/appear.js"></script>
    <script src="../Assets/js/wow.js"></script>
    <script src="../Assets/js/custom-script.js"></script>

</body>
</html>