	/*
  	Flaticon icon font: Flaticon
  	Creation date: 01/11/2020 06:40
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../Assets/fonts/Flaticon.eot");
  src: url("../Assets/fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("../Assets/fonts/Flaticon.woff2") format("woff2"),
       url("../Assets/fonts/Flaticon.woff") format("woff"),
       url("../Assets/fonts/Flaticon.ttf") format("truetype"),
       url("../Assets/fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../Assets/fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-medal-of-award:before { content: "\f100"; }
.flaticon-star:before { content: "\f101"; }
.flaticon-insurance:before { content: "\f102"; }
.flaticon-dollars-money-bag-with-a-clock:before { content: "\f103"; }
.flaticon-marketing-strategy:before { content: "\f104"; }
.flaticon-strategy-in-a-labyrinth:before { content: "\f105"; }
.flaticon-evaluate:before { content: "\f106"; }
.flaticon-trend:before { content: "\f107"; }
.flaticon-rocket:before { content: "\f108"; }
.flaticon-rocket-1:before { content: "\f109"; }
.flaticon-rocket-2:before { content: "\f10a"; }
.flaticon-trusted:before { content: "\f10b"; }
.flaticon-progress-report:before { content: "\f10c"; }
.flaticon-customer-feedback:before { content: "\f10d"; }