:root {
    --mainColor: #00996d;
    --gradientColor: linear-gradient(90deg, #00d1c0, #00d17a);
    --gradientOrange: linear-gradient(90deg, #ff9190, #fdc094);
    --gradientRed: linear-gradient(90deg, #ee0979, #ff6a00);
}



.header-top-nav {
    padding: 10px 0 10px 0;
}

.header-right-nav ul li {
    font-size: 14px;
    font-weight: 700;
}

.left-text {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

.header_account_list {
    margin-right: 0px;
}

.header-right-nav a:hover {
    color: #fff;
}

.home-2 .header-navigation {
    padding: 5px 0;
}

.about-content h2 {
    font-weight: 900;
}

.section-title h2 {
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 25px;
}

.section-title p {
    color: #888;
    font-size: 16px;
    line-height: 25px;
}

.single-static p {
    line-height: 24px;
    font-size: 14px;
    text-align: justify;
}

.main-navigation ul li a {
    text-transform: capitalize;
}

.header-right-nav ul li {
    margin: 0 0 0 50px;
}

/*.single-static {
    display: unset;
}*/
.single-static img {
    width: 60px;
    flex: 0 0 45px;
    margin-bottom: 15px;
}

.product-details-content h2 {
    line-height: 35px;
}


.new {
    background-image: var(--gradientOrange);
}

.discount-price {
    background-image: var(--gradientRed);
}

.img-my-pham .first-img {
    width: 208px;
    height: 208px;
}

.img-my-pham .second-img {
    width: 208px;
    height: 208px;
}

.product-link {
    min-height: 45px !important;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    margin-bottom: 5px;
}

.add-to-link ul li.cart {
    float: unset;
}

.title_countdown {
    line-height: 23px;
    max-width: 115px;
}

.home-2 .sticky-nav.menu_fixed {
    padding: 10px 0 10px 0;
}

.feature-slider-item .img-block {
    margin-right: 5px;
}

.feature-slider-item .list-product {
    padding: 10px;
}

.desc-listcategoreis {
    top: 30%;
}

    .desc-listcategoreis .name_categories h4 {
        color: #fff
    }

    .desc-listcategoreis a {
        color: #fff;
        font-size: 16px;
    }

        .desc-listcategoreis a i {
            color: #fff;
        }

.product-details-content .current-price {
    font-size: 28px;
    font-weight: 700;
}

.product-details-content .old-price {
    font-size: 14px;
    margin: 10px 15px;
}

.pro-short-desc {
    margin: 10px 0 20px 0;
}

.product-dec-slider-2 {
    margin-top: 15px;
}

.current-price {
    font-weight: 700;
}

.img-category-my-pham .first-img {
    width: 240px;
    height: 240px;
}

.center-div {
    text-align: center;
}

.feature-slider-item-sidebar .list-product {
    padding: 0;
}

.feature-slider-item-sidebar .product-decs {
    overflow: hidden;
    padding: 10px 0 10px 0;
}

.feature-slider-item-sidebar .img-block {
    float: left;
    width: 138.4px;
    height: 138.4px;
    margin-right: 20px;
}

.slider-height-6 {
    height: 715px;
}

.categorie-area {
    margin-top: 50px;
}

    .categorie-area::before {
        content: "";
        width: 300px;
        height: 300px;
        position: absolute;
        right: 0;
        margin-top: 268px;
        z-index: 0;
        background: url(../images/common/img-object-home.png) top center no-repeat;
    }

.slider-area span {
    font-style: normal;
}