:root {
    --mainColor: #00996d;
    --gradientColor: linear-gradient(90deg, #00d1c0, #00d17a);
    --gradientOrange: linear-gradient(90deg, #ff9190, #fdc094);
    --gradientRed: linear-gradient(90deg, #ee0979, #ff6a00);
}



.header-top-nav {
    padding: 10px 0 10px 0;
}

.header-right-nav ul li {
    font-size: 14px;
    font-weight: 700;
}

.left-text {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

.header_account_list {
    margin-right: 0px;
}

.header-right-nav a:hover {
    color: #fff;
}

.home-2 .header-navigation {
    padding: 5px 0;
}

.about-content h2 {
    font-weight: 900;
}

.section-title h2 {
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 25px;
}

.section-title p {
    color: #888;
    font-size: 16px;
    line-height: 25px;
}

.single-static p {
    line-height: 24px;
    font-size: 14px;
    text-align: justify;
}

.main-navigation ul li a {
    text-transform: capitalize;
    color: #fff;
}

.img-logo {
    width: 70%;
}

.img-logo-footer {
    width: 40%;
}

.count-cart {
    color: #fff;
}

.header_account_list > a {
    color: #fff;
}

.header-right-nav ul li {
    margin: 0 0 0 15px;
}

    .header-right-nav ul li:after {
        left: -10px;
    }

/*.single-static {
    display: unset;
}*/
.single-static img {
    width: 60px;
    flex: 0 0 45px;
    margin-bottom: 15px;
}

.product-details-content h2 {
    line-height: 35px;
}


.new {
    background-image: var(--gradientOrange);
}

.discount-price {
    background-image: var(--gradientRed);
}

.img-product-cart{
    width: 100px;
    height: auto;
}

.img-my-pham .first-img {
    width: 208px;
    height: 208px;
}

.img-my-pham .second-img {
    width: 208px;
    height: 208px;
}

.product-link {
    min-height: 45px !important;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    margin-bottom: 5px;
}

.add-to-link ul li.cart {
    float: unset;
}

.title_countdown {
    line-height: 23px;
    max-width: 115px;
}

.home-2 .sticky-nav.menu_fixed {
    padding: 10px 0 10px 0;
}

.feature-slider-item .img-block {
    margin-right: 5px;
}

.feature-slider-item .list-product {
    padding: 10px;
}

.desc-listcategoreis {
    top: 30%;
}

    .desc-listcategoreis .name_categories h4 {
        color: #fff
    }

    .desc-listcategoreis a {
        color: #fff;
        font-size: 16px;
    }

        .desc-listcategoreis a i {
            color: #fff;
        }

.product-details-content .current-price {
    font-size: 28px;
    font-weight: 700;
}

.product-details-content .old-price {
    font-size: 14px;
    margin: 10px 15px;
}

.pro-short-desc {
    margin: 10px 0 20px 0;
}

.product-dec-slider-2 {
    margin-top: 15px;
}

.current-price {
    font-weight: 700;
}

.img-category-my-pham .first-img {
    width: 255px;
    height: 255px;
}

.center-div {
    text-align: center;
}

.feature-slider-item-sidebar .list-product {
    padding: 0;
}

.feature-slider-item-sidebar .product-decs {
    overflow: hidden;
    padding: 10px 0 10px 0;
}

.feature-slider-item-sidebar .img-block {
    float: left;
    width: 138.4px;
    height: 138.4px;
    margin-right: 20px;
}

.slider-height-6 {
    height: 715px;
}

.categorie-area {
    margin-top: 50px;
}

    .categorie-area::before {
        content: "";
        width: 300px;
        height: 300px;
        position: absolute;
        right: 0;
        margin-top: 268px;
        z-index: 0;
        background: url(../images/common/img-object-home.png) top center no-repeat;
    }

.slider-area span {
    font-style: normal;
    color: #fff;
}

.slider-area h1 {
    color: #fff;
}

.feature-area-2 {
    padding: 80px 0 80px 0;
}

.feature-area-2 .section-title {
    margin-left: 0;
    margin-top: 25px;
}

.home-furniture img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.home-furniture .blog-text {
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.product-details-content h1 {
    font-weight: 700;
}

.slider-area p {
    color: #fff;
    width: 40%;
    line-height: 35px;
    text-align: justify;
}

.breadcrumb-hrading {
    color: #fff;
}

.breadcrumb-links li, .breadcrumb-links li a {
    color: #fff;
}

.count-cart:after {
    width: 0;
    height: 0;
    content: "";
}

.count-cart:before {
    margin-right: 5px;
}

.show-alert-soluong {
    margin-bottom: 20px;
}

    .show-alert-soluong a {
        color: #ff0000;
    }


/*SHAKE*/
.shake_alert {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}


/*--*/


/*MODAL SUCCESS*/
#success_tic .page-body {
    max-width: 300px;
    background-color: #FFFFFF;
    margin: 10% auto;
}

    #success_tic .page-body .head {
        text-align: center;
    }
/* #success_tic .tic{
  font-size:186px;
} */
#success_tic .close {
    opacity: 1;
    position: absolute;
    right: 0px;
    font-size: 30px;
    padding: 3px 15px;
    margin-bottom: 10px;
}

#success_tic .checkmark-circle {
    width: 150px;
    height: 150px;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.checkmark-circle .background {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #1ab394;
    position: absolute;
}

#success_tic .checkmark-circle .checkmark {
    border-radius: 5px;
}

    #success_tic .checkmark-circle .checkmark.draw:after {
        -webkit-animation-delay: 300ms;
        -moz-animation-delay: 300ms;
        animation-delay: 300ms;
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-timing-function: ease;
        -moz-animation-timing-function: ease;
        animation-timing-function: ease;
        -webkit-animation-name: checkmark;
        -moz-animation-name: checkmark;
        animation-name: checkmark;
        -webkit-transform: scaleX(-1) rotate(135deg);
        -moz-transform: scaleX(-1) rotate(135deg);
        -ms-transform: scaleX(-1) rotate(135deg);
        -o-transform: scaleX(-1) rotate(135deg);
        transform: scaleX(-1) rotate(135deg);
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    #success_tic .checkmark-circle .checkmark:after {
        opacity: 1;
        height: 75px;
        width: 37.5px;
        -webkit-transform-origin: left top;
        -moz-transform-origin: left top;
        -ms-transform-origin: left top;
        -o-transform-origin: left top;
        transform-origin: left top;
        border-right: 15px solid #fff;
        border-top: 15px solid #fff;
        border-radius: 2.5px !important;
        content: '';
        left: 35px;
        top: 80px;
        position: absolute;
    }

@-webkit-keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }

    20% {
        height: 0;
        width: 37.5px;
        opacity: 1;
    }

    40% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }

    100% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }
}

@-moz-keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }

    20% {
        height: 0;
        width: 37.5px;
        opacity: 1;
    }

    40% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }

    100% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }
}

@keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }

    20% {
        height: 0;
        width: 37.5px;
        opacity: 1;
    }

    40% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }

    100% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }
}


/*Filter styles*/
.saturate {
    filter: saturate(3);
}

.grayscale {
    filter: grayscale(100%);
}

.contrast {
    filter: contrast(160%);
}

.brightness {
    filter: brightness(100);
    -webkit-filter: brightness(100);
}

.blur {
    filter: blur(3px);
}

.invert {
    filter: invert(100%);
}

.sepia {
    filter: sepia(100%);
}

.huerotate {
    filter: hue-rotate(180deg);
}

.rss.opacity {
    filter: opacity(50%);
}

.toaster-container{
    position: fixed;
}

    .toaster-container .toaster-msg {
        margin: auto;
    }

.blog-post-content-inner p span{
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.home-furniture .blog-post a.read-more-btn i{
    color: var(--mainColor);
}

.home-furniture .shop-btn {
    background-color: var(--mainColor);
}

@media only screen and (max-width: 479px) {
    .header-top-nav {
        display: none;
    }

    .img-logo {
        width: 115%;
    }

    .home-2 .header-navigation {
        padding: 12px 0;
    }

    .mean-container a.meanmenu-reveal {
        border: 1px solid #fff;
    }

        .mean-container a.meanmenu-reveal span {
            background: #fff;
        }

    .section-title h2 {
        font-size: 30px;
        margin-bottom: 25px;
        line-height: 45px;
    }
}
