@model IEnumerable<Data.blog>
@using Data
@using Data.Providers
@{
    ViewBag.Title = ViewBag.BlogCategory.blog_category_name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    string urlCMS = System.Configuration.ConfigurationManager.AppSettings["urlCMS"];
    string urlSite = System.Configuration.ConfigurationManager.AppSettings["urlSite"];

    //var list_tag = new TagProvider().getByCategoryId(ViewBag.Category.category_id);
    var meta_keyword = "";
    //if (list_tag.Count > 0)
    //{
    //    foreach (var tag in list_tag)
    //    {
    //        meta_keyword += tag.tag_name + ", ";
    //    }
    //}

    ViewBag.Keywords = meta_keyword + ViewBag.BlogCategory.blog_category_name;
    ViewBag.Description = ViewBag.BlogCategory.blog_category_seo_description;
    ViewBag.Canonical = urlSite + "/blog-categories/" + ViewBag.BlogCategory.blog_category_seo_alias;
    ViewBag.Alternate = urlSite + "/blog-categories/" + ViewBag.BlogCategory.blog_category_seo_alias;
    ViewBag.Url = urlSite + "/blog-categories/" + ViewBag.BlogCategory.blog_category_seo_alias;
    //ViewBag.Image = urlCMS + "/" + ViewBag.Category.image;
}

<!-- start of page-header -->
<section class="py-80 bg-gray section-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title font-weight-bold mb-20">@ViewBag.BlogCategory.blog_category_name</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent p-0 font-weight-600 mb-0">
                        <li class="breadcrumb-item"><a class="text-primary" href="/">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a class="text-primary" href="/">Tin tức</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.BlogCategory.blog_category_name</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- end of page-header -->
<!-- start of courses-details -->
<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">

            </div>

            <div class="col-lg-4 mt-5 mt-lg-0">
                <div class="widget">
                    <h4 class="widget-title">Bài viết mới nhất</h4>
                    <div class="mt-25 px-3">
                        <div class="post-meta font-weight-500 small mb-2">
                            <span class="mr-4"><i class="far fa-calendar-alt text-primary mr-2"></i> 25/02/2020</span>
                            <span><i class="fas fa-user text-primary mr-2"></i> Dispatched</span>
                        </div>
                        <a href="#!" class="text-secondary font-weight-600 h5">She exposed painted fifteen are noisier mistake led waiting</a>
                    </div>
                    <div class="mt-25 px-3">
                        <div class="post-meta font-weight-500 small mb-2">
                            <span class="mr-4"><i class="far fa-calendar-alt text-primary mr-2"></i> 25/02/2020</span>
                            <span><i class="fas fa-user text-primary mr-2"></i> Painted</span>
                        </div>
                        <a href="#!" class="text-secondary font-weight-600 h5">She exposed painted fifteen are noisier mistake led waiting</a>
                    </div>
                    <div class="mt-25 px-3">
                        <div class="post-meta font-weight-500 small mb-2">
                            <span class="mr-4"><i class="far fa-calendar-alt text-primary mr-2"></i> 25/02/2020</span>
                            <span><i class="fas fa-user text-primary mr-2"></i> Dispatched</span>
                        </div>
                        <a href="#!" class="text-secondary font-weight-600 h5">Supported neglected met she therefore unwilling discovery remainder.</a>
                    </div>
                    <div class="mt-25 px-3">
                        <div class="post-meta font-weight-500 small mb-2">
                            <span class="mr-4"><i class="far fa-calendar-alt text-primary mr-2"></i> 25/02/2020</span>
                            <span><i class="fas fa-user text-primary mr-2"></i> Dispatched</span>
                        </div>
                        <a href="#!" class="text-secondary font-weight-600 h5">Melancholy way she boisterous friendship of mine</a>
                    </div>
                </div>

                <div class="widget">
                    <h4 class="widget-title">Archives</h4>
                    <ul class="widget-list list-unstyled">
                        <li><a href="#!"><i class="fas fa-caret-right mr-2"></i>April</a></li>
                        <li><a href="#!"><i class="fas fa-caret-right mr-2"></i>May</a></li>
                        <li><a href="#!"><i class="fas fa-caret-right mr-2"></i>June</a></li>
                        <li><a href="#!"><i class="fas fa-caret-right mr-2"></i>Julay</a></li>
                        <li><a href="#!"><i class="fas fa-caret-right mr-2"></i>August</a></li>
                        <li><a href="#!"><i class="fas fa-caret-right mr-2"></i>September</a></li>
                    </ul>
                </div>

                <div class="widget">
                    <h4 class="widget-title">Tags</h4>
                    <ul class="tag-list list-inline list-unstyled mt-2">
                        <li class="list-inline-item"><a href="#!">Tutor</a></li>
                        <li class="list-inline-item"><a href="#!">Education</a></li>
                        <li class="list-inline-item"><a href="#!">Online learning</a></li>
                        <li class="list-inline-item"><a href="#!">Teacher</a></li>
                        <li class="list-inline-item"><a href="#!">Student</a></li>
                        <li class="list-inline-item"><a href="#!">Photography</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- end of courses-details -->
