
@{
    ViewBag.Title = "Giới thiệu cơ sở vật chất Phòng khám Đa khoa Bách Giai | Phòng khám nam khoa Hà Nội";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Main Banner Area -->
<div class="main-banner">
    <div class="main-banner-item item-three">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="main-banner-content">
                        <h1>Cở sở vật chất hiện đại mang tầm bệnh viện quốc tế</h1>
                        <p>Với hệ thống tòa nhà 7 tầng với tổng diện tích lên đến gần 2.000.000 m2, mang đến cho người bệnh không gian khám chữa bệnh rộng rãi, hiện đại, tiện nghi đầy đủ mang tầm “bệnh viện quốc tế”.</p>

                        <div class="banner-btn">
                            <a href="#" class="default-btn">Tư vấn ngay</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main Banner Area -->

<section class="section-method">
    <div class="section-title">
        <h2>Phòng khám đầy đủ các phòng chức năng chuyên biệt</h2>
        <p>Mang đến sự tiện nghi cho bệnh nhân trong quá trình thăm khám tại Phòng khám Đa khoa Bách Giai</p>
        <div class="bar"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-12">
                <div class="single-blog">
                    <div class="blog-image-gioi-thieu">
                        <a><img src="../Assets/img/blog/blog-4.jpg" alt="image"></a>
                    </div>
                    <div class="blog-content-gioi-thieu">
                        <h3>Quầy tiếp đón bệnh nhân</h3>
                        <h3>
                            <a>Nơi người bệnh đăng ký khám, nhận kết quả khám chữa bệnh và đây cũng là nơi chỉ dẫn, giải thích những thắc mắc của người bệnh.</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="single-blog">
                    <div class="blog-image-gioi-thieu">
                        <a><img src="../Assets/img/blog/blog-4.jpg" alt="image"></a>
                    </div>
                    <div class="blog-content-gioi-thieu">
                        <h3>Phòng xét nghiệm</h3>
                        <h3>
                            <a>Sử dụng các trang thiết bị tối tân đã được đồng bộ hóa để thực hiện các loại xét nghiệm theo chỉ định của bác sỹ.</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="single-blog">
                    <div class="blog-image-gioi-thieu">
                        <a><img src="../Assets/img/blog/blog-4.jpg" alt="image"></a>
                    </div>
                    <div class="blog-content-gioi-thieu">
                        <h3>Phòng siêu âm</h3>
                        <h3>
                            <a>Hình ảnh siêu âm rõ nét, độ phân giải cao,.. phòng khám luôn tự tin đi đầu trong lĩnh vực chẩn đoán hình ảnh.</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="single-blog">
                    <div class="blog-image-gioi-thieu">
                        <a><img src="../Assets/img/blog/blog-4.jpg" alt="image"></a>
                    </div>
                    <div class="blog-content-gioi-thieu">
                        <h3>Phòng truyền dịch</h3>
                        <h3>
                            <a>Chuyên dụng, sạch sẽ, thoáng mát và khép kín. Khi có bất kỳ vấn đề gì, chỉ cần bấm chuông, đội ngũ y tá sẽ có mặt tức thì để phục vụ bạn.</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="single-blog">
                    <div class="blog-image-gioi-thieu">
                        <a><img src="../Assets/img/blog/blog-4.jpg" alt="image"></a>
                    </div>
                    <div class="blog-content-gioi-thieu">
                        <h3>Phòng tiểu phẫu đạt chuẩn</h3>
                        <h3>
                            <a>Được đảm bảo vô trùng bởi các thiết bị làm sạch không khí và khử trùng, giảm thiểu tối đa nguy cơ viêm nhiễm trong quá trình tiểu phẫu.</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="single-blog">
                    <div class="blog-image-gioi-thieu">
                        <a><img src="../Assets/img/blog/blog-4.jpg" alt="image"></a>
                    </div>
                    <div class="blog-content-gioi-thieu">
                        <h3>Phòng chờ tiện nghi</h3>
                        <h3>
                            <a>Có nhiều tiện ích như điều hòa, wifi, sách báo, nước uống,... để quá trình thăm khám luôn thoải mái nhất.</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>