@using Data;
@using Data.Providers;
@{
    ViewBag.Title = "DoiNguBacSi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Reviews Area -->
<section class="reviews-area ptb-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <div class="dashboard-profile">
                    <div class="profile-box">
                        <img src="../Assets/img/profile.jpg" alt="image">

                        <div class="profile-designation">
                            <h3>Dr. Addison Smith</h3>
                            <p>MBBS, M.D of Medicine</p>
                            <span>BDS, FCPS (Hons), Ph.D. (USA)</span>
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="col-lg-9 col-md-12">
                <div class="reviews-list">
                    <div class="reviews-box">
                        <div class="image-box">
                            <img src="../Assets/img/dashboard/dashboard-9.jpg" alt="image">
                        </div>

                        <div class="reviews-content">
                            <h3>Terry Bradshaw</h3>
                            <span>15 Sep 2020, 09:30 AM</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam, quis nostrud exercitation ullamco labor.</p>
                            <a href="#" class="reply-btn">Reply Now</a>

                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </div>
                        </div>
                    </div>

                    <div class="reviews-box">
                        <div class="image-box">
                            <img src="../Assets/img/dashboard/dashboard-10.jpg" alt="image">
                        </div>

                        <div class="reviews-content">
                            <h3>Mitsue Dove</h3>
                            <span>15 Sep 2020, 09:30 AM</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam, quis nostrud exercitation ullamco labor.</p>
                            <a href="#" class="reply-btn">Reply Now</a>

                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </div>
                        </div>
                    </div>

                    <div class="reviews-box">
                        <div class="image-box">
                            <img src="../Assets/img/dashboard/dashboard-11.jpg" alt="image">
                        </div>

                        <div class="reviews-content">
                            <h3>Viki Hankins</h3>
                            <span>15 Sep 2020, 09:30 AM</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam, quis nostrud exercitation ullamco labor.</p>
                            <a href="#" class="reply-btn">Reply Now</a>

                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </div>
                        </div>
                    </div>

                    <div class="reviews-box">
                        <div class="image-box">
                            <img src="../Assets/img/dashboard/dashboard-12.jpg" alt="image">
                        </div>

                        <div class="reviews-content">
                            <h3>Jame Kolar</h3>
                            <span>15 Sep 2020, 09:30 AM</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam, quis nostrud exercitation ullamco labor.</p>
                            <a href="#" class="reply-btn">Reply Now</a>

                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </div>
                        </div>
                    </div>

                    <div class="reviews-box">
                        <div class="image-box">
                            <img src="../Assets/img/dashboard/dashboard-14.jpg" alt="image">
                        </div>

                        <div class="reviews-content">
                            <h3>Damon Alvelo</h3>
                            <span>15 Sep 2020, 09:30 AM</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam, quis nostrud exercitation ullamco labor.</p>
                            <a href="#" class="reply-btn">Reply Now</a>

                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Reviews Area -->
