
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Categories Area -->
<section class="categories-area pt-100 pb-100">
    <div class="container">
        <div class="section-title">
            <h2>6 thế mạnh</h2>
            <div class="bar"></div>
            <p>Tạo nên thương hiệu của Phòng khám Đa khoa Bách Giai</p>
        </div>

        <div class="categories-slider owl-carousel owl-theme">
            <div class="categories-item-box">
                <div class="icon">
                    <i class="flaticon-tooth"></i>
                </div>
                <h3>
                    <a href="#">Dentist</a>
                </h3>
            </div>

            <div class="categories-item-box">
                <div class="icon">
                    <i class="flaticon-kidneys"></i>
                </div>
                <h3>
                    <a href="#">Urology</a>
                </h3>
            </div>

            <div class="categories-item-box">
                <div class="icon">
                    <i class="flaticon-thinking"></i>
                </div>
                <h3>
                    <a href="#">Neurology</a>
                </h3>
            </div>

            <div class="categories-item-box">
                <div class="icon">
                    <i class="flaticon-gastroenterologist"></i>
                </div>
                <h3>
                    <a href="#">Gastrology</a>
                </h3>
            </div>

            <div class="categories-item-box">
                <div class="icon">
                    <i class="flaticon-heart"></i>
                </div>
                <h3>
                    <a href="#">Cardiology</a>
                </h3>
            </div>

            <div class="categories-item-box">
                <div class="icon">
                    <i class="flaticon-bones"></i>
                </div>
                <h3>
                    <a href="#">Orthopedic</a>
                </h3>
            </div>

            <div class="categories-item-box">
                <div class="icon">
                    <i class="flaticon-tooth"></i>
                </div>
                <h3>
                    <a href="#">Dentist</a>
                </h3>
            </div>

            <div class="categories-item-box">
                <div class="icon">
                    <i class="flaticon-kidneys"></i>
                </div>
                <h3>
                    <a href="#">Urology</a>
                </h3>
            </div>

            <div class="categories-item-box">
                <div class="icon">
                    <i class="flaticon-thinking"></i>
                </div>
                <h3>
                    <a href="#">Neurology</a>
                </h3>
            </div>

            <div class="categories-item-box">
                <div class="icon">
                    <i class="flaticon-gastroenterologist"></i>
                </div>
                <h3>
                    <a href="#">Gastrology</a>
                </h3>
            </div>

            <div class="categories-item-box">
                <div class="icon">
                    <i class="flaticon-heart"></i>
                </div>
                <h3>
                    <a href="#">Cardiology</a>
                </h3>
            </div>

            <div class="categories-item-box">
                <div class="icon">
                    <i class="flaticon-bones"></i>
                </div>
                <h3>
                    <a href="#">Orthopedic</a>
                </h3>
            </div>
        </div>
    </div>

    <div class="categories-shape">
        <img src="assets/img/categories-shape-2.png" alt="image">
    </div>
</section>
<!-- End Categories Area -->
