:root {
    --color: #ed1b24;
    --gradient: linear-gradient(to right,ffee36 0,#e83f3a 100%);
}

section {
    padding: 50px 0;
    position: relative;
}

.cart-icon a{
    color: #ff4b00 !important;
}

.cart-icon .num-cart {
    font-size: 14px;
}

.nav-menu > li > a {
    text-transform: uppercase;
    font-weight: 600;
}

.subtitle {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.4;
}

.subtitle strong{
    font-weight: 700;
    color:
}