@model IEnumerable<ProductVariationModel>
@using QuynhBoki.Models;
@using Data;
@using Data.Providers;

@{
    string urlCMS = System.Configuration.ConfigurationManager.AppSettings["urlCMS"];
}

<div class="row">
    <div class="col-lg-8 col-md-12">

        <div class="table-responsive">
            <table class="table add_to_cart">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên sản phẩm</th>
                        <th scope="col">Giá</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Xóa</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pv in Model)
                    {
                        <tr>
                            <td><div class="tb_course_thumb"><img src="assets/img/course-1.jpg" class="img-fluid" alt="" /></div></td>
                            <th>Besic Web Design<span class="tb_date">18 july 2020</span></th>
                            <td><span class="wish_price theme-cl">$149.00</span></td>
                            <td><input type="number" class="form-control qty" step="1" value="1" title="Qty" size="4" placeholder="" inputmode="numeric"></td>
                            <td><a href="#" class="btn btn-remove">Remove</span></td>
                        </tr>

                    </tbody>
            </table>
        </div>
    </div>

    <div class="col-lg-4 col-md-12">
        <!-- Total Cart -->
        <div class="cart_totals checkout">
            <h4>Hóa đơn</h4>
            <div class="cart-wrap">
                <ul class="cart_list">
                    <li>Base price<strong>$140.00</strong></li>
                    <li>Discount<strong>$10.00</strong></li>
                    <li>CGST<strong>$10.00</strong></li>
                    <li>SGST<strong>$10.00</strong></li>
                </ul>
                <div class="flex_cart">
                    <div class="flex_cart_1">
                        Total Cost
                    </div>
                    <div class="flex_cart_2">
                        $170.00
                    </div>
                </div>
                <button type="button" class="btn checkout_btn">Proceed To Checkout</button>
            </div>
        </div>
    </div>

</div>