
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ============================ Hero Banner  Start================================== -->
<div class="slideshow">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img class="swiper-slide" src="~/Assets/common-img/slide.jpg" />
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>
<!-- ============================ Hero Banner End ================================== -->
<div class="rowpage01"></div>

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="sec-heading center sec-heading-custom">
                <h2>Học <span class="theme-cl">Quỳnh Boki</span> Thi là đỗ</h2>
                <h4 class="subtitle">
                    <strong class="count"><span data-countup="">1.200</span>+</strong>
                    Học viên tham gia khoá học offline + online
                    <br>
                    <strong class="count"><span data-countup="">850</span>+</strong>
                    Học viên đã có thể làm việc
                </h4>
            </div>
            <div class="paper">
                <img src="~/Assets/img/paper.png" />
            </div>
        </div>

    </div>
</section>


<!-- ============================ Featured Courses Start ================================== -->
<section class="bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="sec-heading center">
                    <h2>Danh sách <span class="theme-cl">Khóa học & Tài Liệu</span></h2>
                    <h4 class="subtitle">
                        Chương trình học với
                        <strong class="count"><span>100</span>+</strong> bài giảng
                    </h4>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Cource Grid 1 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="education_block_grid style_2">

                    <div class="education_block_thumb n-shadow">
                        <a href="course-detail.html"><img src="../Assets/img/co-1.jpg" class="img-fluid" alt=""></a>
                    </div>

                    <div class="education_block_body">
                        <h4 class="bl-title"><a href="course-detail.html">Tableau For Beginners: Get CA Certified, Grow Your Career</a></h4>
                    </div>

                    <div class="cources_facts">
                        <ul class="cources_facts_list">
                            <li class="facts-1">Expert</li>
                            <li class="facts-2">Professional</li>
                            <li class="facts-5">Design</li>
                        </ul>
                    </div>

                    <div class="cources_info">
                        <div class="cources_info_first">
                            <ul>
                                <li><strong>1,84684 Views</strong></li>
                                <li class="theme-cl">3h 30min</li>
                            </ul>
                        </div>
                        <div class="cources_info_last">
                            <h3>$69.77</h3>
                        </div>
                    </div>

                    <div class="education_block_footer">
                        <div class="education_block_author">
                            <div class="path-img"><a href="instructor-detail.html"><img src="../Assets/img/user-1.jpg" class="img-fluid" alt=""></a></div>
                            <h5><a href="instructor-detail.html">Shaurya Preet</a></h5>
                        </div>
                        <span class="education_block_time"><i class="ti-calendar mr-1"></i>1 hour ago</span>
                    </div>

                </div>
            </div>

            <!-- Cource Grid 1 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="education_block_grid style_2">

                    <div class="education_block_thumb n-shadow">
                        <a href="course-detail.html"><img src="../Assets/img/co-2.jpg" class="img-fluid" alt=""></a>
                    </div>

                    <div class="education_block_body">
                        <h4 class="bl-title"><a href="course-detail.html">The Complete Business Plan Course (Includes 50 Templates)</a></h4>
                    </div>

                    <div class="cources_facts">
                        <ul class="cources_facts_list">
                            <li class="facts-1">Expert</li>
                            <li class="facts-2">Professional</li>
                            <li class="facts-5">Design</li>
                        </ul>
                    </div>

                    <div class="cources_info">
                        <div class="cources_info_first">
                            <ul>
                                <li><strong>2,25684 Views</strong></li>
                                <li class="theme-cl">4h 30min</li>
                            </ul>
                        </div>
                        <div class="cources_info_last">
                            <h3>$57.00</h3>
                        </div>
                    </div>

                    <div class="education_block_footer">
                        <div class="education_block_author">
                            <div class="path-img"><a href="instructor-detail.html"><img src="../Assets/img/user-2.jpg" class="img-fluid" alt=""></a></div>
                            <h5><a href="instructor-detail.html">Savitha Tripathi</a></h5>
                        </div>
                        <span class="education_block_time"><i class="ti-calendar mr-1"></i>20 min ago</span>
                    </div>

                </div>
            </div>

            <!-- Cource Grid 1 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="education_block_grid style_2">

                    <div class="education_block_thumb n-shadow">
                        <a href="course-detail.html"><img src="../Assets/img/co-3.jpg" class="img-fluid" alt=""></a>
                    </div>

                    <div class="education_block_body">
                        <h4 class="bl-title"><a href="course-detail.html">An Entire MBA In 1 Course:Award Winning Business School Prof</a></h4>
                    </div>

                    <div class="cources_facts">
                        <ul class="cources_facts_list">
                            <li class="facts-1">Expert</li>
                            <li class="facts-2">Professional</li>
                            <li class="facts-5">Design</li>
                        </ul>
                    </div>

                    <div class="cources_info">
                        <div class="cources_info_first">
                            <ul>
                                <li><strong>5,69684 Views</strong></li>
                                <li class="theme-cl">5h 32min</li>
                            </ul>
                        </div>
                        <div class="cources_info_last">
                            <h3>$98.40</h3>
                        </div>
                    </div>

                    <div class="education_block_footer">
                        <div class="education_block_author">
                            <div class="path-img"><a href="instructor-detail.html"><img src="../Assets/img/user-3.jpg" class="img-fluid" alt=""></a></div>
                            <h5><a href="instructor-detail.html">Shaurya Preet</a></h5>
                        </div>
                        <span class="education_block_time"><i class="ti-calendar mr-1"></i>1 days ago</span>
                    </div>

                </div>
            </div>

            <!-- Cource Grid 1 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="education_block_grid style_2">

                    <div class="education_block_thumb n-shadow">
                        <a href="course-detail.html"><img src="../Assets/img/co-4.jpg" class="img-fluid" alt=""></a>
                    </div>

                    <div class="education_block_body">
                        <h4 class="bl-title"><a href="course-detail.html">The Complete Financial Analyst Course 2020</a></h4>
                    </div>

                    <div class="cources_facts">
                        <ul class="cources_facts_list">
                            <li class="facts-1">Expert</li>
                            <li class="facts-2">Professional</li>
                            <li class="facts-5">Design</li>
                        </ul>
                    </div>

                    <div class="cources_info">
                        <div class="cources_info_first">
                            <ul>
                                <li><strong>7,42854 Views</strong></li>
                                <li class="theme-cl">6h 30min</li>
                            </ul>
                        </div>
                        <div class="cources_info_last">
                            <h3>$79.99</h3>
                        </div>
                    </div>

                    <div class="education_block_footer">
                        <div class="education_block_author">
                            <div class="path-img"><a href="instructor-detail.html"><img src="../Assets/img/user-4.jpg" class="img-fluid" alt=""></a></div>
                            <h5><a href="instructor-detail.html">Litha Maildick</a></h5>
                        </div>
                        <span class="education_block_time"><i class="ti-calendar mr-1"></i>1 days ago</span>
                    </div>

                </div>
            </div>

            <!-- Cource Grid 1 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="education_block_grid style_2">

                    <div class="education_block_thumb n-shadow">
                        <a href="course-detail.html"><img src="../Assets/img/co-5.jpg" class="img-fluid" alt=""></a>
                    </div>

                    <div class="education_block_body">
                        <h4 class="bl-title"><a href="course-detail.html">PMP Exam Prep Seminar - PMBOK Guide 6</a></h4>
                    </div>

                    <div class="cources_facts">
                        <ul class="cources_facts_list">
                            <li class="facts-1">Expert</li>
                            <li class="facts-2">Professional</li>
                            <li class="facts-5">Design</li>
                        </ul>
                    </div>

                    <div class="cources_info">
                        <div class="cources_info_first">
                            <ul>
                                <li><strong>5,32984 Views</strong></li>
                                <li class="theme-cl">5h 50min</li>
                            </ul>
                        </div>
                        <div class="cources_info_last">
                            <h3>$149.7</h3>
                        </div>
                    </div>

                    <div class="education_block_footer">
                        <div class="education_block_author">
                            <div class="path-img"><a href="instructor-detail.html"><img src="../Assets/img/user-5.jpg" class="img-fluid" alt=""></a></div>
                            <h5><a href="instructor-detail.html">Chrish Gyle</a></h5>
                        </div>
                        <span class="education_block_time"><i class="ti-calendar mr-1"></i>2 days ago</span>
                    </div>

                </div>
            </div>

            <!-- Cource Grid 1 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="education_block_grid style_2">

                    <div class="education_block_thumb n-shadow">
                        <a href="course-detail.html"><img src="../Assets/img/co-6.jpg" class="img-fluid" alt=""></a>
                    </div>

                    <div class="education_block_body">
                        <h4 class="bl-title"><a href="course-detail.html">Tableau 2020 A-Z:Hands-On Tableau Training For Data Science!</a></h4>
                    </div>

                    <div class="cources_facts">
                        <ul class="cources_facts_list">
                            <li class="facts-1">Expert</li>
                            <li class="facts-2">Professional</li>
                            <li class="facts-5">Design</li>
                        </ul>
                    </div>

                    <div class="cources_info">
                        <div class="cources_info_first">
                            <ul>
                                <li><strong>6,56684 Views</strong></li>
                                <li class="theme-cl">6h 40min</li>
                            </ul>
                        </div>
                        <div class="cources_info_last">
                            <h3>$99.7</h3>
                        </div>
                    </div>

                    <div class="education_block_footer">
                        <div class="education_block_author">
                            <div class="path-img"><a href="instructor-detail.html"><img src="../Assets/img/user-6.jpg" class="img-fluid" alt=""></a></div>
                            <h5><a href="instructor-detail.html">Shilpa Shekh</a></h5>
                        </div>
                        <span class="education_block_time"><i class="ti-calendar mr-1"></i>4 days ago</span>
                    </div>

                </div>
            </div>


        </div>

        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="text-center">
                    <a href="#" class="btn btn-theme btn-browse-btn">Xem Thêm Tài Liệu & Khóa Học</a>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- ============================ Featured Courses End ================================== -->

<!-- ========================== About Facts List Section =============================== -->
<section>
    <div class="container">

        <div class="row align-items-center">

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="list_facts_wrap">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="sec-heading center">
                                <h2>Đội ngũ <span class="theme-cl">Giảng viên</span> tại Quỳnh Boki</h2>
                                <h4 class="subtitle">
                                    Chương trình học với
                                    <strong class="count"><span>100</span>+</strong> bài giảng
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="list_facts">
                        <div class="list_facts_icons"><i class="ti-desktop"></i></div>
                        <div class="list_facts_caption">
                            <h4>Video bài giảng.</h4>
                            <p>Với hơn 100 video bài giảng, Quỳnh Boki sẽ giúp bạn tiếp thu kiến thức nhanh chóng và dễ hiểu.</p>
                        </div>
                    </div>
                    <div class="list_facts">
                        <div class="list_facts_icons"><i class="ti-heart"></i></div>
                        <div class="list_facts_caption">
                            <h4>Giảng viên tận tình.</h4>
                            <p>Ngoài các bài giảng online, các giảng viên sẽ hỗ trợ học viên 1-1 để giúp các bạn nắm rõ kiến thức hơn.</p>
                        </div>
                    </div>
                    <div class="list_facts">
                        <div class="list_facts_icons"><i class="ti-star"></i></div>
                        <div class="list_facts_caption">
                            <h4>Định hướng công việc.</h4>
                            <p>Với nhiều năm kinh nghiệm, giảng viên sẽ tư vấn mảng việc làm phù hợp với bạn, các thủ tục khi nhận việc làm,...</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="list_facts_wrap_img">

                    <img src="../Assets/img/edu_2.png" class="img-fluid" alt="" />

                </div>
            </div>

        </div>

    </div>
</section>
<!-- ========================== About Facts List Section =============================== -->
<!-- ========================== Featured Courses Section =============================== -->
<section class="gray">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="sec-heading center">
                    <h2>Bài viết mới nhất của <span class="theme-cl">Quỳnh Boki</span></h2>
                    <h4 class="subtitle">
                        Tin tức và sự kiện
                    </h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 p-0">

                <div class="arrow_slide three_slide-dots arrow_middle">

                    <!-- Single Slide -->
                    <div class="singles_items">
                        <div class="education_block_grid style_2">

                            <div class="education_block_thumb">
                                <a href="course-detail.html"><img src="../Assets/img/course-3.jpg" class="img-fluid" alt=""></a>
                            </div>

                            <div class="education_block_body">
                                <h4 class="bl-title"><a href="course-detail.html">An Entire MBA In 1 Course:Award Winning Business School Prof</a></h4>
                            </div>

                            <div class="education_block_footer">
                                <p>An Entire MBA In 1 Course:Award Winning Business School Prof</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Slide -->
                    <div class="singles_items">
                        <div class="education_block_grid style_2">

                            <div class="education_block_thumb">
                                <a href="course-detail.html"><img src="../Assets/img/course-3.jpg" class="img-fluid" alt=""></a>
                            </div>

                            <div class="education_block_body">
                                <h4 class="bl-title"><a href="course-detail.html">An Entire MBA In 1 Course:Award Winning Business School Prof</a></h4>
                            </div>

                            <div class="education_block_footer">
                                <p>An Entire MBA In 1 Course:Award Winning Business School Prof</p>
                            </div>

                        </div>
                    </div>

                    <!-- Single Slide -->
                    <div class="singles_items">
                        <div class="education_block_grid style_2">

                            <div class="education_block_thumb">
                                <a href="course-detail.html"><img src="../Assets/img/course-3.jpg" class="img-fluid" alt=""></a>
                            </div>

                            <div class="education_block_body">
                                <h4 class="bl-title"><a href="course-detail.html">An Entire MBA In 1 Course:Award Winning Business School Prof</a></h4>
                            </div>

                            <div class="education_block_footer">
                                <p>An Entire MBA In 1 Course:Award Winning Business School Prof</p>
                            </div>

                        </div>
                    </div>

                    <!-- Single Slide -->
                    <div class="singles_items">
                        <div class="education_block_grid style_2">

                            <div class="education_block_thumb">
                                <a href="course-detail.html"><img src="../Assets/img/course-3.jpg" class="img-fluid" alt=""></a>
                            </div>

                            <div class="education_block_body">
                                <h4 class="bl-title"><a href="course-detail.html">An Entire MBA In 1 Course:Award Winning Business School Prof</a></h4>
                            </div>

                            <div class="education_block_footer">
                                <p>An Entire MBA In 1 Course:Award Winning Business School Prof</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- ========================== Featured Courses Section =============================== -->
<!-- ============================ Testimonial Start ================================== -->
<section style="background:url(../Assets/img/testimonial.png)">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="sec-heading center">
                    <h2>Học viên nghĩ gì?</h2>
                    <h4 class="subtitle">
                        Cảm nhận của học viên về
                        <strong class="count"><span>Quỳnh Boki</span></strong>
                    </h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="testimonials_style" class="slick-carousel-3 arrow_middle">
                    <div class="testimonial-detail">
                        <div class="client-detail-box">
                            <div class="pic">
                                <img src="../Assets/img/user-1.jpg" alt="">
                            </div>
                            <div class="client-detail">
                                <h3 class="testimonial-title">Adam Alloriam</h3>
                                <span class="post">Web Developer</span>
                            </div>
                        </div>
                        <p class="description">
                            " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi facilis itaque minus non odio, quaerat ullam eligendi facilis itaque minus non odio, quaerat ullam unde  unde voluptatum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi. "
                        </p>
                    </div>

                    <div class="testimonial-detail">
                        <div class="client-detail-box">
                            <div class="pic">
                                <img src="../Assets/img/user-2.jpg" alt="">
                            </div>
                            <div class="client-detail">
                                <h3 class="testimonial-title">Illa Millia</h3>
                                <span class="post">Project Manager</span>
                            </div>
                        </div>
                        <p class="description">
                            " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi facilis itaque minus non odio, quaerat ullam unde voluptatum eligendi facilis itaque minus non odio, quaerat ullam unde  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi."
                        </p>
                    </div>

                    <div class="testimonial-detail">
                        <div class="client-detail-box">
                            <div class="pic">
                                <img src="../Assets/img/user-3.jpg" alt="">
                            </div>
                            <div class="client-detail">
                                <h3 class="testimonial-title">Rout Millance</h3>
                                <span class="post">Web Designer</span>
                            </div>
                        </div>
                        <p class="description">
                            " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi facilis itaque minus non odio, quaerat ullam unde voluptatum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi."
                        </p>
                    </div>

                    <div class="testimonial-detail">
                        <div class="client-detail-box">
                            <div class="pic">
                                <img src="../Assets/img/user-4.jpg" alt="">
                            </div>
                            <div class="client-detail">
                                <h3 class="testimonial-title">williamson</h3>
                                <span class="post">Web Developer</span>
                            </div>
                        </div>
                        <p class="description">
                            " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi facilis itaque minus non odio, quaerat ullam unde voluptatum eligendi facilis itaque minus non odio, quaerat ullam unde ? "
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- ============================ Testimonial End ================================== -->

<!-- ============================== Start Newsletter ================================== -->
<section class="newsletter theme-bg inverse-theme">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8 col-sm-12">
                <div class="text-center">
                    <h2>Join Thousand of Happy Students!</h2>
                    <p>Subscribe our newsletter & get latest news and updation!</p>
                    <form class="sup-form">
                        <input type="email" class="form-control sigmup-me" placeholder="Your Email Address" required="required">
                        <input type="submit" class="btn btn-theme" value="Get Started">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================= End Newsletter =============================== -->