.main-header .header-upper-two .iso .number {
    color: #13489e;
}

.main-header .header-upper-two .help .info .txt {
    color: #13489e;
}

.main-header .header-upper-two .help .call-icon {
    color: #b86429;
}

.main-menu .navigation > li > a {
    font-weight: 700;
}

.main-header .header-top-two .top-links li {
    font-weight: 700;
}

.main-header .header-top-two .quote-link {
    font-weight: 700;
}

.sticky-header .main-menu .navigation > li > a {
    font-weight: 700;
}