
<!doctype html>
<html lang="vi">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../Assets/css/bootstrap.min.css">
    <!-- Line Awesome CSS -->
    <link rel="stylesheet" href="../Assets/css/line-awesome.min.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="../Assets/css/meanmenu.min.css">
    <!-- Magnific CSS -->
    <link rel="stylesheet" href="../Assets/css/magnific-popup.min.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="../Assets/css/owl.carousel.min.css">
    <!-- Owl Theme CSS -->
    <link rel="stylesheet" href="../Assets/css/owl.theme.default.min.css">
    <!-- Odometer CSS -->
    <link rel="stylesheet" href="../Assets/css/odometer.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="../Assets/css/animate.min.css">
    <!-- Stylesheet CSS -->
    <link rel="stylesheet" href="../Assets/css/style.css">
    <!-- Stylesheet Responsive CSS -->
    <link rel="stylesheet" href="../Assets/css/responsive.css">
    <!-- Favicon -->
    <link rel="icon" type="images/png" href="../Assets/img/favicon.png">

    <title>@ViewBag.Title</title>
</head>

<body>
    <!-- Preloader Area -->
    <div class="preloader">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            </div>
        </div>
    </div>
    <!-- End Preloader Area -->
    <!-- Start Navbar Area -->
    <div class="navbar-area banner-three">
        <div class="eoda-responsive-nav">
            <div class="container">
                <div class="eoda-responsive-menu">
                    <div class="logo">
                        <a href="index.html">
                            <img src="../Assets/img/logo.png" alt="logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="eoda-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="index.html">
                        <img src="../Assets/img/logo.png" alt="logo">
                    </a>

                    <div class="collapse navbar-collapse mean-menu">
                        <ul class="navbar-nav m-auto">
                            <li class="nav-item">
                                <a href="#" class="nav-link active">
                                    Home <i class="las la-caret-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="index.html" class="nav-link">Home Demo - 1</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="index-2.html" class="nav-link">Home Demo - 2</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="index-3.html" class="nav-link active">Home Demo - 3</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="about.html" class="nav-link">
                                    About Us
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Pages <i class="las la-caret-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="about.html" class="nav-link">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="team.html" class="nav-link">Team</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="testimonials.html" class="nav-link">Testimonials</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="gallery.html" class="nav-link">Gallery</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="faq.html" class="nav-link">FAQ</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            User <i class="las la-angle-right"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="sign-in.html" class="nav-link">Sign In</a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="sign-up.html" class="nav-link">Sign Up</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="nav-item">
                                        <a href="privacy-policy.html" class="nav-link">Privacy Policy</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="terms-condition.html" class="nav-link">Terms & Condition</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="coming-soon.html" class="nav-link">Coming Soon</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="error-404.html" class="nav-link">404 Error Page</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Services <i class="las la-caret-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="services.html" class="nav-link">Services</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="service-details.html" class="nav-link">Services Details</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Case Study  <i class="las la-caret-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="case-study.html" class="nav-link">Case Study</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="case-study-details.html" class="nav-link">Case Study Details</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Blog <i class="las la-caret-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="blog.html" class="nav-link">Blog</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="blog-details.html" class="nav-link">Blog Details</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="contact.html" class="nav-link">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link search-box">
                                    <i class="las la-search"></i>
                                </a>
                            </li>

                            <li class="nav-btn">
                                <a href="#" class="default-btn-two">Get A Quote</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->
    <!-- Search Overlay -->
    <div class="search-overlay">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="search-overlay-layer"></div>
                <div class="search-overlay-layer"></div>
                <div class="search-overlay-layer"></div>

                <div class="search-overlay-close">
                    <span class="search-overlay-close-line"></span>
                    <span class="search-overlay-close-line"></span>
                </div>

                <div class="search-overlay-form">
                    <form>
                        <input type="text" class="input-search" placeholder="Search here...">
                        <button type="submit"><i class='las la-search'></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Search Overlay -->
    @RenderBody()
    <!-- Footer Area-->
    <footer class="footer-area pt-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="footer-widget">
                        <div class="logo">
                            <img src="../Assets/img/logo-white.png" alt="logo">
                        </div>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs.</p>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <div class="footer-widget pl-80 mt-20">
                        <h3>Company</h3>

                        <ul class="footer-text">
                            <li>
                                <a href="about.html">About Us</a>
                            </li>
                            <li>
                                <a href="services.html">Services</a>
                            </li>
                            <li>
                                <a href="#">Features</a>
                            </li>
                            <li>
                                <a href="#">Our Pricing</a>
                            </li>
                            <li>
                                <a href="#">Case Study</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <div class="footer-widget pl-50 mt-20">
                        <h3>Support</h3>

                        <ul class="footer-text">
                            <li>
                                <a href="faq.html">FAQ’s</a>
                            </li>
                            <li>
                                <a href="privacy-policy.html">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="terms-condition.html">Terms & Conditions</a>
                            </li>
                            <li>
                                <a href="#">Community</a>
                            </li>
                            <li>
                                <a href="contact.html">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="footer-widget mt-20">
                        <h3>Contact Info</h3>
                        <ul class="text-list">
                            <li>Location: 6B Highway, TarklenSt, NEW YORK</li>
                            <li><a href="mailto:Eoda@info.com"> Email: eoda@info.com</a></li>
                            <li><a href="tel:+0123456987"> Phone: +0123 456 987</a></li>
                        </ul>

                        <ul class="info-list">
                            <li>
                                <a href="#"><i class="lab la-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="lab la-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"> <i class="lab la-linkedin-in"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="lab la-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <p>Copyright 2020 Eoda. All Rights Reserved <a href="https://hibootstrap.com/" target="_blank">HiBootstrap</a></p>
            </div>

            <div class="footer-shape">
                <img src="../Assets/img/footer-shape.png" alt="Shape">
            </div>
        </div>
    </footer>
    <!-- End Footer Area -->
    <!-- Go Top -->
    <div class="go-top">
        <i class="las la-hand-point-up"></i>
    </div>
    <!-- End Go Top -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../Assets/js/jquery.min.js"></script>
    <script src="../Assets/js/popper.min.js"></script>
    <script src="../Assets/js/bootstrap.min.js"></script>
    <!-- Meanmenu JS -->
    <script src="../Assets/js/meanmenu.min.js"></script>
    <!-- Magnific JS -->
    <script src="../Assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Owl Carousel JS -->
    <script src="../Assets/js/owl.carousel.min.js"></script>
    <!-- Odometer JS -->
    <script src="../Assets/js/odometer.min.js"></script>
    <!-- Appear JS -->
    <script src="../Assets/js/jquery.appear.js"></script>
    <!-- Form Validator JS -->
    <script src="../Assets/js/form-validator.min.js"></script>
    <!-- Contact JS -->
    <script src="../Assets/js/contact-form-script.js"></script>
    <!-- Ajaxchimp JS -->
    <script src="../Assets/js/jquery.ajaxchimp.min.js"></script>
    <!-- Custom JS -->
    <script src="../Assets/js/custom.js"></script>
</body>
</html>