@model Data.page
@using Data;
@using Data.Providers;
@{
    ViewBag.Title = Model.page_title;
    Layout = "~/Views/Shared/_Layout.cshtml";

    string urlCMS = System.Configuration.ConfigurationManager.AppSettings["urlCMS"];
    string urlSite = System.Configuration.ConfigurationManager.AppSettings["urlSite"];

    var page_parent = new page();
    if (Model.page_parent_id > 0)
    {
        page_parent = new PageProvider().getById((int)Model.page_parent_id);
    }

    ViewBag.Keywords = Model.page_seo_header;
    ViewBag.Description = Model.page_seo_description;
    ViewBag.Canonical = urlSite + "/pages/" + Model.page_seo_alias;
    ViewBag.Alternate = urlSite + "/pages/" + Model.page_seo_alias;
    ViewBag.Url = urlSite + "/pages/" + Model.page_seo_alias;
    ViewBag.Image = urlCMS + "/" + Model.page_image;
}

<!-- start of page-header -->
<section class="py-80 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title font-weight-bold mb-20">@Model.page_title</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent p-0 font-weight-600 mb-0">
                        <li class="breadcrumb-item active" aria-current="page"><a class="text-primary" href="/">Trang chủ</a></li>
                        @if (page_parent != null && page_parent.page_id > 0)
                        {
                            <li class="breadcrumb-item">
                                <a href="/pages/@page_parent.page_seo_alias">@page_parent.page_title</a>
                            </li>
                        }
                        <li class="breadcrumb-item active">@Model.page_title</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- end of page-header -->