@model Data.product
@using Data;
@using Data.Providers;
@{
    ViewBag.Title = Model.product_name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-header bg-cover has-overlay" style="background-image: url(../Assets/images/page-header-04.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-title text-white font-weight-bold mb-20">Course Details</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent justify-content-center p-0 font-weight-600 mb-0">
                        <li class="breadcrumb-item active" aria-current="page"><a href="index-2.html">Home</a></li>
                        <li class="breadcrumb-item">Course Details</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

