@model Data.product
@using Data;
@using Data.Providers;
@{
    ViewBag.Title = Model.product_name;
    Layout = "~/Views/Shared/_Layout.cshtml";

    string urlCMS = System.Configuration.ConfigurationManager.AppSettings["urlCMS"];
    string urlSite = System.Configuration.ConfigurationManager.AppSettings["urlSite"];
}

<section class="page-header bg-cover" style="background-image: url(../Assets/images/page-header-04.jpg)"></section>
<section class="pt-30">
    <div class="container">
        <h2 class="text-center">@Model.product_name</h2>
    </div>
</section>

