@model Data.product
@using Data;
@using Data.Providers;
@{
    ViewBag.Title = Model.product_name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-header bg-cover" style="background-image: url(../Assets/images/page-header-04.jpg)"></section>
<section class="pt-30">
    <div class="container">
        <h2 class="text-center"></h2>
    </div>
</section>

