@using Data
@using Data.Providers
@{
    ViewBag.Title = "Tải tài liệu EPlus";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string urlCMS = System.Configuration.ConfigurationManager.AppSettings["urlCMS"];
    string urlSite = System.Configuration.ConfigurationManager.AppSettings["urlSite"];
    var contact = new StoreContactProvider().get1Contact();

    var newest_blog = new BlogProvider().getNewest().Take(5).ToList();
    var list_bc = new BlogCategoryProvider().getAll();
    var list_khoa_hoc = new ProductProvider().getByCategoryIdOnSite(55);

    ViewBag.Keywords = "Tải tài liệu eplus, eplus tài liệu, tài liệu eplus, tai lieu eplus, download eplus";
    ViewBag.Description = "Download thư viện tài liệu tiếng Anh khổng lồ từ EPlus";
    ViewBag.Canonical = urlSite + "/download";
    ViewBag.Alternate = urlSite + "/download";
    ViewBag.Url = urlSite + "/download";
    //ViewBag.Image = urlCMS + "/" + ViewBag.Category.image;
}

<section class="page-header bg-cover has-overlay" style="background-image: url('../Assets/images/page-header-05.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-title text-white font-weight-bold mb-20">Download tài liệu</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent justify-content-center p-0 font-weight-600 mb-0">
                        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Download tài liệu</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="section-padding bg-gray">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7 order-1 order-lg-0">
                <div class="mb-5">
                    <h2 class="center font-weight-bold mb-2">Đăng ký tư vấn</h2>
                    <p>Điền đầy đủ các thông tin dưới đây, EPlus sẽ liên hệ lại với bạn</p>
                </div>
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-30">
                                <label for="cname">Họ tên *</label>
                                <input type="text" class="form-control rounded-sm" id="cname" placeholder="Nhập tên của bạn">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-30">
                                <label for="cemail">Email *</label>
                                <input type="email" class="form-control rounded-sm" id="cemail" placeholder="Nhập Email">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-30">
                                <label for="cphone">Số điện thoại *</label>
                                <input type="text" class="form-control rounded-sm" id="cphone" placeholder="Nhập số điện thoại">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-30">
                                <label for="csubject">Bạn quan tâm điều gì tại EPlus? *</label>
                                <input type="text" class="form-control rounded-sm" id="csubject" placeholder="Nhập tiêu đều bạn quan tâm">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-30">
                                <label for="cmessage">Ghi chú *</label>
                                <textarea class="form-control rounded-sm" id="cmessage" rows="5" placeholder="Để lại lời nhắn"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button id="submit" onclick="sendMessage()" type="button" class="btn btn-primary rounded-sm">Gửi thông tin</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-xl-4 col-lg-5 mb-5 mb-lg-0 order-0 order-lg-1">
                <div class="mb-5">
                    <h2 class="center font-weight-bold mb-2">Download tài liệu</h2>
                    <p>Lựa chọn kho tài liệu miễn phí theo trình độ của bạn</p>
                </div>

                <a class="link link--arrowed" href="#">
                    Tài liệu cho học sinh mất gốc
                    <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><g fill="none" stroke="#fff" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10"><circle class="arrow-icon--circle" cx="16" cy="16" r="15.12"></circle><path class="arrow-icon--arrow" d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98"></path></g></svg>
                </a>

                <a class="link link--arrowed" href="#">
                    Tài liệu cho trình độ mầm non
                    <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><g fill="none" stroke="#fff" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10"><circle class="arrow-icon--circle" cx="16" cy="16" r="15.12"></circle><path class="arrow-icon--arrow" d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98"></path></g></svg>
                </a>

                <a class="link link--arrowed" href="#">
                    Tài liệu cho trình độ Tiểu học
                    <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><g fill="none" stroke="#fff" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10"><circle class="arrow-icon--circle" cx="16" cy="16" r="15.12"></circle><path class="arrow-icon--arrow" d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98"></path></g></svg>
                </a>

                <a class="link link--arrowed" href="#">
                    Tài liệu cho trình độ THCS
                    <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><g fill="none" stroke="#fff" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10"><circle class="arrow-icon--circle" cx="16" cy="16" r="15.12"></circle><path class="arrow-icon--arrow" d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98"></path></g></svg>
                </a>

                <a class="link link--arrowed" href="#">
                    Kho tài liệu luyện thi
                    <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><g fill="none" stroke="#fff" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10"><circle class="arrow-icon--circle" cx="16" cy="16" r="15.12"></circle><path class="arrow-icon--arrow" d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98"></path></g></svg>
                </a>
            </div>
        </div>
    </div>
</section>