@using Data;
@using Data.Providers;
@{
    ViewBag.Title = "Liên hệ VINA FOCUS";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var contact = new StoreContactProvider().get1Contact();
    var list_contact = new StoreContactProvider().getAll();
    string urlCMS = System.Configuration.ConfigurationManager.AppSettings["urlCMS"];
    string urlSite = System.Configuration.ConfigurationManager.AppSettings["urlSite"];

    var logo_header = new StoreLogoProvider().getLogoHeader();

    ViewBag.Keywords = "Liên hệ VINA FOCUS";
    ViewBag.Description = "Liên hệ với VINA FOCUS để được tư vấn về các sản phẩm và chính sách ưu đãi.";
    ViewBag.Canonical = urlSite + "/pages/lien-he";
    ViewBag.Alternate = urlSite + "/pages/lien-he";
    ViewBag.Url = urlSite + "/pages/lien-he";
    ViewBag.Image = urlCMS + "/" + logo_header.image;
}

<!-- breadcrumb -->
<div class="bg-gray-13 bg-md-transparent">
    <div class="container">
        <!-- breadcrumb -->
        <div class="my-md-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-3 flex-nowrap flex-xl-wrap overflow-auto overflow-xl-visble">
                    <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1"><a href="/">Trang chủ</a></li>
                    <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1 active" aria-current="page"><span> Liên hệ</span></li>
                </ol>
            </nav>
        </div>
        <!-- End breadcrumb -->
    </div>
</div>
<!-- End breadcrumb -->

<div class="mb-8">
    @Html.Raw(contact.map)
</div>

<div class="container">
    <div class="row mb-10">
        <div class="col-md-8 col-xl-9">
            <div class="mr-xl-6">
                <div class="border-bottom border-color-1 mb-5">
                    <h3 class="section-title mb-0 pb-2 font-size-25">Để lại lời nhắn</h3>
                </div>
                <p class="max-width-830-xl text-gray-90">Bạn cần quan tâm đến sản phẩm nào hay cần chúng tư vấn, giải đáp thắc mắc. Hãy để lại lời nhắn cho chúng tôi, Vina Focus sẽ phản hồi lại sớm cho bạn.</p>
                <form class="js-validate" novalidate="novalidate">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- Input -->
                            <div class="js-form-message mb-4">
                                <label class="form-label">
                                    Tên của bạn
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" placeholder="" aria-label="" required="" data-msg="Nhập tên của bạn" data-error-class="u-has-error" data-success-class="u-has-success" autocomplete="off">
                            </div>
                            <!-- End Input -->
                        </div>

                        <div class="col-md-6">
                            <!-- Input -->
                            <div class="js-form-message mb-4">
                                <label class="form-label">
                                    Số điện thoại
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" placeholder="" aria-label="" required="" data-msg="Nhập số điện thoại" data-error-class="u-has-error" data-success-class="u-has-success">
                            </div>
                            <!-- End Input -->
                        </div>
                        <div class="col-md-6">
                            <!-- Input -->
                            <div class="js-form-message mb-4">
                                <label class="form-label">
                                    Email
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" placeholder="Nhập email" aria-label="" required="" data-msg="Yêu cầu nhập Email" data-error-class="u-has-error" data-success-class="u-has-success" autocomplete="off">
                            </div>
                            <!-- End Input -->
                        </div>

                        <div class="col-md-6">
                            <!-- Input -->
                            <div class="js-form-message mb-4">
                                <label class="form-label">
                                    Tiêu đề
                                </label>
                                <input type="text" class="form-control" placeholder="Nhập tiêu đề" aria-label="" data-error-class="u-has-error" data-success-class="u-has-success">
                            </div>
                            <!-- End Input -->
                        </div>
                        <div class="col-md-12">
                            <div class="js-form-message mb-4">
                                <label class="form-label">
                                    Lời nhắn
                                </label>

                                <div class="input-group">
                                    <textarea class="form-control p-5" rows="4" name="text" placeholder="Để lại lời nhắn..."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary-dark-w px-5">Gửi tin nhắn</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4 col-xl-3">
            <div class="border-bottom border-color-1 mb-5">
                <h3 class="section-title mb-0 pb-2 font-size-25">Our Store</h3>
            </div>
            <div class="mr-xl-6">
                <address class="mb-6">
                    @contact.address
                </address>
                <h5 class="font-size-14 font-weight-bold mb-3">Giờ làm việc</h5>
                <ul class="list-unstyled mb-6">
                    <li class="flex-center-between mb-1"><span class="">Monday:</span><span class="">12-6 PM</span></li>
                    <li class="flex-center-between mb-1"><span class="">Tuesday:</span><span class="">12-6 PM</span></li>
                    <li class="flex-center-between mb-1"><span class="">Wednesday:</span><span class="">12-6 PM</span></li>
                    <li class="flex-center-between mb-1"><span class="">Thursday:</span><span class="">12-6 PM</span></li>
                    <li class="flex-center-between mb-1"><span class="">Friday:</span><span class="">12-6 PM</span></li>
                    <li class="flex-center-between mb-1"><span class="">Saturday:</span><span class="">12-6 PM</span></li>
                    <li class="flex-center-between"><span class="">Sunday</span><span class="">Closed</span></li>
                </ul>
                <h5 class="font-size-14 font-weight-bold mb-3">Careers</h5>
                <p class="text-gray-90">If you’re interested in employment opportunities at Electro, please email us: <a class="text-blue text-decoration-on" href="mailto:contact@yourstore.com">contact@yourstore.com</a></p>
            </div>
        </div>
    </div>
    <!-- Brand Carousel -->
    <div class="mb-8">
        <div class="py-2 border-top border-bottom">
            <div class="js-slick-carousel u-slick my-1"
                 data-slides-show="5"
                 data-slides-scroll="1"
                 data-arrows-classes="d-none d-lg-inline-block u-slick__arrow-normal u-slick__arrow-centered--y"
                 data-arrow-left-classes="fa fa-angle-left u-slick__arrow-classic-inner--left z-index-9"
                 data-arrow-right-classes="fa fa-angle-right u-slick__arrow-classic-inner--right"
                 data-responsive='[{
                                "breakpoint": 992,
                                "settings": {
                                    "slidesToShow": 2
                                }
                            }, {
                                "breakpoint": 768,
                                "settings": {
                                    "slidesToShow": 1
                                }
                            }, {
                                "breakpoint": 554,
                                "settings": {
                                    "slidesToShow": 1
                                }
                            }]'>
                <div class="js-slide">
                    <a href="#" class="link-hover__brand">
                        <img class="img-fluid m-auto max-height-50" src="../../assets/img/200X60/img1.png" alt="Image Description">
                    </a>
                </div>
                <div class="js-slide">
                    <a href="#" class="link-hover__brand">
                        <img class="img-fluid m-auto max-height-50" src="../../assets/img/200X60/img2.png" alt="Image Description">
                    </a>
                </div>
                <div class="js-slide">
                    <a href="#" class="link-hover__brand">
                        <img class="img-fluid m-auto max-height-50" src="../../assets/img/200X60/img3.png" alt="Image Description">
                    </a>
                </div>
                <div class="js-slide">
                    <a href="#" class="link-hover__brand">
                        <img class="img-fluid m-auto max-height-50" src="../../assets/img/200X60/img4.png" alt="Image Description">
                    </a>
                </div>
                <div class="js-slide">
                    <a href="#" class="link-hover__brand">
                        <img class="img-fluid m-auto max-height-50" src="../../assets/img/200X60/img5.png" alt="Image Description">
                    </a>
                </div>
                <div class="js-slide">
                    <a href="#" class="link-hover__brand">
                        <img class="img-fluid m-auto max-height-50" src="../../assets/img/200X60/img6.png" alt="Image Description">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Brand Carousel -->
</div>
