<!doctype html>
<html lang="vi">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../Assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="../Assets/css/animate.min.css">

    <link rel="stylesheet" href="../Assets/css/fontawesome.min.css">

    <link rel="stylesheet" href="../Assets/css/owl.carousel.min.css">

    <link rel="stylesheet" href="../Assets/css/meanmenu.css">

    <link rel="stylesheet" href="../Assets/css/flaticon.css">

    <link rel="stylesheet" href="../Assets/css/magnific-popup.min.css">

    <link rel="stylesheet" href="../Assets/css/odometer.min.css">

    <link rel="stylesheet" href="../Assets/css/twentytwenty.min.css">

    <link rel="stylesheet" href="../Assets/css/slick.min.css">

    <link rel="stylesheet" href="../Assets/css/nice-select.min.css">
    <link href="~/Assets/css/swiper.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../Assets/css/style.css">
    <link href="~/Assets/css/custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="../Assets/css/responsive.css">
    <title>Klev - Dental & Medical HTML Template</title>
    <link rel="icon" type="image/png" href="../Assets/img/favicon.png">
</head>
<body>

    @*<div class="preloader">
            <div class="loader">
                <div class="shadow"></div>
                <div class="box"></div>
            </div>
        </div>*@


    <header class="header-area slider">

        <div class="top-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8 col-md-12">
                        <ul class="header-contact-info">
                            <li><i class="far fa-clock"></i> Mon - Fri 09:00 - 19:00</li>
                            <li><i class="fas fa-phone"></i> <a href="#">+07 554 332 322</a></li>
                            <li><i class="far fa-paper-plane"></i> <a href="#"><span class="__cf_email__" data-cfemail="ff979a939390bf94939a89d19c9092">[email&#160;protected]</span></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="header-right-content">
                            <ul class="top-header-social">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="navbar-area">
            <div class="klev-responsive-nav">
                <div class="container">
                    <div class="klev-responsive-menu">
                        <div class="logo">
                            <a href="index.html">
                                <img src="../Assets/img/white-logo.png" alt="logo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="klev-nav">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" href="index.html">
                            <img src="../Assets/img/white-logo.png" alt="logo">
                        </a>
                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a href="#" class="nav-link active">Home <i class="fas fa-chevron-down"></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="index.html" class="nav-link active">Home One</a></li>
                                        <li class="nav-item"><a href="index-2.html" class="nav-link">Home Two</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Pages <i class="fas fa-chevron-down"></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
                                        <li class="nav-item"><a href="team.html" class="nav-link">Doctor</a></li>
                                        <li class="nav-item"><a href="pricing.html" class="nav-link">Pricing</a></li>
                                        <li class="nav-item"><a href="faq.html" class="nav-link">FAQ</a></li>
                                        <li class="nav-item"><a href="error-404.html" class="nav-link">404 Error</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Services <i class="fas fa-chevron-down"></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="services.html" class="nav-link">Services</a></li>
                                        <li class="nav-item"><a href="single-services.html" class="nav-link">Services Details</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Research <i class="fas fa-chevron-down"></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="research.html" class="nav-link">Research</a></li>
                                        <li class="nav-item"><a href="single-research.html" class="nav-link">Research Details</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Blog <i class="fas fa-chevron-down"></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a href="blog-1.html" class="nav-link">Blog Grid</a></li>
                                        <li class="nav-item"><a href="blog-2.html" class="nav-link">Blog Right Sidebar</a></li>
                                        <li class="nav-item"><a href="single-blog.html" class="nav-link">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                            </ul>
                            <div class="others-option">
                                <div class="option-item">
                                    <i class="search-btn flaticon-search"></i>
                                    <i class="close-btn flaticon-cross"></i>

                                    <div class="search-overlay search-popup">
                                        <div class='search-box'>
                                            <form class="search-form">
                                                <input class="search-input" name="search" placeholder="Search" type="text">
                                                <button class="search-button" type="submit"><i class="flaticon-search"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="burger-menu">
                                    <i class="flaticon-menu"></i>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

    </header>


    <div class="sidebar-modal">
        <div class="sidebar-modal-inner">
            <div class="sidebar-about-area">
                <div class="title">
                    <h2>About Us</h2>
                    <p>We believe brand interaction is key in communication. Real innovations and a positive customer experience are the heart of successful communication. No fake products and services. The customer is king, their lives and needs are the inspiration.</p>
                </div>
            </div>
            <div class="sidebar-instagram-feed">
                <h2>Instagram</h2>
                <ul>
                    <li><a href="#"><img src="../Assets/img/blog-image/1.jpg" alt="image"></a></li>
                    <li><a href="#"><img src="../Assets/img/blog-image/2.jpg" alt="image"></a></li>
                    <li><a href="#"><img src="../Assets/img/blog-image/3.jpg" alt="image"></a></li>
                    <li><a href="#"><img src="../Assets/img/blog-image/4.jpg" alt="image"></a></li>
                    <li><a href="#"><img src="../Assets/img/blog-image/5.jpg" alt="image"></a></li>
                    <li><a href="#"><img src="../Assets/img/blog-image/6.jpg" alt="image"></a></li>
                    <li><a href="#"><img src="../Assets/img/blog-image/7.jpg" alt="image"></a></li>
                    <li><a href="#"><img src="../Assets/img/blog-image/8.jpg" alt="image"></a></li>
                </ul>
            </div>
            <div class="sidebar-contact-area">
                <div class="sidebar-contact-info">
                    <div class="contact-info-content">
                        <h2>
                            <a href="tel:+0881306298615">+088 130 629 8615</a>
                            <span>OR</span>
                            <a href="https://templates.envytheme.com/cdn-cgi/l/email-protection#fb939e979794bb90979e8d97d5989496"><span class="__cf_email__" data-cfemail="244c4148484b644f4841520a474b49">[email&#160;protected]</span></a>
                        </h2>
                        <ul class="social">
                            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <span class="close-btn sidebar-modal-close-btn"><i class="flaticon-cross"></i></span>
        </div>
    </div>

    @RenderBody()
    
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <div class="logo">
                            <a href="#"><img src="../Assets/img/white-logo.png" alt="image"></a>
                            <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra lacus vel facilisis.</p>
                        </div>
                        <ul class="social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h3>Quick Links</h3>
                        <ul class="footer-quick-links">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Our Team</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Latest News</a></li>
                            <li><a href="#">Insurance</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Our Events</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Our Packages</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-sm-3 offset-md-3">
                    <div class="single-footer-widget">
                        <h3>Contact Info</h3>
                        <ul class="footer-contact-info">
                            <li><span>Location:</span> 27 Division St, New York, NY 1002, USA</li>
                            <li><span>Email:</span> <a href="#"><span class="__cf_email__" data-cfemail="91f9f4fdfdfed1fafdf4e7bff2fefc">[email&#160;protected]</span></a></li>
                            <li><span>Phone:</span> <a href="#">+(321) 948 754</a></li>
                            <li><span>Fax:</span> <a href="#">+1-212-9876543</a></li>
                            <li><a href="https://goo.gl/maps/1xz4L8TGSdkBhVmb7" target="_blank">View Location on GoogleMap</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copyright-area">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <p><i class="far fa-copyright"></i> 2020 Klev. All Rights Reserved by <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <ul>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="go-top"><i class="fas fa-chevron-up"></i><i class="fas fa-chevron-up"></i></div>

    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="../Assets/js/jquery.min.js"></script>

    <script src="../Assets/js/popper.min.js"></script>

    <script src="../Assets/js/bootstrap.min.js"></script>

    <script src="../Assets/js/parallax.min.js"></script>

    <script src="../Assets/js/owl.carousel.min.js"></script>

    <script src="../Assets/js/slick.min.js"></script>

    <script src="../Assets/js/jquery.meanmenu.js"></script>

    <script src="../Assets/js/jquery.appear.min.js"></script>

    <script src="../Assets/js/odometer.min.js"></script>

    <script src="../Assets/js/event.move.min.js"></script>

    <script src="../Assets/js/twentytwenty.min.js"></script>

    <script src="../Assets/js/jquery.nice-select.min.js"></script>

    <script src="../Assets/js/jquery.magnific-popup.min.js"></script>

    <script src="../Assets/js/wow.min.js"></script>

    <script src="../Assets/js/jquery.ajaxchimp.min.js"></script>

    <script src="../Assets/js/form-validator.min.js"></script>

    <script src="../Assets/js/contact-form-script.js"></script>

    <script src="../Assets/js/main.js"></script>
</body>
</html>