@model Data.blog
@using Data
@using Data.Providers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.blog_title;

    string urlCMS = System.Configuration.ConfigurationManager.AppSettings["urlCMS"];
    string urlSite = System.Configuration.ConfigurationManager.AppSettings["urlSite"];

    var list_blog_related = new BlogProvider().getIsShowing().Where(b => b.blog_category_id == Model.blog_category_id && b.blog_id != Model.blog_id).ToList();
    var list_blog_newest = new BlogProvider().getIsShowing().Where(b => b.blog_id != Model.blog_id).OrderByDescending(b => b.show_datetime).Take(5).ToList();
    var banner = new StoreBannerProvider().getbyId(1);

    var list_tag = new TagProvider().getByBlogId(Model.blog_id);
    var meta_keyword = "";
    if (list_tag.Count > 0)
    {
        foreach (var tag in list_tag)
        {
            meta_keyword += tag.tag_name + ", ";
        }
    }

    ViewBag.Keywords = meta_keyword + Model.blog_seo_header;
    ViewBag.Description = Model.blog_seo_description;
    ViewBag.Canonical = urlSite + "/blogs/" + Model.blog_seo_alias;
    ViewBag.Alternate = urlSite + "/blogs/" + Model.blog_seo_alias;
    ViewBag.Url = urlSite + "/blogs/" + Model.blog_seo_alias;
    ViewBag.Image = urlCMS + "/" + Model.blog_image;
}

<!-- Banner  -->
<div class="dlab-bnr-inr overlay-primary-dark" style="background-image: url(../Assets/images/banner/bnr1.jpg);">
    <div class="container">
        <div class="dlab-bnr-inr-entry">
            <h1>Blog Large</h1>
            <!-- Breadcrumb Row -->
            <nav aria-label="breadcrumb" class="breadcrumb-row">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Blog</li>
                </ul>
            </nav>
            <!-- Breadcrumb Row End -->
        </div>
    </div>
</div>
<!-- Banner End -->
<!-- Blog Large -->
<section class="content-inner bg-img-fix" style="background-image: url(images/background/bg1.png); background-size: contain;">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 m-b50">
                <div class="row extra-blog style-1">
                    <div class="col-lg-12">
                        <h2 class="blog-title">Related Blogs</h2>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="dlab-blog style-1 bg-white text-center m-b30">
                            <div class="dlab-media">
                                <a href="blog-details-1.html"><img src="images/blog/default/thum3.jpg" alt=""></a>
                            </div>
                            <div class="dlab-info">
                                <h5 class="dlab-title">
                                    <a href="blog-details-1.html">Praesent ut lobortis purus hasellus libero orci, accumsan.</a>
                                </h5>
                                <p class="m-b0">Pellentesque vel nibh gravida erat interdum lacinia vel in lectus. Sed fermentum  pulvinar.</p>
                                <div class="dlab-meta meta-bottom">
                                    <ul>
                                        <li class="post-date"><i class="flaticon-clock m-r10"></i>7 March, 2020</li>
                                        <li class="post-comment"><a href="javascript:void(0);"><i class="flaticon-speech-bubble"></i></a></li>
                                        <li class="post-share">
                                            <i class="flaticon-share"></i>
                                            <ul>
                                                <li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
                                                <li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
                                                <li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="dlab-blog style-1 bg-white text-center m-b30">
                            <div class="dlab-media">
                                <a href="blog-details-1.html"><img src="images/blog/default/thum2.jpg" alt=""></a>
                            </div>
                            <div class="dlab-info">
                                <h5 class="dlab-title">
                                    <a href="blog-details-1.html">Donec feugiat mollis nisi in dignissim. Morbi sollicitudin.</a>
                                </h5>
                                <p class="m-b0">Pellentesque vel nibh gravida erat interdum lacinia vel in lectus. Sed fermentum  pulvinar.</p>
                                <div class="dlab-meta meta-bottom">
                                    <ul>
                                        <li class="post-date"><i class="flaticon-clock m-r10"></i>7 March, 2020</li>
                                        <li class="post-comment"><a href="javascript:void(0);"><i class="flaticon-speech-bubble"></i></a></li>
                                        <li class="post-share">
                                            <i class="flaticon-share"></i>
                                            <ul>
                                                <li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
                                                <li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
                                                <li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear" id="comment-list">
                    <div class="comments-area style-1" id="comments">
                        <h2 class="comments-title">8 Comments</h2>
                        <div class="clearfix">
                            <!-- comment list END -->
                            <ol class="comment-list">
                                <li class="comment">
                                    <div class="comment-body">
                                        <div class="comment-author vcard">
                                            <img class="avatar photo" src="images/testimonials/pic1.jpg" alt="">
                                            <cite class="fn">Celesto Anderson</cite>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        <div class="reply">
                                            <a href="javascript:void(0);" class="comment-reply-link">
                                                <i class="fa fa-reply"></i>Reply
                                            </a>
                                        </div>
                                    </div>
                                    <ol class="children">
                                        <li class="comment odd parent">
                                            <div class="comment-body">
                                                <div class="comment-author vcard">
                                                    <img class="avatar photo" src="images/testimonials/pic2.jpg" alt="">
                                                    <cite class="fn">Jake Johnson</cite>
                                                </div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                <div class="reply">
                                                    <a href="javascript:void(0);" class="comment-reply-link">
                                                        <i class="fa fa-reply"></i>Reply
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- list END -->
                                        </li>
                                    </ol>
                                    <!-- list END -->
                                </li>
                                <li class="comment">
                                    <div class="comment-body">
                                        <div class="comment-author vcard">
                                            <img class="avatar photo" src="images/testimonials/pic1.jpg" alt="">
                                            <cite class="fn">John Doe</cite>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        <div class="reply">
                                            <a href="javascript:void(0);" class="comment-reply-link">
                                                <i class="fa fa-reply"></i>Reply
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                            <!-- comment list END -->
                            <!-- Form -->
                            <div class="comment-respond style-1" id="respond">
                                <h2 class="comment-reply-title" id="reply-title">Leave a Reply <small> <a style="display:none;" href="javascript:void(0);" id="cancel-comment-reply-link" rel="nofollow">Cancel reply</a> </small> </h2>
                                <form class="comment-form" id="commentform" method="post">
                                    <p class="comment-form-author">
                                        <label for="author">Name <span class="required">*</span></label>
                                        <input type="text" name="Author" placeholder="Author" id="author">
                                    </p>
                                    <p class="comment-form-email">
                                        <label for="email">Email <span class="required">*</span></label>
                                        <input type="text" placeholder="Email" name="email" id="email">
                                    </p>
                                    <p class="comment-form-url">
                                        <label for="url">Website</label>
                                        <input type="text" placeholder="Website" name="url" id="url">
                                    </p>
                                    <p class="comment-form-comment">
                                        <label for="comment">Comment</label>
                                        <textarea rows="8" name="comment" placeholder="Comment" id="comment"></textarea>
                                    </p>
                                    <p class="form-submit">
                                        <button type="submit" class="btn btn-link d-inline-flex align-items-center" id="submit"><i class="fa fa-angle-right m-r10"></i>Submit Now</button>
                                    </p>
                                </form>
                            </div>
                            <!-- Form -->
                        </div>
                    </div>
                </div>
                <!-- blog END -->
            </div>
            <div class="col-xl-4 col-lg-4 m-b30">
                <aside class="side-bar sticky-top">
                    <div class="widget">
                        <div class="search-bx">
                            <form role="search" method="post">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="la la-search"></i></span>
                                    </div>
                                    <input name="text" class="form-control" placeholder="Search" type="text">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary"><i class="la la-long-arrow-right"></i></button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="widget widget_archive">
                        <h2 class="widget-title">Category</h2>
                        <ul>
                            <li><a href="javascript:void(0);">Design<span>05</span></a></li>
                            <li><a href="javascript:void(0);">Development<span>25</span></a></li>
                            <li><a href="javascript:void(0);">SEO<span>20</span></a></li>
                            <li><a href="javascript:void(0);">App Design<span>08</span></a></li>
                            <li><a href="javascript:void(0);">Branding<span>22</span></a></li>
                        </ul>
                    </div>
                    <div class="widget recent-posts-entry">
                        <h2 class="widget-title">Recent Posts</h2>
                        <div class="widget-post-bx">
                            <div class="widget-post clearfix">
                                <div class="dlab-media">
                                    <a href="blog-details-1.html"><img src="images/blog/recent-blog/pic1.jpg" alt=""></a>
                                </div>
                                <div class="dlab-info">
                                    <h4 class="title"><a href="blog-details-1.html">Fusce mollis felis quis tristique</a></h4>
                                    <div class="dlab-meta">
                                        <ul>
                                            <li class="post-date"> 7 March, 2020 </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-post clearfix">
                                <div class="dlab-media">
                                    <a href="blog-details-1.html"><img src="images/blog/recent-blog/pic2.jpg" alt=""></a>
                                </div>
                                <div class="dlab-info">
                                    <h4 class="title"><a href="blog-details-1.html">Fusce mollis felis quis tristique</a></h4>
                                    <div class="dlab-meta">
                                        <ul>
                                            <li class="post-date"> 7 March, 2020 </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-post clearfix">
                                <div class="dlab-media">
                                    <a href="blog-details-1.html"><img src="images/blog/recent-blog/pic3.jpg" alt=""></a>
                                </div>
                                <div class="dlab-info">
                                    <h4 class="title"><a href="blog-details-1.html">Fusce mollis felis quis tristique</a></h4>
                                    <div class="dlab-meta">
                                        <ul>
                                            <li class="post-date"> 7 March, 2020 </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-post clearfix">
                                <div class="dlab-media">
                                    <a href="blog-details-1.html"><img src="images/blog/recent-blog/pic3.jpg" alt=""></a>
                                </div>
                                <div class="dlab-info">
                                    <h4 class="title"><a href="blog-details-1.html">Fusce mollis felis quis tristique</a></h4>
                                    <div class="dlab-meta">
                                        <ul>
                                            <li class="post-date"> 7 March, 2020 </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget widget_archive">
                        <h2 class="widget-title">Archives</h2>
                        <ul>
                            <li><a href="javascript:void(0);">January<span>05</span></a></li>
                            <li><a href="javascript:void(0);">Fabruary<span>25</span></a></li>
                            <li><a href="javascript:void(0);">March<span>20</span></a></li>
                            <li><a href="javascript:void(0);">April<span>08</span></a></li>
                            <li><a href="javascript:void(0);">May<span>22</span></a></li>
                            <li><a href="javascript:void(0);">Jun<span>11</span></a></li>
                            <li><a href="javascript:void(0);">July<span>19</span></a></li>
                        </ul>
                    </div>
                    <div class="widget widget_tag_cloud">
                        <h2 class="widget-title">Tags</h2>
                        <div class="tagcloud">
                            <a href="javascript:void(0);">Business</a>
                            <a href="javascript:void(0);">News</a>
                            <a href="javascript:void(0);">Brand</a>
                            <a href="javascript:void(0);">Website</a>
                            <a href="javascript:void(0);">Internal</a>
                            <a href="javascript:void(0);">Strategy</a>
                            <a href="javascript:void(0);">Brand</a>
                            <a href="javascript:void(0);">Mission</a>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>

