@model Data.page
@using Data;
@using Data.Providers;
@{
    ViewBag.Title = Model.page_title;
    Layout = "~/Views/Shared/_Layout.cshtml";

    string urlCMS = System.Configuration.ConfigurationManager.AppSettings["urlCMS"];
    string urlSite = System.Configuration.ConfigurationManager.AppSettings["urlSite"];

    ViewBag.Keywords = Model.page_seo_header;
    ViewBag.Description = Model.page_seo_description;
    ViewBag.Canonical = urlSite + "/pages/" + Model.page_seo_alias;
    ViewBag.Alternate = urlSite + "/pages/" + Model.page_seo_alias;
    ViewBag.Url = urlSite + "/pages/" + Model.page_seo_alias;
    ViewBag.Image = urlCMS + "/" + Model.page_image;

}

<!-- Page Title -->
<div class="page-title parallax parallax1 flat_strech">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title">Liên hệ</h1>
                    <div class="breadcrumbs">
                        <ul>
                            <li> <a href="/">Trang chủ </a></li>
                            <li><a>Liên hệ</a></li>
                        </ul>
                    </div>
                </div><!-- /.page-title-captions -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
<section class="flat-row contact-1 ">
    <div class="container">
        <div class="row">
            <div class="flat-information col-sm-4">
                <span class="fa fa-map-marker" aria-hidden="true"></span>
                <h5 class="information-title">ĐỊA CHỈ</h5>
                <p class="address">@contact.address</p>
            </div>
            <div class="flat-information email col-sm-4">
                <span class="fa fa-envelope" aria-hidden="true"></span>
                <h5 class="information-title">EMAIL</h5>
                <a href="mailto:@contact.email">@contact.email</a><br />
            </div>
            <div class="flat-information phone col-sm-4">
                <span class="fa fa-phone" aria-hidden="true"></span>
                <h5 class="information-title">HOTLINE</h5>
                <a href="tel:@contact.phone_number">@contact.phone_number</a>
            </div>
        </div><!--  ./row -->
    </div><!-- ./container -->
</section>
