@model Data.page
@using Data;
@using Data.Providers;
@{
    ViewBag.Title = Model.page_title;
    Layout = "~/Views/Shared/_Layout.cshtml";

    string urlCMS = System.Configuration.ConfigurationManager.AppSettings["urlCMS"];
    string urlSite = System.Configuration.ConfigurationManager.AppSettings["urlSite"];
    var list_service = new ProductProvider().getAll();
    var list_blog = new BlogProvider().getIsShowing().Take(5);
    var newest_blog = list_blog.FirstOrDefault();
    var contact = new StoreContactProvider().get1Contact();

    ViewBag.Keywords = Model.page_seo_header;
    ViewBag.Description = Model.page_seo_description;
    ViewBag.Canonical = urlSite + "/pages/" + Model.page_seo_alias;
    ViewBag.Alternate = urlSite + "/pages/" + Model.page_seo_alias;
    ViewBag.Url = urlSite + "/pages/" + Model.page_seo_alias;
    ViewBag.Image = urlCMS + "/" + Model.page_image;

}


<!-- Page Title Start -->
<div class="page-title title-bg-4">
    <div class="container">
        <div class="title-text text-center">
            <h2>@Model.page_title</h2>
            <ul>
                <li>
                    <a href="/">Trang chủ</a>
                </li>
                <li>@Model.page_title</li>
            </ul>
        </div>
    </div>
</div>
<!-- Page Title End -->
<!--site-main start-->
<div class="site-main">
    <!-- sidebar -->
    <div class="sidebar ttm-sidebar ttm-bgcolor-white clearfix">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-lg-9 content-area">
                    <!-- ttm-service-single-content-are -->
                    <article class="post ttm-blog-single clearfix">
                        <!-- post-featured-wrapper -->
                        <div class="ttm-post-featured-wrapper">
                            <div class="ttm-post-featured">
                                <img class="img-fluid" src="images/blog/post-05.jpg" alt="post-05">
                            </div>
                        </div><!-- post-featured-wrapper end -->
                        <!-- ttm-blog-classic-content -->
                        <div class="ttm-blog-single-content">
                            <div class="entry-content">
                                <div class="ttm-post-entry-header pt-20 pb-15">
                                    <div class="post-meta">
                                        <span class="ttm-meta-line byline"><img src="images/admin.jpg" class="img-fluid" alt=""> By Admin</span>
                                        <span class="ttm-meta-line entry-date"><i class="fa fa-calendar"></i><time class="entry-date published" datetime="2018-07-28T00:39:29+00:00">July 28, 2018</time></span>
                                        <span class="ttm-meta-line tags-links"><i class="fa fa-comment-o"></i>0 Comments</span>
                                    </div>
                                </div>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum,</p>
                                <p class="mb-30">Donec ornare, est sed tincidunt placerat, sem mi suscipit mi, at varius enim Mauris ienim id purus ornare tin cidunt. Aenean vel consequat riss. Proin viverra nisi at nisl imperdiet auctor donec ornare tuesed. Donec ornare, est sed tincidunt placerat, sem mi suscipit mi, at varius enim Mauris ienim id purus ornare tin cidunt. Aenean vel consequat riss. Proin viverra nisi at nisl imperdiet auctor donec ornare tuesed.</p>
                                <div class="ttm-post-featured mb-30">
                                    <img class="img-fluid" src="images/blog/post-06.jpg" alt="post-06">
                                </div>
                                <h4>Less for this away much varius work</h4>
                                <p>Donec ornare, est sed tincidunt placerat, sem mi suscipit mi, at varius enim Mauris ienim id purus ornare tincidunt. Aenean vel consequat riss. Proin viverra nisi at nisl imperdiet auctor. Donec ornare, esed tincidunt placerat sem mi suscipit mi, at varius enim sem at sem. Fuce tempus ex nibh, eget vlputate lgula ornare eget. Nunc facilisis erat at ligula blandit tempor. maecenas viverra nisi at nisl imperdiet auctor. Viverra nisi at nisl imperdiet auctor. Donec ornare, esed tincidunt placerat sem mi suscipit minisl.</p>
                                <blockquote>
                                    <p class="mb-20">Donec ornare, est sed tincidunt placerat, sem mi suscipit mi, at varius enim Mauris ienim id purus ort. Aene auat riss. Proin viverra varius enim mauris.</p>
                                    <cite class="d-block mt-15">Joseph Carlo</cite>
                                </blockquote>
                                <p class="mb-30">Dummy, est sed tincidunt placerat, sem mi suscipit mi, at varius enim Mauenim id purus ornare tincidunt. Aenean vel consequat riss. Proin viverra nisi at nisl imperdiet auctor. Donec ornare, esed tincidunt placat semmi suscipit mi, at varius enim sem at sem. Fuce tempus ex nibh, eget vlputate lgula ornare eget. Nunc facilisis erat at ligula blandit tempor. maecenas viverra nisi at nisl imperdiet auctor.</p>
                                <h4>Why integrate side projects with installation?</h4>
                                <p>Suscipit mi, at varius enim sem at sem. Fuce tempus ex nibh, eget vlputate lgula ornare eget. Nunc facilisis erat at Donec ornare, est sed tincidunt placerat, sem mi suscipit mi, at varius enim Mauris ienim id purus ornare tin cidunt. Aenean vel consequat riss. Proin viverra nisi at nisl imperdiet auctor. Donec ornare, esed tincidunt placerat sem mi suscipit mi, at varius enim sem at sem. Fuce tempus ex nibh, eget vlputate lgula ornare eget. Nunc facilisis erat at ligula blandit tempor. maecenas esed tincidunt placat semmi suscipit.</p>
                                <!-- separator -->
                                <div class="separator">
                                    <div class="sep-line mt-25 mb-25"></div>
                                </div>
                                <!-- separator -->
                                <div class="clearfix">
                                    <div class="ttm-tag-list float-sm-left">
                                        <span>
                                            <a href="#">Farm</a>
                                            <a href="#">Gardens</a>
                                        </span>
                                    </div>
                                    <div class="social-icons grey-background square float-sm-right">
                                        <ul class="list-inline mb-0 d-inline-block">
                                            <li class="social-facebook"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li class="social-twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ttm-blog-classic-box-comment">
                                    <div id="comments" class="comments-area">
                                        <h2 class="comments-title">2 Replies to “Outdoor Vintage Flower Garden Decor”</h2>
                                        <ol class="comment-list">
                                            <li>
                                                <div class="comment-body">
                                                    <div class="comment-author vcard">
                                                        <img src="images/blog/blog-comment-01.jpg" class="avatar" alt="comment-img">
                                                    </div>
                                                    <div class="comment-box">
                                                        <div class="comment-meta commentmetadata">
                                                            <cite class="ttm-comment-owner">Alex</cite>
                                                            <a href="#">February 14, 2019 at 8:41 am</a>
                                                        </div>
                                                        <div class="author-content-wrap">
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium eius, sunt porro corporis maiores ea, voluptatibus omnis maxime</p>
                                                        </div>
                                                        <div class="reply">
                                                            <a rel="nofollow" class="comment-reply-link" href="#">Reply</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="children comment">
                                                <div class="comment-body">
                                                    <div class="comment-author vcard">
                                                        <img src="images/blog/blog-comment-02.jpg" class="avatar" alt="comment-img">
                                                    </div>
                                                    <div class="comment-box">
                                                        <div class="comment-meta">
                                                            <cite class="ttm-comment-owner">Cherieh</cite>
                                                            <a href="#">February 14, 2019 at 8:42 am</a>
                                                        </div>
                                                        <div class="author-content-wrap">
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium eius, sunt porro corporis maiores ea, voluptatibus omnis maxime</p>
                                                        </div>
                                                        <div class="reply">
                                                            <a rel="nofollow" class="comment-reply-link" href="#">Reply</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ol>
                                        <div class="comment-respond">
                                            <h3 class="comment-reply-title">Leave a Reply</h3>
                                            <p class="comment-notes">Your email address will not be published. </p>
                                            <form id="ttm-comment-form" class="row comment-form clearfix" method="post" action="#">
                                                <div class="col-sm-12 col-md-12">
                                                    <div class="form-group">
                                                        <textarea name="Massage" rows="5" placeholder="Comments" required="required" class="form-control with-border"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-4">
                                                    <div class="form-group">
                                                        <input name="name" type="text" class="form-control with-border" placeholder="Name (required)" required="required">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-4">
                                                    <div class="form-group">
                                                        <input name="email" type="text" placeholder="Email (required)" required="required" class="form-control with-border">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-4">
                                                    <div class="form-group">
                                                        <input name="website" type="text" placeholder="Website" required="required" class="form-control with-border">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <input id="comment-cookies-consent" name="comment-cookies-consent" type="checkbox" value="yes">
                                                    <label for="comment-cookies-consent">Save my name, email, and website in this browser for the next time I comment.</label>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group text-left mt-30">
                                                        <button type="submit" id="submit" class="ttm-btn ttm-btn-size-md ttm-btn-color-darkgrey ttm-btn-style-border" value="">
                                                            Post Comment
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- ttm-blog-classic-content end -->
                    </article>
                    <!-- ttm-service-single-content-are end -->
                </div>
                <div class="col-lg-3 widget-area">
                    <aside class="widget widget-text">
                        <div class="ttm-author-widget text-center">
                            <div class="author-widget_img">
                                <img class="author-img" src="images/author-img.jpg" alt="author image">
                            </div>
                            <h4 class="author-name">Joseph Austin</h4>
                            <p class="author-widget_text">There are many variations of passages of Lorem Ipsum available, but the majority have alteration.</p>
                            <span class="about-autograph">
                                <img class="author-img" src="images/about-sign.png" alt="author image">
                            </span>
                        </div>
                    </aside>
                    <aside class="widget widget-search">
                        <form role="search" method="get" class="search-form" action="#">
                            <div class="form-group">
                                <input name="search" type="text" class="form-control with-border" placeholder="Search....">
                                <i class="fa fa-search"></i>
                            </div>
                        </form>
                    </aside>
                    <aside class="widget widget-categories">
                        <h3 class="widget-title">Categories</h3>
                        <ul>
                            <li><a href="#">Dairy Farm</a><span>4</span></li>
                            <li><a href="#">Flower</a><span>2</span></li>
                            <li><a href="#">Gardening</a><span>1</span></li>
                            <li><a href="#">Tips & Tricks</a><span>4</span></li>
                            <li><a href="#">Watering Plants</a><span>2</span></li>
                        </ul>
                    </aside>
                    <aside class="widget post-widget">
                        <h3 class="widget-title">Latest News</h3>
                        <ul class="widget-post ttm-recent-post-list">
                            <li>
                                <a href="single-blog.html"><img src="images/blog/01.jpg" alt="post-img"></a>
                                <span class="post-date"><i class="fa fa-calendar"></i>May 01, 2019</span>
                                <a href="single-blog.html">Outdoor Vintage Flower Garden Decor</a>
                            </li>
                            <li>
                                <a href="single-blog.html"><img src="images/blog/02.jpg" alt="post-img"></a>
                                <span class="post-date"><i class="fa fa-calendar"></i>May 03, 2019</span>
                                <a href="single-blog.html">Grow Your Own Yard Garden For Better Life</a>
                            </li>
                            <li>
                                <a href="single-blog.html"><img src="images/blog/03.jpg" alt="post-img"></a>
                                <span class="post-date"><i class="fa fa-calendar"></i>May 05, 2019</span>
                                <a href="single-blog.html">Rural Infrastructure for Great Agriculture</a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="widget tagcloud-widget">
                        <h3 class="widget-title">Tags</h3>
                        <div class="tagcloud">
                            <a href="#" class="tag-cloud-link">Bulbsplant</a>
                            <a href="#" class="tag-cloud-link">Care</a>
                            <a href="#" class="tag-cloud-link">Farm</a>
                            <a href="#" class="tag-cloud-link">Gardening</a>
                            <a href="#" class="tag-cloud-link">Gardens</a>
                            <a href="#" class="tag-cloud-link">Landscaping</a>
                            <a href="#" class="tag-cloud-link">Planting</a>
                            <a href="#" class="tag-cloud-link">Seed Saving</a>
                        </div>
                    </aside>
                    <aside class="widget widget_media_image">
                        <div class="banner-img-box ttm-textcolor-white text-left">
                            <div class="featured-content featured-content-banner">
                                <i class="flaticon flaticon-call"></i>
                                <div class="featured-title ttm-box-title">
                                    <h5>How Can We Help?</h5>
                                </div>
                                <div class="featured-desc">
                                    <p>If you need any help, please<br> feel free to contact us.</p>
                                </div>
                                <ul>
                                    <li><i class="fa fa-phone"></i>+1234567890</li>
                                    <li><i class="fa fa-envelope-o"></i><a href="mailto:info@example.com">info@example.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </aside>
                    <aside class="widget widget widget_media_gallery">
                        <h3 class="widget-title">Farm Gallery</h3>
                        <div class="">
                            <div class="gallery-item">
                                <img src="images/blog/11.jpg" class="img-fluid" alt="blog-img">
                            </div>
                            <div class="gallery-item">
                                <img src="images/blog/12.jpg" class="img-fluid" alt="blog-img">
                            </div>
                            <div class="gallery-item">
                                <img src="images/blog/13.jpg" class="img-fluid" alt="blog-img">
                            </div>
                            <div class="gallery-item">
                                <img src="images/blog/14.jpg" class="img-fluid" alt="blog-img">
                            </div>
                            <div class="gallery-item">
                                <img src="images/blog/15.jpg" class="img-fluid" alt="blog-img">
                            </div>
                            <div class="gallery-item">
                                <img src="images/blog/16.jpg" class="img-fluid" alt="blog-img">
                            </div>
                            <div class="gallery-item">
                                <img src="images/blog/17.jpg" class="img-fluid" alt="blog-img">
                            </div>
                            <div class="gallery-item">
                                <img src="images/blog/18.jpg" class="img-fluid" alt="blog-img">
                            </div>
                            <div class="gallery-item">
                                <img src="images/blog/19.jpg" class="img-fluid" alt="blog-img">
                            </div>
                        </div>
                    </aside>
                </div>
            </div><!-- row end -->
        </div>
    </div>
    <!-- sidebar end -->
</div><!--site-main end-->