:root {
    --mainColor: #b86429;
    --childColor: #ffd67b;
    --childColor2: #1a395f;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--childColor2);
    letter-spacing: 0.06em;
}

p, a {
    letter-spacing: 0.06em;
}

.site-branding {
    height: 90px;
    line-height: 90px;
}

.ttm-bgcolor-grey > .ttm-bg-layer, .ttm-bgcolor-grey, .ttm-btn-bgcolor-grey, .ttm-topbar-wrapper, .ttm-search-overlay .ttm-site-searchform input[type="search"], .ttm-icon_element-bgcolor-grey, .sidebar .ttm-bgcolor-grey > .ttm-bg-layer, .ttm-blog-single-content .social-icons li > a, .ttm_single_image-wrapper.after-border.style3:before, .ttm_single_image-wrapper.after-border.style3:after, .accordion.grey-background .toggle-title a, .widget.widget-nav-menu ul li a, .widget-download ul.download li, .ttm-tabs.ttm-tab-style-horizontal.grey-background ul.tabs li.active a, .ttm-pf-single-detail-box, .social-icons.grey-background ul li a, .comment-body, div.product ul.tabs li a {
    background-color: var(--mainColor);
}

    .ttm-textcolor-white a:hover, .ttm-textcolor-skincolor, .ttm-btn-color-skincolor, .section-title h5, .ttm-topbar-wrapper .social-icons li > a:hover, #site-header-menu #site-navigation .menu ul.dropdown > li.active > a, #site-header-menu #site-navigation .menu ul.sub-menu > li.active > a, #site-header-menu #site-navigation .menu ul > li:hover > a, #site-header-menu #site-navigation .menu ul.sub-menu li > a:hover, #site-navigation .menu ul > li:hover > a:before, .ttm-icon_element-color-skincolor, .ttm-icon_element-bgcolor-white i, .ttm-icon_element-bgcolor-grey i, .ttm-btn.ttm-btn-color-white:hover, .ttm-btn.ttm-btn-color-darkgrey:hover, .ttm-fid-icon-wrapper i, .ttm-team-list-title i, .widget_info .widget_icon, .widget ul#menu-footer-services li a:before, .featured-imagebox-portfolio .ttm-media-link a:hover, .featured-imagebox-portfolio .featured-title h5 a:hover, .ttm-bgcolor-skincolor .ttm-bgcolor-darkgrey .testimonials .testimonial-content label, .ttm-bgcolor-skincolor .ttm-textcolor-white .testimonials .testimonial-content label, .ttm-bgcolor-darkgrey .testimonials .testimonial-content label, .ttm-textcolor-white .testimonials .testimonial-content label, .featured-imagebox-team .featured-title h5 a:hover, .featured-imagebox-team.style2 .ttm-social-links-wrapper ul li a:hover, .first-footer .ttm-quicklink-box .custom-heading a:hover, .ttm-highlight-fid-style-1.ttm-fid.inside h4, .featured-icon-box.style6.left-icon .featured-content .featured-desc p, .ttm-pricing-plan .ttm-ptablebox-price, .ttm-pricing-plan .ttm-ptablebox-cur-symbol-before, .breadcrumb-wrapper span a:hover, .banner-img-box .featured-content ul li a:hover, .sidebar ul.contact-widget-wrapper li i, .ttm-pf-single-detail-box ul li i, .sidebar .widget a:hover, .banner-img-box .featured-content i, .featured-imagebox-blog.ttm-box-view-left-image .featured-content .category > a, .ttm-blog-single .ttm-blog-single-content blockquote:before, .coupon_toggle .coupon_code:before, #payment .payment_box:before, .ttm-textcolor-white .ttm-social-links-wrapper ul li a:hover, .ttm-header-icons .ttm-header-cart-link a:hover, .ttm-header-icons .ttm-header-search-link a:hover, .ttm-header-style-04 .ttm-header-icons .ttm-header-cart-link a:hover, .ttm-header-style-04 .ttm-header-icons .ttm-header-search-link a:hover, .ttm-header-style-05 .ttm-header-icons .ttm-header-cart-link a:hover, .ttm-header-style-05 .ttm-header-icons .ttm-header-search-link a:hover, .ttm-header-style-05 .info-widget-content h2, .accordion.style2 .toggle-title a.active, .accordion.style2 .toggle .toggle-title a.active:after, .testimonials-nav .slick-prev:hover:before, .testimonials-nav .slick-next:hover:before {
        color: var(--mainColor);
    }

        .ttm-textcolor-darkgrey h1, .ttm-textcolor-darkgrey h2, .ttm-textcolor-darkgrey h3, .ttm-textcolor-darkgrey h4, .ttm-textcolor-darkgrey h5, .ttm-textcolor-darkgrey h6, .ttm-bgcolor-skincolor .ttm-bgcolor-white .section-title h5, .ttm-bgcolor-skincolor .ttm-bgcolor-white .section-title h2.title, .ttm-bgcolor-skincolor .ttm-bgcolor-white .ttm-progress-bar .progress-bar-title, .ttm-bgcolor-skincolor .ttm-bgcolor-white .ttm-progress-bar .progress-bar-percent, .ttm-bgcolor-white .featured-title h5, .ttm-bgcolor-skincolor .ttm-bgcolor-white .featured-desc p, .ttm-bgcolor-skincolor .ttm-bgcolor-white .featured-title h5, .ttm-bgcolor-white .section-title h2.title, .ttm-btn.ttm-btn-color-white.ttm-btn-style-border:hover, .ttm-bgcolor-skincolor .ttm-btn.ttm-btn-bgcolor-darkgrey:hover, .ttm-btn.ttm-btn-color-darkgrey, .ttm-btn-color-skincolor:hover, .ttm-btn.ttm-btn-bgcolor-white, .sidebar .widget a, .ttm-pagination .page-numbers, .ttm-tabs ul.tabs li a, .ttm-list.ttm-list-style-icon li, .ttm-pf-single-detail-box ul li span, .ttm-box-view-left-image .featured-content .category > a, .product-price, div.product ul.tabs li.active a, .ttm-team-details-list, .ttm-custombutton .ttm-btn:hover, .featured-imagebox-team ul.social-icons a, .featured-imagebox-team .featured-title h5 a, .comment-list a.comment-reply-link, .comment-list a.comment-reply-link:after, .comment-meta .ttm-comment-owner h5, .ttm-comment-owner, div.product ul.tabs li a, .ttm-team-member-education-box span, .ttm-header-style-02 .ttm-header-icons .ttm-header-cart-link a, .ttm-header-style-02 .ttm-header-icons .ttm-header-search-link a, .ttm-header-style-04 .ttm-header-icons .ttm-header-cart-link a, .ttm-header-style-04 .ttm-header-icons .ttm-header-search-link a, .ttm-header-style-05 .ttm-header-icons .ttm-header-cart-link a, .ttm-header-style-05 .ttm-header-icons .ttm-header-search-link a {
            color: var(childColor2);
        }

.top-contact {
    font-size: 16px;
    color: #fff;
}


.ttm-topbar-wrapper .social-icons li > a {
    color: #fff;
    font-size: 16px;
}

.ttm-header-style-01 .top-contact li {
    border-left: none;
    border-right: none;
    font-weight: 600;
}

.top-contact li {
    padding-left: 0;
}

.ttm-header-style-01 .ttm-topbar-wrapper .ttm-social-links-wrapper {
    border-right: none;
    padding-right: 0;
}

.ttm-bgcolor-darkgrey, .ttm-bgcolor-darkgrey > .ttm-bg-layer, .ttm-bgcolor-darkgrey > .ttm-bg-layer > .ttm-bg-layer-inner, .ttm-btn-bgcolor-darkgrey, .ttm-icon_element-bgcolor-darkgrey, .ttm-btn-bgcolor-white:hover, .ttm-btn-bgcolor-skincolor:hover, .ttm-btn.ttm-btn-bgcolor-darkgrey, .ttm-btn.ttm-btn-color-darkgrey.ttm-btn-style-border:hover, .ttm-btn-bgcolor-grey:hover, .ttm-header-style-01 .ttm-header-icons .ttm-header-cart-link a, .ttm-header-style-01 .ttm-header-icons .ttm-header-search-link a, .progress-bar-color-bar_darkgrey, .progress-bar-color-bar_darkgrey.progress-bar:before, .ttm-bgcolor-skincolor .tooltip:after, .ttm-bgcolor-skincolor [data-tooltip]:after, .ttm-shop-icon .product-btn, .ttm-tabs.ttm-tab-style-horizontal ul.tabs li a, .ttm-pricing-plan .ttm-featured-title, .featured-imagebox-services:hover .ttm-icon.ttm-icon_element-bgcolor-skincolor, .widget-download ul.download li:hover, .widget-download ul.download li i, .ttm-header-style-02 .ttm-topbar-wrapper, .ttm-header-style-02 .ttm-header-icons .ttm-header-cart-link a:hover span.number-cart, .ttm-header-style-04 .ttm-custombutton .ttm-btn:hover {
    background-color: var(--childColor);
}

#site-header-menu #site-navigation .menu ul li > a {
    font-weight: 700;
    font-size: 18px;
}

.ttm-textcolor-white a:hover, .ttm-textcolor-skincolor, .ttm-btn-color-skincolor, .section-title h5, .ttm-topbar-wrapper .social-icons li > a:hover, #site-header-menu #site-navigation .menu ul.dropdown > li.active > a, #site-header-menu #site-navigation .menu ul.sub-menu > li.active > a, #site-header-menu #site-navigation .menu ul > li:hover > a, #site-header-menu #site-navigation .menu ul.sub-menu li > a:hover, #site-navigation .menu ul > li:hover > a:before, .ttm-icon_element-color-skincolor, .ttm-icon_element-bgcolor-white i, .ttm-icon_element-bgcolor-grey i, .ttm-btn.ttm-btn-color-white:hover, .ttm-btn.ttm-btn-color-darkgrey:hover, .ttm-fid-icon-wrapper i, .ttm-team-list-title i, .widget_info .widget_icon, .widget ul#menu-footer-services li a:before, .featured-imagebox-portfolio .ttm-media-link a:hover, .featured-imagebox-portfolio .featured-title h5 a:hover, .ttm-bgcolor-skincolor .ttm-bgcolor-darkgrey .testimonials .testimonial-content label, .ttm-bgcolor-skincolor .ttm-textcolor-white .testimonials .testimonial-content label, .ttm-bgcolor-darkgrey .testimonials .testimonial-content label, .ttm-textcolor-white .testimonials .testimonial-content label, .featured-imagebox-team .featured-title h5 a:hover, .featured-imagebox-team.style2 .ttm-social-links-wrapper ul li a:hover, .first-footer .ttm-quicklink-box .custom-heading a:hover, .ttm-highlight-fid-style-1.ttm-fid.inside h4, .featured-icon-box.style6.left-icon .featured-content .featured-desc p, .ttm-pricing-plan .ttm-ptablebox-price, .ttm-pricing-plan .ttm-ptablebox-cur-symbol-before, .breadcrumb-wrapper span a:hover, .banner-img-box .featured-content ul li a:hover, .sidebar ul.contact-widget-wrapper li i, .ttm-pf-single-detail-box ul li i, .sidebar .widget a:hover, .banner-img-box .featured-content i, .featured-imagebox-blog.ttm-box-view-left-image .featured-content .category > a, .ttm-blog-single .ttm-blog-single-content blockquote:before, .coupon_toggle .coupon_code:before, #payment .payment_box:before, .ttm-textcolor-white .ttm-social-links-wrapper ul li a:hover, .ttm-header-icons .ttm-header-cart-link a:hover, .ttm-header-icons .ttm-header-search-link a:hover, .ttm-header-style-04 .ttm-header-icons .ttm-header-cart-link a:hover, .ttm-header-style-04 .ttm-header-icons .ttm-header-search-link a:hover, .ttm-header-style-05 .ttm-header-icons .ttm-header-cart-link a:hover, .ttm-header-style-05 .ttm-header-icons .ttm-header-search-link a:hover, .ttm-header-style-05 .info-widget-content h2, .accordion.style2 .toggle-title a.active, .accordion.style2 .toggle .toggle-title a.active:after, .testimonials-nav .slick-prev:hover:before, .testimonials-nav .slick-next:hover:before {
    color: var(--childColor);
}
.widget_info .widget_title {
    font-weight: 700;
}

.widget_info .widget_icon {
    color: var(--mainColor);
}

.widget_info .widget_desc {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    color: var(--childColor2);
}

.section-title h2.title {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 0;
    font-weight: 700;
}

.section-title h5 {
    color: var(--mainColor);
    font-size: 16px;
    line-height: 21px;
}

.ttm-icon.ttm-icon_element-size-md i {
    color: var(--mainColor);
}

@media only screen and (min-width: 1200px) {
    #site-header-menu #site-navigation .menu > ul > li > ul > li a {
        font-weight: 600 !important;
        font-size: 16px !important;
        color: var(--childColor2) !important;
    }
}
