
@{
    ViewBag.Title = "Danh sách trang nội dung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- begin row -->
<div class="row">
    <div class="col-md-12 m-b-30">
        <!-- begin page title -->
        <div class="d-block d-sm-flex flex-nowrap align-items-center">
            <div class="page-title mb-2 mb-sm-0">
                <h1>Danh sách trang nội dung</h1>
            </div>
            <div class="ml-auto d-flex align-items-center">
                <nav>
                    <ol class="breadcrumb p-0 m-b-0">
                        <li class="breadcrumb-item">
                            <a href="/Home/Index"><i class="ti ti-home"></i></a>
                        </li>
                        <li class="breadcrumb-item">
                            Quản trị website
                        </li>
                        <li class="breadcrumb-item active text-primary" aria-current="page">Trang nội dung</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- end page title -->
    </div>
</div>
<!-- end row -->

<div class="gr-btn-action row">
    <div class="btn-group-left col-md-6">

    </div>
    <div class="btn-group-right col-md-6" style="text-align: right">
        <a class="btn btn-square btn-primary" href="@Url.Action("InsertPage", "Page")">Tạo trang nội dung &nbsp;<i class="nav-icon ion ion-md-arrow-round-forward"></i></a>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <div class="input-group mb-3">
            <form id="form_filter">
                <div class="btn-group">
                    <select class="custom-select" id="select-filter">
                        <option value="all" selected="">Lọc trang theo</option>
                        <option value="page_status">Trạng thái hiển thị</option>
                    </select>

                    <select class="custom-select" id="filter-by-page-status" style="display: none">
                        <option selected="" value="-1" disabled>Chọn điều kiện lọc...</option>
                        <option value="hidden">Đang ẩn</option>
                        <option value="show">Đang hiển thị</option>
                    </select>
                </div>
            </form>

            <input type="text" class="form-control" id="search_input" name="search_input" value="@ViewBag.FilterValue" placeholder="Tìm kiếm trang nội dung..." aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" id="button-addon2" onclick="searchPage()">
                    <i class="nav-icon ti ti-search"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-3" style="text-align:right">
        <form id="set_condition_show">
            <div class="btn-group">
                <select class="custom-select" id="sort_list_page_return_select">
                    <option selected="" value="name_az" disabled>Sắp xếp thứ tự theo</option>
                    <option value="name_az">Tiêu đề: A -> Z</option>
                    <option value="name_za">Tiêu đề: Z -> A</option>
                    <option disabled>------------------------------------------</option>
                    <option value="lastest">Mới nhất</option>
                </select>
            </div>
            <div class="btn-group">
                <select class="custom-select" id="size_of_page_select_page">
                    <option selected="" value="10" disabled>Hiển thị</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>
            </div>
        </form>
    </div>
</div>

<div class="" id="data_table">
    @{Html.RenderAction("GetPage", "Page", new { page_num = ViewBag.page_num, search_string = ViewBag.FilterValue, quick_filter = ViewBag.QuickFilter, quick_filter_value = ViewBag.QuickFilterValue, size_of_page = ViewBag.SizeOfPage, sort_list_return = ViewBag.SortListReturn });}
</div>

<script>
    $(document).ready(function () {
        $('#page').addClass('active');
        $('#list_page').addClass('active');

        $('form').trigger('reset');
    });

    $('#select-filter').on('change', function () {
        var filter_value_parent = this.value;
        var search_string = $('#search_input').val().trim();
        if (filter_value_parent == "page_status") {
            $('#filter-by-page-status').css('display', 'block');
            $('#filter-by-page-category').css('display', 'none');
        }
        else {
            $('#form_filter.custom-select').trigger("reset");
            $('#filter-by-page-status').css('display', 'none');
            $('#filter-by-page-category').css('display', 'none');
            string_value_to_filter = "";
            filterPageCommon();
        }
    });


    var string_value_to_filter = "";
    $('#filter-by-page-status').on('change', function () {
        string_value_to_filter = this.value;
        filterPageCommon();
    });

    $('#filter-by-page-category').on('change', function () {
        string_value_to_filter = this.value;
        filterPageCommon();
    });

    $('#search_input').keypress(function (e) {
        if (e.which == 13) {
            filterPageCommon();
        }
    });

    function filterPageCommon() {
        var search_string = $('#search_input').val().trim();
        var quick_filter_value = string_value_to_filter;
        var quick_filter = $("#select-filter option:selected").val();
        var size_of_page = $("#size_of_page_select_page option:selected").val();
        var sort_list_return = $("#sort_list_page_return_select option:selected").val();
        $.ajax({
            url: "/Page/Index",
            data: {
                search_string: search_string,
                page_num: 1,
                quick_filter_value: quick_filter_value,
                quick_filter: quick_filter,
                size_of_page: size_of_page,
                sort_list_return: sort_list_return,
            },
            context: document.body,
            type: "GET",
            dataType: "html",
            success: function (data) {
                $("#data_table").html($(data).find("#data_table"));
            },
            error: function (xhr, status) {
            },
            complete: function (xhr, status) {
            }
        });
    }

    $('#size_of_page_select_page').on('change', function () {
        filterPageCommon();
    });

    $('#sort_list_page_return_select').on('change', function () {
        filterPageCommon();
    });

    function searchPage() {
        filterPageCommon();
    }
</script>
