
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- start of banner -->
<div class="justify-content-center position-relative">
    <div class="slider-main owl-carousel">
        <div class="banner-1 bg-cover" style="background-image: url(../Assets/images/slider/1609757549_banner-web.jpg);"></div>
        <!-- end of banner -->
        <div class="banner-1 bg-cover" style="background-image: url(../Assets/images/slider/1603078509_cover-web-april-30-01.jpg);"></div>
    </div>
    <div class="nav-arrows arrow-vcentered">
        <span class="fas fa-chevron-left slider-main-left"></span>
        <span class="fas fa-chevron-right slider-main-right"></span>
    </div>
</div>

<section class="section-padding">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6">
                <h2 class="section-title mb-30">Trung tâm Anh ngữ <br> Hàng đầu Việt Nam <br /> EPLUS</h2>
                <p class="mb-4">Chúng tôi đem đến cho thế hệ trẻ Việt Nam chìa khóa mở cánh cửa hội nhập cùng quốc tế trong tâm thế của người dẫn đầu tương lai</p>
                <ul class="list-unstyled">
                    <li class="mb-2"><i class="fas fa-star mr-2 text-primary"></i>Uneasy barton seeing remark happen hi has.</li>
                    <li class="mb-2"><i class="fas fa-star mr-2 text-primary"></i>Am possible offering contempt mr distance stronger an.</li>
                    <li><i class="fas fa-star mr-2 text-primary"></i>Attachment excellence announcing or reasonable.</li>
                </ul>
                <div class="d-sm-flex">
                    <div class="media align-items-center mt-35 mr-5">
                        <img src="../Assets/images/icon-winner.png" alt="">
                        <div class="ml-3">
                            <h2 class="text-primary font-weight-bold jsCounter">374</h2>
                            <p class="text-blue">Award Win</p>
                        </div>
                    </div>
                    <div class="media align-items-center mt-35">
                        <img src="../Assets/images/icon-tutor.png" alt="">
                        <div class="ml-3">
                            <h2 class="text-primary font-weight-bold jsCounter">623</h2>
                            <p class="text-blue">Experts Tutor</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 mt-5 mt-lg-0 text-center">
                <div class="img-line-box">
                    <img class="img-fluid" src="../Assets/images/online-eu.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>


<section class="tab-slider-feature pt-50 pb-50">
    <div class="container">
        <div class="tt-2 tt-box" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
            <span>Chỉ có tại EPLUS </span>
        </div>
        <div class="mb-10">
            <div class="sub-header ">
                <div class="swipe-tabs">
                    <div class="swipe-tab">
                        Sống toàn diện <br />
                        Trong môi trường Anh ngữ
                    </div>
                    <div class="swipe-tab">
                        E-Learning <br />
                        Học ở mọi nơi
                    </div>
                    <div class="swipe-tab">
                        Chương trình <br />
                        7 tính cách thành công
                    </div>
                    <div class="swipe-tab">
                        100% giáo viên <br />
                        Trình độ bản ngữ
                    </div>
                </div>
            </div>
            <div class="main-container">
                <div class="swipe-tabs-container ">
                    <div class="swipe-tab-content">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">
                                <p>
                                    EPlus xây dựng hệ sinh thái giáo dục giúp trẻ tiếp thu kiến thức và phát triển toàn diện nhất.
                                    <br>
                                    <br>
                                    Một xã hội thu nhỏ được mô phỏng chuyên nghiệp ngay tại khuôn viên của EPlus, như: thư viện, căn-tin, khu mua sắm, ẩm thực,… giúp trẻ có những trải nghiệm thực tiễn đáng nhớ, gia tăng hiểu biết trên nhiều lĩnh vực và phát triển khả năng giao tiếp của trẻ.
                                    <br>
                                </p>
                                <div class="mt-20 mb-20 text-center">
                                    <a href="#!" class="btn btn-lg btn-secondary">Xem Chi Tiết</a>
                                    <a href="#!" class="btn btn-lg btn-primary">Liên hệ</a>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-12">
                                <div class="item-only-img">
                                    <img src="http://www.apaxleaders.edu.vn/static/uploads/differentiation/1538913816_dsc02597-2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swipe-tab-content">Tab 2</div>
                    <div class="swipe-tab-content">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">
                                <p>
                                    Chương trình giáo dục kỹ năng &amp; ứng dụng 7 tính cách thành công, được EPlus xây dựng và đào tạo giúp trẻ hướng tới thay đổi tư duy toàn diện từ bên trong, hình thành thói quen tốt, phát huy tiềm năng và xây dựng tinh thần lãnh đạo bản thân.
                                </p>
                                <div class="mt-20 mb-20 text-center">
                                    <a href="#!" class="btn btn-lg btn-secondary">Xem Chi Tiết</a>
                                    <a href="#!" class="btn btn-lg btn-primary">Liên hệ</a>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-12">
                                <div class="item-only-img">
                                    <img src="http://www.apaxleaders.edu.vn/static/uploads/differentiation/1538913831_dsc02716-2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swipe-tab-content">Tab 4</div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- start of video-popup section -->
<section class="section-padding pt-0 bg-light has-white-half">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="text-center">
                    <a href="https://www.youtube.com/watch?v=yD7b6R0-LQw" class="d-block has-overlay has-video-popup tansform-none">
                        <img class="img-fluid rounded" src="../Assets/images/video-thumb-3.jpg" alt="">
                        <img class="play-btn" src="../Assets/images/video-btn.png" alt="">
                    </a>
                    <h2 class="section-title mt-50 mb-25">What  Some Awesome Parent Says <span class="has-line">About Us</span></h2>
                    <p class="mb-40">Weddings and any opinions suitable smallest nay. My he houses or months settle remove <br> ladies appear. Engrossed suffering supposing he recommend.</p>
                    <a href="#!" class="btn btn-lg btn-secondary rounded-pill">About Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of video-popup section -->
<!-- start of how-it-works section -->
<section class="section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="section-title">How <span class="has-line">It Works</span> <br> For Students/Parents?</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6 mt-40">
                <div class="how-it-works-item text-center shadow">
                    <img src="../Assets/images/how-it-works/01.png" alt="">
                    <h3 class="mt-20 font-weight-600 text-secondary">Tell Us Where You <br> Need Help</h3>
                    <p class="mt-20">His exquisite sincerity education shameless ten earnestly breakfast. Scale began quiet up short wrong in Personal attention.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mt-40">
                <div class="how-it-works-item text-center shadow">
                    <img src="../Assets/images/how-it-works/02.png" alt="">
                    <h3 class="mt-20 font-weight-600 text-secondary">Choose The Tutor <br> You Want</h3>
                    <p class="mt-20">His exquisite sincerity education shameless ten earnestly breakfast. Scale began quiet up short wrong in Personal attention.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mt-40">
                <div class="how-it-works-item text-center shadow">
                    <img src="../Assets/images/how-it-works/03.png" alt="">
                    <h3 class="mt-20 font-weight-600 text-secondary">Book A Tutor <br> Start Lesson</h3>
                    <p class="mt-20">His exquisite sincerity education shameless ten earnestly breakfast. Scale began quiet up short wrong in Personal attention.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of how-it-works section -->
<!-- start of section -->
<section class="section-padding pt-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 text-center">
                <img class="img-fluid" src="../Assets/images/free-class.png" alt="">
            </div>
            <div class="col-lg-5 mt-5 mt-lg-0">
                <h2 class="section-title mb-30">Request A Class <span class="has-line">for FREE Trail</span></h2>
                <p class="mb-4">Weddings and any opinions suitable smallest nay. My he houses or months settle remove ladies appear. Engrossed suffering supposing he recommend. Commanded no of depending extremity recommend attention tolerably.</p>
                <a href="#!" class="btn btn-lg btn-secondary rounded-pill">Search Tutor</a>
            </div>
        </div>
    </div>
</section>
<!-- end of section -->
<!-- start of find-tutor-section -->
<section class="find-tutor-section section-padding bg-cover has-overlay text-white" style="background-image: url(../Assets/images/find-tutor.jpg);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="section-title text-white mb-30">Find <span class="has-line">Online Tutors</span> <br> In Any Subject</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-6">
                <div class="mt-40 text-center hover-grayscale">
                    <img src="../Assets/images/subject/01.png" alt="">
                    <h3 class="mt-15 font-weight-600">Math</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="mt-40 text-center hover-grayscale">
                    <img src="../Assets/images/subject/02.png" alt="">
                    <h3 class="mt-15 font-weight-600">English</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="mt-40 text-center hover-grayscale">
                    <img src="../Assets/images/subject/03.png" alt="">
                    <h3 class="mt-15 font-weight-600">Engneering</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="mt-40 text-center hover-grayscale">
                    <img src="../Assets/images/subject/04.png" alt="">
                    <h3 class="mt-15 font-weight-600">History</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="mt-40 text-center hover-grayscale">
                    <img src="../Assets/images/subject/05.png" alt="">
                    <h3 class="mt-15 font-weight-600">Social Science</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="mt-40 text-center hover-grayscale">
                    <img src="../Assets/images/subject/06.png" alt="">
                    <h3 class="mt-15 font-weight-600">Computer Science</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="mt-40 text-center hover-grayscale">
                    <img src="../Assets/images/subject/07.png" alt="">
                    <h3 class="mt-15 font-weight-600">Data Science</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="mt-40 text-center hover-grayscale">
                    <img src="../Assets/images/subject/08.png" alt="">
                    <h3 class="mt-15 font-weight-600">Medical</h3>
                </div>
            </div>
            <div class="col-lg-12 text-center mt-80">
                <a href="#!" class="btn btn-lg btn-primary rounded-pill">See all Subjects</a>
            </div>
        </div>
    </div>
</section>
<!-- end of find-tutor-section -->
<!-- start of tutors join recently section -->
<section class="section-padding">
    <div class="container">
        <div class="row align-items-center mb-30">
            <div class="col-lg-9 text-center text-lg-left">
                <h2 class="section-title mb-0">Tutors <span class="has-line">Joined Recently</span></h2>
            </div>
            <div class="col-lg-3 mt-4 mt-lg-0 text-center text-lg-right">
                <a href="#!" class="text-primary font-weight-600">Show More</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="card shadow-sm mt-40">
                    <div class="card-body p-30">
                        <div class="d-flex justify-content-between align-items-end">
                            <div class="media d-block">
                                <img class="mx-auto mx-sm-0" src="../Assets/images/user-01.jpg" alt="">
                                <div class="mt-3">
                                    <h4 class="font-weight-600 text-blue mb-1">James Benzion</h4>
                                    <p>Pittsburgh, USA</p>
                                </div>
                            </div>
                            <div class="text-primary text-center">
                                <span class="h2 d-block font-weight-bold line-hight-1">$30</span>
                                <span class="h4">Hours</span>
                            </div>
                        </div>
                        <ul class="list-inline my-4 pt-3 pb-4 border-top border-bottom">
                            <li class="list-inline-item p-2 bg-gray rounded mt-2">English</li>
                            <li class="list-inline-item p-2 bg-gray rounded mt-2">American English</li>
                            <li class="list-inline-item p-2 bg-gray rounded mt-2">Business English</li>
                            <li class="list-inline-item p-2 bg-gray rounded mt-2">Grammar</li>
                        </ul>

                        <a href="#!" class="btn btn-outline-primary rounded-pill">Send Message</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card shadow-sm mt-40">
                    <div class="card-body p-30">
                        <div class="d-flex justify-content-between align-items-end">
                            <div class="media d-block">
                                <img class="mx-auto mx-sm-0" src="../Assets/images/user-05.png" alt="">
                                <div class="mt-3">
                                    <h4 class="font-weight-600 text-blue mb-1">Jack Baker</h4>
                                    <p>Pittsburgh, USA</p>
                                </div>
                            </div>
                            <div class="text-primary text-center">
                                <span class="h2 d-block font-weight-bold line-hight-1">$30</span>
                                <span class="h4">Hours</span>
                            </div>
                        </div>
                        <ul class="list-inline my-4 pt-3 pb-4 border-top border-bottom">
                            <li class="list-inline-item p-2 bg-gray rounded mt-2">English</li>
                            <li class="list-inline-item p-2 bg-gray rounded mt-2">American English</li>
                            <li class="list-inline-item p-2 bg-gray rounded mt-2">Business English</li>
                            <li class="list-inline-item p-2 bg-gray rounded mt-2">Grammar</li>
                        </ul>

                        <a href="#!" class="btn btn-outline-primary rounded-pill">Send Message</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card shadow-sm mt-40">
                    <div class="card-body p-30">
                        <div class="d-flex justify-content-between align-items-end">
                            <div class="media d-block">
                                <img class="mx-auto mx-sm-0" src="../Assets/images/user-06.png" alt="">
                                <div class="mt-3">
                                    <h4 class="font-weight-600 text-blue mb-1">Jesica Walker</h4>
                                    <p>Pittsburgh, USA</p>
                                </div>
                            </div>
                            <div class="text-primary text-center">
                                <span class="h2 d-block font-weight-bold line-hight-1">$30</span>
                                <span class="h4">Hours</span>
                            </div>
                        </div>
                        <ul class="list-inline my-4 pt-3 pb-4 border-top border-bottom">
                            <li class="list-inline-item p-2 bg-gray rounded mt-2">English</li>
                            <li class="list-inline-item p-2 bg-gray rounded mt-2">American English</li>
                            <li class="list-inline-item p-2 bg-gray rounded mt-2">Business English</li>
                            <li class="list-inline-item p-2 bg-gray rounded mt-2">Grammar</li>
                        </ul>

                        <a href="#!" class="btn btn-outline-primary rounded-pill">Send Message</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of tutors join recently section -->
<!-- start of How It Works for tutors section -->
<section class="section-padding pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-title mb-30">How It Works <span class="has-line">for Tutors?</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="how-it-works-item works-item-alt shape-style-1 text-center shadow">
                    <img class="position-static" src="../Assets/images/how-it-works-tutors/01.png" alt="">
                    <h3 class="mt-20 font-weight-600 text-secondary">Create A Free <br> Account Now</h3>
                    <p class="mt-20">Advantage old hTad otherwise sincerity dependent additions. Six draw you him full not mean evil. Prepare garrets it expense.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="how-it-works-item works-item-alt shape-style-2 text-center shadow">
                    <img class="position-static" src="../Assets/images/how-it-works-tutors/02.png" alt="">
                    <h3 class="mt-20 font-weight-600 text-secondary">Apply to Your <br> Tuition Job</h3>
                    <p class="mt-20">Advantage old hTad otherwise sincerity dependent additions. Six draw you him full not mean evil. Prepare garrets it expense.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="how-it-works-item works-item-alt shape-style-1 text-center shadow">
                    <img class="position-static" src="../Assets/images/how-it-works-tutors/03.png" alt="">
                    <h3 class="mt-20 font-weight-600 text-secondary">Start Tutoring <br>With Happiness</h3>
                    <p class="mt-20">Advantage old hTad otherwise sincerity dependent additions. Six draw you him full not mean evil. Prepare garrets it expense.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of How It Works for tutors section -->
<!-- start of tutors-carousel-alt section -->
<section class="section-padding bg-cover" style="background-image: url(../Assets/images/pattern-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-title mb-60">Happy <span class="has-line">Tutors Say</span></h2>
            </div>
        </div>
    </div>
    <div class="container-lg">
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel tutors-carousel-alt has-dots-center">
                    <div class="tutor-item-alt bg-white p-30">
                        <p>Left till here away at to whom past. Feelings laughing at no wondered repeated provided finished. It acceptance thoro advantages.</p>
                        <div class="media d-block d-sm-flex mt-25">
                            <img src="../Assets/images/user-01.jpg" alt="">
                            <div class="ml-0 ml-sm-3 mt-3 mt-sm-0">
                                <h4 class="font-weight-600 text-blue mb-1">James Benzion</h4>
                                <p>Pittsburgh, USA</p>
                            </div>
                        </div>
                    </div>
                    <div class="tutor-item-alt bg-white p-30">
                        <p>Left till here away at to whom past. Feelings laughing at no wondered repeated provided finished. It acceptance thoro advantages.</p>
                        <div class="media d-block d-sm-flex mt-25">
                            <img src="../Assets/images/user-05.png" alt="">
                            <div class="ml-0 ml-sm-3 mt-3 mt-sm-0">
                                <h4 class="font-weight-600 text-blue mb-1">Alex Benzion</h4>
                                <p>Khulnala, UAE</p>
                            </div>
                        </div>
                    </div>
                    <div class="tutor-item-alt bg-white p-30">
                        <p>Left till here away at to whom past. Feelings laughing at no wondered repeated provided finished. It acceptance thoro advantages.</p>
                        <div class="media d-block d-sm-flex mt-25">
                            <img src="../Assets/images/user-06.png" alt="">
                            <div class="ml-0 ml-sm-3 mt-3 mt-sm-0">
                                <h4 class="font-weight-600 text-blue mb-1">Jesmin Walker</h4>
                                <p>Khulnala, UAE</p>
                            </div>
                        </div>
                    </div>
                    <div class="tutor-item-alt bg-white p-30">
                        <p>Left till here away at to whom past. Feelings laughing at no wondered repeated provided finished. It acceptance thoro advantages.</p>
                        <div class="media d-block d-sm-flex mt-25">
                            <img src="../Assets/images/user-05.png" alt="">
                            <div class="ml-0 ml-sm-3 mt-3 mt-sm-0">
                                <h4 class="font-weight-600 text-blue mb-1">Alex Benzion</h4>
                                <p>Khulnala, UAE</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of tutors-carousel-alt section -->
<!-- start of mobile app section -->
<section class="section-padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <h2 class="section-title mb-30">Our <span class="has-line">Mobile App</span></h2>
                <p class="mb-4">Weddings and any opinions suitable smallest nay. My he houses or months settle remove ladies appear. Engrossed suffering supposing he recommend. Commanded no of depending extremity recommend attention tolerably.</p>
                <a href="#!" class="btn btn-lg btn-secondary rounded-pill">Search Tutor</a>
            </div>
            <div class="col-lg-7 mt-5 mt-lg-0 text-center">
                <img class="img-fluid" src="../Assets/images/mobile-app.png" alt="">
            </div>
        </div>
    </div>
</section>
<!-- end of mobile app section -->
