
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- start of banner -->
<div class="justify-content-center position-relative">
    <div class="slider-main owl-carousel">
        <div class="banner-1 bg-cover" style="background-image: url(../Assets/images/slider/1609757549_banner-web.jpg);"></div>
        <!-- end of banner -->
        <div class="banner-1 bg-cover" style="background-image: url(../Assets/images/slider/1603078509_cover-web-april-30-01.jpg);"></div>
    </div>
    <div class="nav-arrows arrow-vcentered">
        <span class="fas fa-chevron-left slider-main-left"></span>
        <span class="fas fa-chevron-right slider-main-right"></span>
    </div>
</div>

<section class="section-padding">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6">
                <h2 class="section-title mb-10">Trung tâm Anh ngữ Hàng đầu Việt Nam - EPlus</h2>
                <p class="mb-4">Chúng tôi đem đến cho thế hệ trẻ Việt Nam chìa khóa mở cánh cửa hội nhập cùng quốc tế trong tâm thế của người dẫn đầu tương lai.</p>
                <ul class="list-unstyled">
                    <li class="mb-2"><i class="fas fa-star mr-2 text-primary"></i>Sống toàn diện trong môi trường Anh ngữ.</li>
                    <li class="mb-2"><i class="fas fa-star mr-2 text-primary"></i>Thỏa sức học tập ở khắp mọi nơi.</li>
                    <li class="mb-2"><i class="fas fa-star mr-2 text-primary"></i>Các chương trình đào tạo từ cơ bản đến nâng cao.</li>
                    <li><i class="fas fa-star mr-2 text-primary"></i>Giáo viên 100% trình độ bản ngữ.</li>
                </ul>
                <div class="d-sm-flex">
                    <div class="media align-items-center mt-35 mr-5">
                        <img src="../Assets/images/icon-winner.png" alt="">
                        <div class="ml-3">
                            <h2 class="text-primary font-weight-bold"><span class="jsCounter">500</span>+</h2>
                            <p class="text-blue">Học viên</p>
                        </div>
                    </div>
                    <div class="media align-items-center mt-35">
                        <img src="../Assets/images/icon-tutor.png" alt="">
                        <div class="ml-3">
                            <h2 class="text-primary font-weight-bold"><span class="jsCounter">60</span>+</h2>
                            <p class="text-blue">Giáo viên</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 mt-5 mt-lg-0 text-center">
                <div class="img-line-box">
                    <img class="img-fluid" src="../Assets/images/online-eu.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>


<section class="tab-slider-feature pt-50 pb-50">
    <div class="container">
        <div class="tt-2 tt-box" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
            <span>Chỉ có tại EPLUS </span>
        </div>
        <div class="mb-10">
            <div class="sub-header ">
                <div class="swipe-tabs">
                    <div class="swipe-tab">
                        Sống toàn diện <br />
                        Trong môi trường Anh ngữ
                    </div>
                    <div class="swipe-tab">
                        E-Learning <br />
                        Học ở mọi nơi
                    </div>
                    <div class="swipe-tab">
                        Chương trình <br />
                        7 tính cách thành công
                    </div>
                    <div class="swipe-tab">
                        100% giáo viên <br />
                        Trình độ bản ngữ
                    </div>
                </div>
            </div>
            <div class="main-container">
                <div class="swipe-tabs-container ">
                    <div class="swipe-tab-content">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">
                                <p>
                                    EPlus xây dựng hệ sinh thái giáo dục giúp trẻ tiếp thu kiến thức và phát triển toàn diện nhất.
                                    <br>
                                    <br>
                                    Một xã hội thu nhỏ được mô phỏng chuyên nghiệp ngay tại khuôn viên của EPlus, như: thư viện, căn-tin, khu mua sắm, ẩm thực,… giúp trẻ có những trải nghiệm thực tiễn đáng nhớ, gia tăng hiểu biết trên nhiều lĩnh vực và phát triển khả năng giao tiếp của trẻ.
                                    <br>
                                </p>
                                <div class="mt-20 mb-20 text-center">
                                    <a href="#!" class="btn btn-lg btn-secondary">Xem Chi Tiết</a>
                                    <a href="#!" class="btn btn-lg btn-primary">Liên hệ</a>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-12">
                                <div class="item-only-img">
                                    <img src="http://www.apaxleaders.edu.vn/static/uploads/differentiation/1538913816_dsc02597-2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swipe-tab-content">Tab 2</div>
                    <div class="swipe-tab-content">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">
                                <p>
                                    Chương trình giáo dục kỹ năng &amp; ứng dụng 7 tính cách thành công, được EPlus xây dựng và đào tạo giúp trẻ hướng tới thay đổi tư duy toàn diện từ bên trong, hình thành thói quen tốt, phát huy tiềm năng và xây dựng tinh thần lãnh đạo bản thân.
                                </p>
                                <div class="mt-20 mb-20 text-center">
                                    <a href="#!" class="btn btn-lg btn-secondary">Xem Chi Tiết</a>
                                    <a href="#!" class="btn btn-lg btn-primary">Liên hệ</a>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-12">
                                <div class="item-only-img">
                                    <img src="http://www.apaxleaders.edu.vn/static/uploads/differentiation/1538913831_dsc02716-2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swipe-tab-content">Tab 4</div>
                </div>
            </div>
        </div>

    </div>
</section>


<!-- start of courses section -->
<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-title">Các chương trình học tại EPlus</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-5 col-sm-6 mt-20">
                <div class="card course-card shadow">
                    <img class="card-img-top" src="../Assets/images/courses/01.jpg" alt="">
                    <div class="card-body p-30">
                        <h5 class="font-weight-700"><a href="#!" class="text-blue">Machine Learning A-Z: hands-On Python In Data Science</a></h5>
                        <p class="mt-2">She exposed painted fifteen are noisier mistake led waiting surprise.</p>
                    </div>
                    <div class="px-30">
                        <div class="card-footer px-0 bg-transparent mb-10 d-flex justify-content-between align-items-center">
                            <div class="rating text-primary">
                                <span class="font-weight-600">4.3</span>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <a class="price h6" href="#">
                                Xem chi tiết
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-6 mt-20">
                <div class="card course-card shadow">
                    <img class="card-img-top" src="../Assets/images/courses/01.jpg" alt="">
                    <div class="card-body p-30">
                        <h5 class="font-weight-700"><a href="#!" class="text-blue">Machine Learning A-Z: hands-On Python In Data Science</a></h5>
                        <p class="mt-2">She exposed painted fifteen are noisier mistake led waiting surprise.</p>
                    </div>
                    <div class="px-30">
                        <div class="card-footer px-0 bg-transparent mb-10 d-flex justify-content-between align-items-center">
                            <div class="rating text-primary">
                                <span class="font-weight-600">4.3</span>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <a class="price h6" href="#">
                                Xem chi tiết
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-6 mt-20">
                <div class="card course-card shadow">
                    <img class="card-img-top" src="../Assets/images/courses/01.jpg" alt="">
                    <div class="card-body p-30">
                        <h5 class="font-weight-700"><a href="#!" class="text-blue">Machine Learning A-Z: hands-On Python In Data Science</a></h5>
                        <p class="mt-2">She exposed painted fifteen are noisier mistake led waiting surprise.</p>
                    </div>
                    <div class="px-30">
                        <div class="card-footer px-0 bg-transparent mb-10 d-flex justify-content-between align-items-center">
                            <div class="rating text-primary">
                                <span class="font-weight-600">4.3</span>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <a class="price h6" href="#">
                                Xem chi tiết
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-5 col-sm-6 mt-20">
                <div class="card course-card shadow">
                    <img class="card-img-top" src="../Assets/images/courses/01.jpg" alt="">
                    <div class="card-body p-30">
                        <h5 class="font-weight-700"><a href="#!" class="text-blue">Machine Learning A-Z: hands-On Python In Data Science</a></h5>
                        <p class="mt-2">She exposed painted fifteen are noisier mistake led waiting surprise.</p>
                    </div>
                    <div class="px-30">
                        <div class="card-footer px-0 bg-transparent mb-10 d-flex justify-content-between align-items-center">
                            <div class="rating text-primary">
                                <span class="font-weight-600">4.3</span>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <a class="price h6" href="#">
                                Xem chi tiết
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-6 mt-20">
                <div class="card course-card shadow">
                    <img class="card-img-top" src="../Assets/images/courses/01.jpg" alt="">
                    <div class="card-body p-30">
                        <h5 class="font-weight-700"><a href="#!" class="text-blue">Machine Learning A-Z: hands-On Python In Data Science</a></h5>
                        <p class="mt-2">She exposed painted fifteen are noisier mistake led waiting surprise.</p>
                    </div>
                    <div class="px-30">
                        <div class="card-footer px-0 bg-transparent mb-10 d-flex justify-content-between align-items-center">
                            <div class="rating text-primary">
                                <span class="font-weight-600">4.3</span>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <a class="price h6" href="#">
                                Xem chi tiết
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-6 mt-20">
                <div class="card course-card shadow">
                    <img class="card-img-top" src="../Assets/images/courses/01.jpg" alt="">
                    <div class="card-body p-30">
                        <h5 class="font-weight-700"><a href="#!" class="text-blue">Machine Learning A-Z: hands-On Python In Data Science</a></h5>
                        <p class="mt-2">She exposed painted fifteen are noisier mistake led waiting surprise.</p>
                    </div>
                    <div class="px-30">
                        <div class="card-footer px-0 bg-transparent mb-10 d-flex justify-content-between align-items-center">
                            <div class="rating text-primary">
                                <span class="font-weight-600">4.3</span>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <a class="price h6" href="#">
                                Xem chi tiết
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of courses section -->

<!-- start of students says -->
<section class="pb-75">
    <div class="container">
        <div class="gtco-testimonials">
            <div class="div-section-title text-center">
                <h2 class="section-title">Phụ huynh nghĩ về Eplus</h2>
                <p>Cảm ơn các quý phụ huynh đã luôn quan tâm, tin tưởng <br /> và gửi gắm con em mình được đào tạo dưới môi trường giao dục của Eplus</p>
            </div>
            <div class="owl-carousel owl-carousel-testi owl-theme">
                <div>
                    <div class="card text-center">
                        <img class="card-img-top" src="https://images.unsplash.com/photo-1572561300743-2dd367ed0c9a?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=300&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=50&w=300" alt="">
                        <div class="card-body">
                            <h5>
                                Ronne Galle <br />
                                <span> Project Manager </span>
                            </h5>
                            <p class="card-text">
                                “ Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
                                impedit quo minus id quod maxime placeat ”
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card text-center">
                        <img class="card-img-top" src="https://images.unsplash.com/photo-1588361035994-295e21daa761?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=301&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=50&w=301" alt="">
                        <div class="card-body">
                            <h5>
                                Missy Limana<br />
                                <span> Engineer </span>
                            </h5>
                            <p class="card-text">
                                “ Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
                                impedit quo minus id quod maxime placeat ”
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card text-center">
                        <img class="card-img-top" src="https://images.unsplash.com/photo-1575377222312-dd1a63a51638?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=302&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=50&w=302" alt="">
                        <div class="card-body">
                            <h5>
                                Martha Brown<br />
                                <span> Project Manager </span>
                            </h5>
                            <p class="card-text">
                                “ Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
                                impedit quo minus id quod maxime placeat ”
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card text-center">
                        <img class="card-img-top" src="https://images.unsplash.com/photo-1549836938-d278c5d46d20?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=303&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=50&w=303" alt="">
                        <div class="card-body">
                            <h5>
                                Hanna Lisem<br />
                                <span> Project Manager </span>
                            </h5>
                            <p class="card-text">
                                “ Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
                                impedit quo minus id quod maxime placeat ”
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end of students says -->

<section class="">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-title">Các hoạt động tại EPlus</h2>
            </div>
        </div>
        <div class="mb-10">
            <div class="sub-header ">
                <div class="swipe-tabs-2">
                    <div class="swipe-tab-2">
                        Các hoạt động <br /> Ngoại khóa
                    </div>
                    <div class="swipe-tab-2">
                        Lịch học <br /> Tại trung tâm
                    </div>
                    <div class="swipe-tab-2">
                        Không gian <br /> Tại EPlus
                    </div>
                    <div class="swipe-tab-2">
                        Demo khóa học <br /> Tại Eplus
                    </div>
                </div>
            </div>
            <div class="main-container">
                <div class="swipe-tabs-container-2">
                    <div class="swipe-tab-content-2">
                        <section class="banner-section">
                            <div class="container">
                                <div class="vehicle-detail-banner banner-content clearfix">
                                    <div class="banner-slider">
                                        <div class="slider slider-for">
                                            <div class="slider-banner-image">
                                                <img src="https://images.unsplash.com/photo-1570942872213-1242607a35eb?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Car-Image">
                                            </div>
                                            <div class="slider-banner-image">
                                                <img src="https://images.unsplash.com/photo-1570171278960-d6c2b316f3b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="Car-Image">
                                            </div>
                                            <div class="slider-banner-image">
                                                <img src="https://images.unsplash.com/photo-1564376130023-5360fbb7c91b?ixlib=rb-1.2.1&auto=format&fit=crop&w=724&q=80" alt="Car-Image">
                                            </div>
                                            <div class="slider-banner-image">
                                                <img src="https://images.unsplash.com/photo-1570942872213-1242607a35eb?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Car-Image">
                                            </div>
                                            <div class="slider-banner-image">
                                                <img src="https://images.unsplash.com/photo-1570171278960-d6c2b316f3b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="Car-Image">
                                            </div>
                                            <div class="slider-banner-image">
                                                <img src="https://images.unsplash.com/photo-1564376130023-5360fbb7c91b?ixlib=rb-1.2.1&auto=format&fit=crop&w=724&q=80" alt="Car-Image">
                                            </div>
                                            <div class="slider-banner-image">
                                                <img src="https://images.unsplash.com/photo-1570942872213-1242607a35eb?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Car-Image">
                                            </div>
                                            <div class="slider-banner-image">
                                                <img src="https://images.unsplash.com/photo-1570171278960-d6c2b316f3b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="Car-Image">
                                            </div>
                                            <div class="slider-banner-image">
                                                <img src="https://images.unsplash.com/photo-1564376130023-5360fbb7c91b?ixlib=rb-1.2.1&auto=format&fit=crop&w=724&q=80" alt="Car-Image">
                                            </div>
                                        </div>
                                        <div class="slider slider-nav thumb-image">
                                            <div class="thumbnail-image">
                                                <div class="thumbImg">
                                                    <img src="https://images.unsplash.com/photo-1570942872213-1242607a35eb?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="slider-img">
                                                </div>
                                            </div>
                                            <div class="thumbnail-image">
                                                <div class="thumbImg">
                                                    <img src="https://images.unsplash.com/photo-1570171278960-d6c2b316f3b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="slider-img">
                                                </div>
                                            </div>
                                            <div class="thumbnail-image">
                                                <div class="thumbImg">
                                                    <img src="https://images.unsplash.com/photo-1564376130023-5360fbb7c91b?ixlib=rb-1.2.1&auto=format&fit=crop&w=724&q=80" alt="slider-img">
                                                </div>
                                            </div>
                                            <div class="thumbnail-image">
                                                <div class="thumbImg">
                                                    <img src="https://images.unsplash.com/photo-1570942872213-1242607a35eb?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="slider-img">
                                                </div>
                                            </div>
                                            <div class="thumbnail-image">
                                                <div class="thumbImg">
                                                    <img src="https://images.unsplash.com/photo-1570171278960-d6c2b316f3b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="slider-img">
                                                </div>
                                            </div>
                                            <div class="thumbnail-image">
                                                <div class="thumbImg">
                                                    <img src="https://images.unsplash.com/photo-1564376130023-5360fbb7c91b?ixlib=rb-1.2.1&auto=format&fit=crop&w=724&q=80" alt="slider-img">
                                                </div>
                                            </div>
                                            <div class="thumbnail-image">
                                                <div class="thumbImg">
                                                    <img src="https://images.unsplash.com/photo-1570942872213-1242607a35eb?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="slider-img">
                                                </div>
                                            </div>
                                            <div class="thumbnail-image">
                                                <div class="thumbImg">
                                                    <img src="https://images.unsplash.com/photo-1570171278960-d6c2b316f3b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="slider-img">
                                                </div>
                                            </div>
                                            <div class="thumbnail-image">
                                                <div class="thumbImg">
                                                    <img src="https://images.unsplash.com/photo-1564376130023-5360fbb7c91b?ixlib=rb-1.2.1&auto=format&fit=crop&w=724&q=80" alt="slider-img">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="swipe-tab-content-2">Tab 2</div>
                    <div class="swipe-tab-content-2">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">
                                <p>
                                    Chương trình giáo dục kỹ năng &amp; ứng dụng 7 tính cách thành công, được EPlus xây dựng và đào tạo giúp trẻ hướng tới thay đổi tư duy toàn diện từ bên trong, hình thành thói quen tốt, phát huy tiềm năng và xây dựng tinh thần lãnh đạo bản thân.
                                </p>
                                <div class="mt-20 mb-20 text-center">
                                    <a href="#!" class="btn btn-lg btn-secondary">Xem Chi Tiết</a>
                                    <a href="#!" class="btn btn-lg btn-primary">Liên hệ</a>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-12">
                                <div class="item-only-img">
                                    <img src="http://www.apaxleaders.edu.vn/static/uploads/differentiation/1538913831_dsc02716-2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swipe-tab-content-2">Tab 4</div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- start of blogs -->
<section class="section-padding pt-0 blog-half-bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center pt-50">
                <h2 class="section-title mb-20">Tin tức và Sự kiện</h2>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card blog-card shadow border-0 mt-40 hover-grayscale">
                    <a href="#!"><img class="card-img-top" src="../Assets/images/blogs/01.jpg" alt=""></a>
                    <div class="card-body border-top p-30">
                        <div class="post-meta font-weight-500 small mb-20">
                            <span class="mr-4"><i class="far fa-calendar-alt text-primary mr-2"></i> 25/02/2020</span>
                            <span><i class="fas fa-user text-primary mr-2"></i> Dispatched</span>
                        </div>
                        <h5 class="font-weight-600"><a href="#!" class="text-blue">Dispatched Entreaties Boister ous Say Why Stimulated</a></h5>
                        <p class="mt-3">She exposed painted fifteen are noisier mistake led waiting surprise.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card blog-card shadow border-0 mt-40 hover-grayscale">
                    <a href="#!"><img class="card-img-top" src="../Assets/images/blogs/02.jpg" alt=""></a>
                    <div class="card-body border-top p-30">
                        <div class="post-meta font-weight-500 small mb-20">
                            <span class="mr-4"><i class="far fa-calendar-alt text-primary mr-2"></i> 25/02/2020</span>
                            <span><i class="fas fa-user text-primary mr-2"></i> Dispatched</span>
                        </div>
                        <h5 class="font-weight-600"><a href="#!" class="text-blue">Dispatched Entreaties Boister ous Say Why Stimulated</a></h5>
                        <p class="mt-3">She exposed painted fifteen are noisier mistake led waiting surprise.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card blog-card shadow border-0 mt-40 hover-grayscale">
                    <a href="#!"><img class="card-img-top" src="../Assets/images/blogs/03.jpg" alt=""></a>
                    <div class="card-body border-top p-30">
                        <div class="post-meta font-weight-500 small mb-20">
                            <span class="mr-4"><i class="far fa-calendar-alt text-primary mr-2"></i> 25/02/2020</span>
                            <span><i class="fas fa-user text-primary mr-2"></i> Dispatched</span>
                        </div>
                        <h5 class="font-weight-600"><a href="#!" class="text-blue">Dispatched Entreaties Boister ous Say Why Stimulated</a></h5>
                        <p class="mt-3">She exposed painted fifteen are noisier mistake led waiting surprise.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of blogs -->