@model IEnumerable<ProductVariationModel>
@using ElysienVietNam.Models;
@using Data;
@using Data.Providers;

@{
    string urlCMS = System.Configuration.ConfigurationManager.AppSettings["urlCMS"];
}


<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-12">
        <div>
            <div class="table-content table-responsive cart-table-content">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Tên sản phẩm</th>
                            <th>Giá sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Thành tiền</th>
                            <th>Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="product-thumbnail">
                                <a href="#"><img src="assets/images/product-image/mini-cart/1.jpg" alt="" /></a>
                            </td>
                            <td class="product-name"><a href="#">Product Name</a></td>
                            <td class="product-price-cart"><span class="amount">$60.00</span></td>
                            <td class="product-quantity">
                                <div class="cart-plus-minus">
                                    <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1" />
                                </div>
                            </td>
                            <td class="product-subtotal">$70.00</td>
                            <td class="product-remove">
                                <a href="#"><i class="fa fa-pencil-alt"></i></a>
                                <a href="#"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
        <div class="grand-totall">
            <h4 class="grand-totall-title">Tổng tiền <span>$260.00</span></h4>
            <a href="#">Thanh toán</a>
        </div>
    </div>
</div>