@model IEnumerable<Data.customer>
@using Data;
@using Data.Providers;

@{
    ViewBag.Title = "Danh sách khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- begin row -->
<div class="row">
    <div class="col-md-12 m-b-30">
        <!-- begin page title -->
        <div class="d-block d-sm-flex flex-nowrap align-items-center">
            <div class="page-title mb-2 mb-sm-0">
                <h1>Danh sách khách hàng</h1>
            </div>
            <div class="ml-auto d-flex align-items-center">
                <nav>
                    <ol class="breadcrumb p-0 m-b-0">
                        <li class="breadcrumb-item">
                            <a href="/Home/Index"><i class="ti ti-home"></i></a>
                        </li>
                        <li class="breadcrumb-item">
                            Khách hàng
                        </li>
                        <li class="breadcrumb-item active text-primary" aria-current="page">Danh sách khách hàng</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- end page title -->
    </div>
</div>
<!-- end row -->

<div class="gr-btn-action row">
    <div class="btn-group-left col-md-6">
        <a href="@Url.Action("ExportToExcel", "Product")" class="btn btn-square btn-inverse-light button-custom" style="background-color: none; padding-left: 0px;">Export &nbsp;<i class="nav-icon ti ti-download"></i></a>
        <a class="btn btn-square btn-inverse-light button-custom" style="background-color: none; padding-left: 0px;" data-toggle="modal" data-target="#modalImportExcel">Import &nbsp;<i class="nav-icon ti ti-upload"></i></a>
    </div>
    <div class="btn-group-right col-md-6" style="text-align: right">
        <a class="btn btn-square btn-primary" href="@Url.Action("InsertCustomer", "Customer")">Thêm khách hàng &nbsp;<i class="nav-icon ion ion-md-arrow-round-forward"></i></a>
    </div>

    <div class="modal fade hide in" data-keyboard="false" data-backdrop="static" id="modalImportExcel" tabindex="-1" role="dialog" aria-labelledby="defaultModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nhập danh sách sản phẩm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <input type="file" id="importExcel" name="importExcel" style="display: none" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                        <label for="importExcel" class="btn btn-primary">Chọn tệp .xlsx</label>
                        <a id="fileName">Không có tệp nào được chọn.</a>
                    </div>
                    <div style="padding-top: 10px;">
                        Tải file mẫu nhập danh sách sản phẩm <a href="~/Assets/file/form-import-product.xlsx" download class="text-info font-weight-bold">tại đây</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-success">Nhập danh sách sản phẩm</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="tab nav-border-bottom" style="width:100%; padding: 10px 15px;" id="tab_list_customer">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link show active" id="tab_all_customer" data-toggle="tab" href="#all_customer" role="tab" aria-controls="all_customer" aria-selected="true">
                    <i class="fa fa-list-ul"></i> Tất cả khách hàng
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link show" id="tab_marketing_customer" data-toggle="tab" href="#marketing_customer" role="tab" aria-controls="marketing_customer" aria-selected="false">
                    <i class="fa fa-envelope"></i> Nhận email quảng cáo
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link show" id="tab_close_customer" data-toggle="tab" href="#close_customer" role="tab" aria-controls="close_customer" aria-selected="false">
                    <i class="fa fa-shopping-bag"></i> Khách hàng thân thiết
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link show" id="tab_potential_customer" data-toggle="tab" href="#potential_customer" role="tab" aria-controls="potential_customer" aria-selected="false">
                    <i class="fa fa-shopping-basket"></i> Khách hàng tiềm năng
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link show" id="tab_customer_has_caneled_order" data-toggle="tab" href="#customer_has_caneled_order" role="tab" aria-controls="customer_has_caneled_order" aria-selected="false">
                    <i class="fa fa-times-rectangle-o"></i> Có đơn hàng đã hủy
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link show" id="tab_customer_in_black_list" data-toggle="tab" href="#customer_has_caneled_order" role="tab" aria-controls="customer_has_caneled_order" aria-selected="false">
                    <i class="fa fa-user-times"></i> Thuộc danh sách đen
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="div_list_in_tab">
                <div class="row">
                    <div class="col-md-9">
                        <div class="input-group mb-3">
                            <form id="form_filter">
                                <div class="btn-group">
                                    <select class="custom-select" id="select_filter">
                                        <option value="all" selected="">Lọc khách hàng theo</option>
                                        <option value="money_purchased">Số tiền đã mua</option>
                                        <option value="customer_number_of_order">Đơn hàng</option>
                                        <option value="time_to_order">Thời điểm đặt hàng</option>
                                        <option value="customer_tag">Thẻ tag</option>
                                        <option value="customer_address">Địa chỉ/Khu vực</option>
                                        <option value="customer_month_of_birth">Sinh nhật</option>
                                    </select>

                                    <select class="custom-select" id="select_condition_filter" style="display: none">
                                        <option selected="" value="-1" disabled>Chọn điều kiện lọc...</option>
                                    </select>

                                    <input type="text" class="form-control input_no_border_radius" value="0" id="value_select_condition" name="value_select_condition" style="display: none">
                                </div>
                            </form>

                            <input type="text" class="form-control" id="search_input" name="search_input" value="@ViewBag.FilterValue" placeholder="Tìm kiếm khách hàng theo tên..." aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" id="btn_search" onclick="searchCustomer()">
                                    <i class="nav-icon ti ti-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" style="text-align:right">
                        <form id="set_condition_show">
                            <div class="btn-group">
                                <select class="custom-select" id="sort_list_return_select">
                                    <option selected="" value="name_az" disabled>Sắp xếp thứ tự theo</option>
                                    <option value="name_az">Tên khách hàng: A -> Z</option>
                                    <option value="name_za">Tên khách hàng: Z -> A</option>
                                    <option disabled>------------------------------------------</option>
                                    <option value="count_order_asc">Lượng đơn hàng: Tăng</option>
                                    <option value="count_order_dec">Lượng đơn hàng: Giảm</option>
                                    <option disabled>------------------------------------------</option>
                                    <option value="count_order_asc">Tổng tiền mua: Tăng</option>
                                    <option value="count_order_dec">Tổng tiền mua: Giảm</option>
                                </select>
                            </div>
                            <div class="btn-group">
                                <select class="custom-select" id="size_of_page_select">
                                    <option selected="" value="10" disabled>Hiển thị</option>
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="data_table">
                @{Html.RenderAction("GetCustomer", "Customer", new { page_num = ViewBag.page_num, search_string = ViewBag.FilterValue, quick_filter_select = ViewBag.QuickFilterSelect, quick_filter_condition = ViewBag.QuickFilterCondition, quick_filter_value = 0, quick_filer_tab = ViewBag.QuickFilterTab, size_of_page = ViewBag.SizeOfPage, sort_list_return = ViewBag.SortListReturn });}
            </div>
        </div>
    </div>
</div>


@*Tab filter*@


<script>
    $(document).ready(function () {
        $('#customer').addClass('active');
        $('#list_customer').addClass('active');

        $('form').trigger('reset');
        $("#value_select_condition").val(0);

        tabFilter();
    });

    function tabFilter() {
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var target = $(e.target).attr("id");
            var search_string = $('#search_input').val().trim();
            var quick_filter_select = $("#select_filter option:selected").val();
            var quick_filter_condition = $("#select_condition_filter option:selected").val();
            var quick_filter_value = $("#value_select_condition").val();
            var size_of_page = $("#size_of_page_select option:selected").val();
            var sort_list_return = $("#sort_list_return_select option:selected").val();
            var quick_filer_tab = target;
            if (quick_filter_value == null) {
                quick_filter_value = 0;
            }
            $.ajax({
                url: "/Customer/Index",
                data: {
                    search_string: search_string,
                    page_num: 1,
                    quick_filter_select: quick_filter_select,
                    quick_filter_condition: quick_filter_condition,
                    quick_filter_value: 0,
                    size_of_page: size_of_page,
                    quick_filer_tab: quick_filer_tab,
                    sort_list_return: sort_list_return,
                },
                context: document.body,
                type: "GET",
                dataType: "html",
                success: function (data) {
                    $("#data_table").html($(data).find("#data_table"));
                },
                error: function (xhr, status) {
                },
                complete: function (xhr, status) {
                }
            });
        });
    }

    $('#select_filter').on('change', function () {
        var select_filter = this.value;
        var search_string = $('#search_input').val().trim();
        if (select_filter != "all") {
            $('#select_condition_filter').css('display', 'block');
            switch (select_filter) {
                case "money_purchased":
                    $('#select_condition_filter').empty();
                    $('#value_select_condition').css({ display: 'block' });
                    $('#value_select_condition').attr('placeholder','₫');
                    $("#value_select_condition").autoNumeric('init', { aSign: ' ₫', pSign: 's', mDec: '0', aSep: '.', aDec: ',' });

                    $("#select_condition_filter").append('<option value="' + "money_purchased_>" + '">' + "Lớn hơn" + '</option>');
                    $("#select_condition_filter").append('<option value="' + "money_purchased_<" + '">' + "Nhỏ hơn" + '</option>');
                    $("#select_condition_filter").append('<option value="' + "money_purchased_=" + '">' + "Bằng" + '</option>');
                    $("#select_condition_filter").append('<option value="' + "money_purchased_#" + '">' + "Khác" + '</option>');
                    break;
                case "number_of_order":
                    $('#select_condition_filter').empty();
                    $('#value_select_condition').css({ display: 'block' });
                    $('#value_select_condition').attr('placeholder', 'Nhập số lượng');
                    $("#value_select_condition").autoNumeric('init', { aSign: ' ', pSign: 's', mDec: '0', aSep: '.', aDec: ',' });

                    $("#select_condition_filter").append('<option value="' + "number_of_order_>" + '">' + "Có số lượng lớn hơn" + '</option>');
                    $("#select_condition_filter").append('<option value="' + "number_of_order_<" + '">' + "Có số lượng nhỏ hơn" + '</option>');
                    $("#select_condition_filter").append('<option value="' + "number_of_order_=" + '">' + "Có số lượng bằng" + '</option>');
                    $("#select_condition_filter").append('<option value="' + "number_of_order_#" + '">' + "Có số lượng khác" + '</option>');
                    break;
                case "time_to_order":
                    $('#select_condition_filter').empty();
                    $('#value_select_condition').css({ display: 'none' });

                    $("#select_condition_filter").append('<option value="' + "time_to_order_this_week" + '">' + "Trong tuần này" + '</option>');
                    $("#select_condition_filter").append('<option value="' + "time_to_order_this_month" + '">' + "Trong tháng này" + '</option>');
                    $("#select_condition_filter").append('<option value="' + "time_to_order_today" + '">' + "Trong ngày hôm nay" + '</option>');
                    $("#select_condition_filter").append('<option value="' + "time_to_order_yesterday" + '">' + "Trong ngày hôm qua" + '</option>');
                    $("#select_condition_filter").append('<option value="' + "time_to_order_before_day" + '">' + "Trước ngày" + '</option>');
                    $("#select_condition_filter").append('<option value="' + "time_to_order_after_day" + '">' + "Sau ngày" + '</option>');
                    break;
                case "customer_tag":
                    $('#select_condition_filter').empty();
                    $('#value_select_condition').css({ display: 'block' });
                    $('#value_select_condition').attr('placeholder', 'Nhập từ khóa tag');
                    $("#value_select_condition").autoNumeric('destroy');

                    $("#select_condition_filter").append('<option value="' + "tag_string_contain>" + '">' + "Chứa từ" + '</option>');
                    break;
                case "customer_address":
                    $('#select_condition_filter').empty();
                    $('#value_select_condition').css({ display: 'none' });

                    $.ajax({
                        type: "GET",
                        data: {  },
                        url: '@Url.Action("GetAllProvince", "GetLocal")',
                        success: function (data) {
                            $("#select_condition_filter").append('<option value="-1" disabled selected>-- Chọn Tỉnh/Thành phố --</option>');
                            $.each(data, function (key, value) {
                                $("#select_condition_filter").append('<option value="' + value.province_name + '"> ' + value.province_name + '</option>');
                            });
                        },
                        error: function (xhr) {
                            toastExportError();
                        }
                    });
                    break;
                case "customer_month_of_birth":
                    $('#value_select_condition').css({ display: 'none' });
                    var arr_month = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12];
                    $('#select_condition_filter').empty();
                    $("#select_condition_filter").append('<option value="all">-- Chọn tháng --</option>');
                    $.each(arr_month, function (key, value) {
                        $("#select_condition_filter").append('<option value="' + value + '"> ' + "Tháng " + value + '</option>');
                    });
                    break;
                default:
                    console.log('Not Find Result');
            }
        }
        else {
            $('#select_condition_filter').css({ display: 'none' });
            $('#value_select_condition').css({ display: 'none' });
            searchCustomerCommon();
        }
    });

    $('#size_of_page_select').on('change', function () {
        searchCustomerCommon();
    });

    $('#sort_list_return_select').on('change', function () {
        searchCustomerCommon();
    });

    $('#select_condition_filter').on('change', function () {
        searchCustomerCommon();
    });

    $('#search_input').keypress(function (e) {
        if (e.which == 13) {
            searchCustomerCommon();
        }
    });

    function searchCustomer() {
        searchCustomerCommon();
    }

    function searchCustomerCommon() {
        var search_string = $('#search_input').val().trim();
        var target = $('ul > li > a.active').attr("id");
        var quick_filter_select = $("#select_filter option:selected").val();
        var quick_filter_condition = $("#select_condition_filter option:selected").val();
        var quick_filter_value = $("#value_select_condition").val();
        var size_of_page = $("#size_of_page_select option:selected").val();
        var sort_list_return = $("#sort_list_return_select option:selected").val();
        var quick_filer_tab = target;
        if (quick_filter_value == null) {
            quick_filter_value = 0;
        }

        $.ajax({
            url: "/Customer/Index",
            data: {
                search_string: search_string,
                page_num: 1,
                quick_filter_select: quick_filter_select,
                quick_filter_condition: quick_filter_condition,
                quick_filter_value: 0,
                size_of_page: size_of_page,
                quick_filer_tab: quick_filer_tab,
                sort_list_return: sort_list_return,
            },
            context: document.body,
            type: "GET",
            dataType: "html",
            success: function (data) {
                $("#data_table").html($(data).find("#data_table"));
            },
            error: function (xhr, status) {
            },
            complete: function (xhr, status) {
            }
        });
    }
</script>