@{
    ViewBag.Title = "Không tìm thấy trang - 404 Page not found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-inner" style="min-height: 650px;">
    <img src="~/Assets/images/banner/404.svg" alt="404" />
    <div class="text-center">
        Trang Không Tìm Thấy
    </div>
    <div class="mt-20 mb-20 text-center">
        <a href="/blogs" class="btn btn-lg btn-primary">Xem Thêm Bài Viết</a>
    </div>
</section>