@{
    ViewBag.Title = "Không tìm thấy trang - 404 Page not found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-inner p-lg-5" style="min-height: 650px; text-align:center; background-image: url('~/Assets/images/banner/bg-404.jpg')">
    <img src="~/Assets/images/banner/404.svg" alt="404" style="width: 30%; margin-top: 125px;" />
    <h3>
        Không Tìm Thấy Trang Yêu Cầu
    </h3>
    <div class="mt-20 mb-20">
        <a href="/" class="btn btn-lg btn-primary">Quay về trang chủ</a>
    </div>
</section>