@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Đăng nhập hệ thống</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="..." />
    <meta name="author" content="HaiDN" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- app favicon -->
    <link rel="shortcut icon" href="../Assets/img/favicon.ico">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <!-- plugin stylesheets -->
    <link rel="stylesheet" type="text/css" href="../Assets/css/vendors.css" />
    <!-- app style -->
    <link rel="stylesheet" type="text/css" href="../Assets/css/style.css" />
    <link href="~/Assets/css/custom.css" rel="stylesheet" />
</head>
<body class="bg-white">
    <!-- begin app -->
    <div class="app">
        <!-- begin app-wrap -->
        <div class="app-wrap">
            <!-- begin pre-loader -->
            <div class="loader">
                <div class="h-100 d-flex justify-content-center">
                    <div class="align-self-center">
                        <img src="../Assets/img/loader/loader.svg" alt="loader">
                    </div>
                </div>
            </div>
            <!-- end pre-loader -->
            <!--start login contant-->
            <div class="app-contant">
                <div class="bg-white">
                    <div class="container-fluid p-0">
                        <div class="row no-gutters">
                            <div class="col-sm-6 col-lg-5 col-xxl-3  align-self-center order-2 order-sm-1">
                                <div class="d-flex align-items-center h-100-vh">
                                    <div class="login p-50">
                                        @*<h3 class="mb-2">FreshMart Dashboard</h3>
                                            <p>Vui lòng đăng nhập để vào trang quản trị</p>*@
                                        <div class="brand">
                                            <img src="~/Assets/img/logo-light.png" />
                                        </div>
                                        <form action="/User/Login" method="post" class="mt-3 mt-sm-5">
                                            <div class="row">

                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Tên đăng nhập (*)</label>
                                                        <input type="text" name="username" class="form-control" placeholder="Username" required />
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Mật khẩu (*)</label>
                                                        <input type="password" name="password" class="form-control" placeholder="Password" required />
                                                    </div>
                                                </div>
                                                <input name="returnUrl" id="returnUrl" type="hidden" />
                                                <div class="col-12">
                                                    <div class="d-block d-sm-flex  align-items-center">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="isRememberMe" name="isRememberMe" value="true" checked>
                                                            <label class="form-check-label" for="isRememberMe">
                                                                Ghi nhớ đăng nhập
                                                            </label>
                                                        </div>
                                                        <a href="javascript:void(0);" class="ml-auto">Quên mật khẩu?</a>
                                                    </div>
                                                </div>
                                                <div class="col-12 mt-3">
                                                    <button type="submit" class="btn btn-primary text-uppercase">Đăng nhập</button>
                                                </div>

                                                <div class="col-12 textMessage">
                                                    <a class="text-danger">@TempData["LoginMessages"]</a>
                                                </div>
                                                @*<div class="col-12  mt-3">
                                                        <p>Don't have an account ?<a href="auth-register.html"> Sign Up</a></p>
                                                    </div>*@
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xxl-9 col-lg-7 bg-gradient o-hidden order-1 order-sm-2">
                                <div class="row align-items-center h-100">
                                    <div class="col-7 mx-auto ">
                                        <img class="img-fluid" src="../Assets/img/bg/login.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end login contant-->
        </div>
        <!-- end app-wrap -->
    </div>
    <!-- end app -->
    <!-- plugins -->
    <script src="../Assets/js/vendors.js"></script>
    <!-- custom app -->
    <script src="../Assets/js/app.js"></script>

    <script>
        function getUrl(k) {
            var p = {};
            location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (s, k, v) { p[k] = v })
            return k ? p[k] : p;
        }
        $("#returnUrl").val(getUrl('ReturnUrl'));
        console.log(getUrl('ReturnUrl'));
    </script>
</body>

</html>