.main-menu ul li > a {
    font-size: 18px;
}

.main-menu ul li .mega-menu a {
    font-size: 18px;
}

    .main-menu ul li .mega-menu .mega-title a, .main-menu ul li .mega-menu a.mega-title {
        font-size: 18px;
        font-weight: 700;
    }

.main-menu ul li .mega-menu a {
    font-size: 16px;
}

.main-menu ul li {
    margin: 0 10px;
}

a, p{
    letter-spacing: 0.1em;
    line-height: 1.5;
}

h5 {
    font-size: 18px;
}

.product-price span {
    font-weight: 500;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
}

.main-menu ul li .mega-menu.mega-dropdown-menu, .main-menu ul li .mega-menu .mega-sub-menu {
    min-width: 390px;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: #ed1c24;
}
