.main-menu ul li > a {
    font-size: 18px;
}

.main-menu ul li .mega-menu a {
    font-size: 18px;
}

    .main-menu ul li .mega-menu .mega-title a, .main-menu ul li .mega-menu a.mega-title {
        font-size: 18px;
        font-weight: 700;
    }

.main-menu ul li .mega-menu a {
    font-size: 16px;
}

.main-menu ul li {
    margin: 0 10px;
}

a, p{
    letter-spacing: 0.1em;
}

.main-menu ul li .mega-menu.mega-dropdown-menu, .main-menu ul li .mega-menu .mega-sub-menu {
    min-width: 100%;
}