
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <title>EduSkills - Tutor Online Courses & LMS Multipurpose HTML template</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- ** Plugins Needed for the Project ** -->
    <link rel="stylesheet" href="../Assets/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../Assets/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../Assets/vendors/jquery-nice-select/nice-select.css">
    <link rel="stylesheet" href="../Assets/vendors/OwlCarousel2/owl.carousel.min.css">
    <link rel="stylesheet" href="../Assets/vendors/magnific-popup/css/magnific-popup.css">

    <!-- Main Stylesheet -->
    <link href="../Assets/css/style.css" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" href="../Assets/images/favicon.png" type="image/png">

</head>

<body id="top">
    <!-- start of preloader -->
    <div class="preloader"></div>
    <!-- end of preloader -->
    

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="py-5 px-3 px-sm-5 bg-light">
                        <div class="row align-items-center">
                            <div class="col-lg-5">
                                <div class="p-0 pr-lg-4">
                                    <h2 class="section-title mb-20">Newsletter</h2>
                                    <p>My he houses or months settle remove ladies appear. Engrossed suffering he recommend.</p>
                                </div>
                            </div>
                            <div class="col-lg-7 mt-4 mt-lg-0">
                                <div class="input-group newsletter-input-group d-block d-sm-flex">
                                    <input type="email" class="form-control px-4" placeholder="youmail@email.com" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-blue">Subscribe Us</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="py-3">
                <div class="row align-items-center">
                    <div class="col-lg-9 text-center text-lg-left mb-4 mb-lg-0">
                        <ul class="list-unstyled list-inline font-weight-500">
                            <li class="list-inline-item"><a href="#!" class="p-2 d-block text-link">HomeTutor</a></li>
                            <li class="list-inline-item"><a href="#!" class="p-2 d-block text-link">Online Class</a></li>
                            <li class="list-inline-item"><a href="#!" class="p-2 d-block text-link">About</a></li>
                            <li class="list-inline-item"><a href="#!" class="p-2 d-block text-link">Courses</a></li>
                            <li class="list-inline-item"><a href="#!" class="p-2 d-block text-link">Blog</a></li>
                            <li class="list-inline-item"><a href="#!" class="p-2 d-block text-link">Contact us</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 text-center text-lg-right">
                        <ul class="social-icons list-unstyled mr-2">
                            <li><a href="#!" class="text-link"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#!" class="text-link"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#!" class="text-link"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#!" class="text-link pr-0"><i class="fab fa-skype"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom py-3 border-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-9 text-center text-lg-left mb-3 mb-lg-0">
                        &copy; Copyright All Review <span class="text-primary">Edu</span>Skills
                    </div>
                    <div class="col-lg-3 text-center text-lg-right">
                        <ul class="list-unstyled list-inline font-weight-500">
                            <li class="list-inline-item"><a href="#!" class="p-2 d-block text-link">Privacy</a></li>
                            <li class="list-inline-item"><a href="#!" class="p-2 d-block text-link">Contact us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <a href="#top" class="scroll-to-top">
        <span class="fas fa-chevron-up"></span>
    </a>

    <!-- jQuery -->
    <script src="../Assets/vendors/jQuery/jquery.min.js"></script>
    <script src="../Assets/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="../Assets/vendors/jquery-nice-select/jquery.nice-select.min.js"></script>
    <script src="../Assets/vendors/OwlCarousel2/owl.carousel.min.js"></script>
    <script src="../Assets/vendors/counterup/waypoints.min.js"></script>
    <script src="../Assets/vendors/counterup/jquery.counterup.min.js"></script>
    <script src="../Assets/vendors/magnific-popup/js/magnific-popup.min.js"></script>

    <!-- Main Script -->
    <script src="../Assets/js/script.js"></script>

</body>
</html>