
@{
    ViewBag.Title = "HM Media - Dịch vụ tổ chức sự kiện, quay video, TVC,...";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner Area Three -->
<div class="banner-slider-area">
    <div class="container container-slider">
        <div class="banner-contant">
            <div class="banner-slider owl-carousel owl-theme owl-loaded owl-drag">
                <div class="owl-stage-outer">
                    <div class="owl-stage" style="transform: translate3d(-2320px, 0px, 0px); transition: all 0.25s ease 0s; width: 8120px;">
                        <div class="owl-item cloned" style="width: 1140px; margin-right: 20px;">
                            <div class="slider-item">
                                <img src="../Assets/img/banner/banner-2.jpg" class="br-30" alt="Image">
                            </div>
                        </div>
                    </div>
                </div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="las la-angle-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="las la-angle-right"></i></button></div><div class="owl-dots disabled"></div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner Area Three -->
<!-- About Area -->
<div class="about-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-text">
                    <span>HM Media</span>
                    <h2>Đơn vị cung cấp dịch vụ tổ chức event, booking truyền hình hàng đầu tại Việt Nam </h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>

                    <ul>
                        <li>Since 2010 we start and reach in top 10 with love, trust and reliability</li>
                        <li>Trusted by all over the world with 2500+ Successful project done</li>
                        <li>1500 happy clients and 100+ award winner</li>
                        <li>Expert team that gain our value and provide you the best service on SEO and Digital Marketing</li>
                    </ul>

                    <div class="about-btn">
                        <a href="#" class="default-btn">Get Started</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-img">
                    <img src="../Assets/img/about/about-img.jpg" alt="Image">
                    <div class="about-card">
                        <i class="las la-gem"></i>
                        <h3>10 <span>Năm</span></h3>
                        <p>Kinh nghiệm</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About Area -->
<!-- Choose Area -->
<div class="choose-area choose-three ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="choose-images">
                    <img src="../Assets/img/choose/choose-3.jpg" class="img-1" alt="Image">
                    <div class="video-box">
                        <a href="https://www.youtube.com/watch?v=0gv7OC9L2s8" class="video-btn popup-youtube">
                            <i class="las la-play"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="choose-text">
                    <span>Why Choose Us</span>
                    <h2>We Are Supporting All Kind Of Online Services With Our Expert</h2>
                    <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue and equal blame belongs to those.</p>

                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <ul>
                                <li>
                                    <i class="las la-sync-alt"></i>
                                    AdvancedAnalysis
                                </li>
                                <li>
                                    <i class="las la-search-plus"></i>
                                    Continuous Testing
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <ul>
                                <li>
                                    <i class="las la-file-archive"></i>
                                    Safe And Reliable
                                </li>
                                <li>
                                    <i class="las la-bullseye"></i>
                                    Target Analysis
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="choose-btn">
                        <a href="#" class="default-btn">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Choose Area -->
<!-- Services-Area -->
<div class="services-area-three pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>Our Services</span>
            <h2>Top Services & SEO Management</h2>
            <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="services-card-three">
                    <i class="las la-bullhorn"></i>
                    <h3>Digital Branding</h3>
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="services-card-three">
                    <i class="las la-comment-dots"></i>
                    <h3>Analytics Review</h3>
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="services-card-three">
                    <i class="las la-digital-tachograph"></i>
                    <h3>Content Marketing</h3>
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="services-card-three">
                    <i class="las la-envelope"></i>
                    <h3>Email Marketing</h3>
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="services-card-three">
                    <i class="lab la-digital-ocean"></i>
                    <h3>SEO Service</h3>
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="services-card-three">
                    <i class="las la-video"></i>
                    <h3>Video marketing</h3>
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Services-Area -->
<!-- Testimonilas Slider Area Two -->
<div class="testimonials-two-area testimonials-two">
    <div class="container">
        <div class="testimonials-slider-two owl-carousel owl-theme">
            <div class="slider-two-item">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="slider-img">
                            <img src="../Assets/img/testimonials/client-4.jpg" alt="Image">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="slider-text">
                            <span>Testimonials</span>
                            <h2>What People Say About Us</h2>
                            <div class="rating">
                                <i class="las la-star"></i>
                                <i class="las la-star"></i>
                                <i class="las la-star"></i>
                                <i class="las la-star"></i>
                                <i class="las la-star"></i>
                            </div>
                            <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those.</p>
                            <h3>Xenefar Niklos</h3>
                            <p class="single-p">CEO & founder of Eden.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slider-two-item">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="slider-img">
                            <img src="../Assets/img/testimonials/client-6.jpg" alt="Image">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="slider-text">
                            <span>Testimonials</span>
                            <h2>What People Say About Us</h2>
                            <div class="rating">
                                <i class="las la-star"></i>
                                <i class="las la-star"></i>
                                <i class="las la-star"></i>
                                <i class="las la-star"></i>
                                <i class="las la-star"></i>
                            </div>
                            <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those.</p>
                            <h3>Thomas Carlos</h3>
                            <p class="single-p">Machine Learning</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slider-two-item">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="slider-img">
                            <img src="../Assets/img/testimonials/client-5.jpg" alt="Image">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="slider-text">
                            <span>Testimonials</span>
                            <h2>What People Say About Us</h2>
                            <div class="rating">
                                <i class="las la-star"></i>
                                <i class="las la-star"></i>
                                <i class="las la-star"></i>
                                <i class="las la-star"></i>
                                <i class="las la-star"></i>
                            </div>
                            <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those.</p>
                            <h3>Nikolson Gail</h3>
                            <p class="single-p">CEO of LTD company</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Testimonilas Slider Area Two -->

<!-- Case Study Area -->
<div class="case-study-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>Case Study</span>
            <h2>Some Of Our Experience On Marketing</h2>
            <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized.</p>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="case-study-card">
                    <a href="case-study-details.html">
                        <h3>Digital Branding</h3>
                    </a>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    <a href="case-study-details.html">
                        <img src="../Assets/img/case-study/case-study-1.jpg" alt="Image">
                    </a>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="case-study-card">
                    <a href="case-study-details.html">
                        <h3>Data Analysis</h3>
                    </a>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    <a href="case-study-details.html">
                        <img src="../Assets/img/case-study/case-study-2.jpg" alt="Image">
                    </a>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="case-study-card">
                    <a href="case-study-details.html">
                        <h3>Customer Segmentation</h3>
                    </a>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    <a href="case-study-details.html">
                        <img src="../Assets/img/case-study/case-study-3.jpg" alt="Image">
                    </a>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="case-study-card">
                    <a href="case-study-details.html">
                        <h3>Benefits Research</h3>
                    </a>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    <a href="case-study-details.html">
                        <img src="../Assets/img/case-study/case-study-4.jpg" alt="Image">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Case Study Area -->
<!-- Blog Area -->
<div class="blog-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>Our Blog</span>
            <h2>Latest News And Blog</h2>
            <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="blog-card">
                    <a href="blog-details.html">
                        <img src="../Assets/img/blog/blog-1.jpg" alt="Image">
                    </a>

                    <div class="date">05 Oct 2020</div>

                    <div class="blog-text">
                        <div class="user">
                            <i class="las la-user"></i>
                            <p>Thomas Albany</p>
                        </div>

                        <h3>
                            <a href="blog-details.html">
                                Digital Marketing Making Success
                            </a>
                        </h3>

                        <div class="blog-btn">
                            <a href="#" class="default-btn">Read More</a>
                        </div>
                    </div>
                    <div class="b-shape">
                        <img src="../Assets/img/shapes/shape-20.png" alt="Shape">
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="blog-card">
                    <a href="blog-details.html">
                        <img src="../Assets/img/blog/blog-2.jpg" alt="Image">
                    </a>

                    <div class="date">05 Oct 2020</div>

                    <div class="blog-text">
                        <div class="user">
                            <i class="las la-user"></i>
                            <p>Thomas Albany</p>
                        </div>

                        <h3>
                            <a href="blog-details.html">
                                Digital Marketing Making Success
                            </a>
                        </h3>

                        <div class="blog-btn">
                            <a href="#" class="default-btn">Read More</a>
                        </div>
                    </div>
                    <div class="b-shape">
                        <img src="../Assets/img/shapes/shape-20.png" alt="Shape">
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0">
                <div class="blog-card">
                    <a href="blog-details.html">
                        <img src="../Assets/img/blog/blog-3.jpg" alt="Image">
                    </a>

                    <div class="date">05 Oct 2020</div>

                    <div class="blog-text">
                        <div class="user">
                            <i class="las la-user"></i>
                            <p>Thomas Albany</p>
                        </div>

                        <h3>
                            <a href="blog-details.html">
                                Digital Marketing Making Success
                            </a>
                        </h3>

                        <div class="blog-btn">
                            <a href="#" class="default-btn">Read More</a>
                        </div>
                    </div>
                    <div class="b-shape">
                        <img src="../Assets/img/shapes/shape-20.png" alt="Shape">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Blog Area -->
<!-- Subscribe Area -->
<div class="subscribe-area pb-100">
    <div class="container">
        <div class="section-title">
            <h2>Stay Up To Date With Our Latest News!</h2>
        </div>

        <div class="subscribe-form">
            <form class="newsletter-form" data-toggle="validator">
                <input type="email" class="form-control" placeholder="Enter your email" name="EMAIL" required="" autocomplete="off">
                <button type="submit" class="default-btn-two">Subscribe</button>

                <div id="validator-newsletter" class="form-result"></div>
            </form>
            <p>*We won’t spam you. we promise! <i class="las la-thumbs-up"></i></p>
        </div>
    </div>
</div>
<!-- End Subscribe Area -->